<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate">
  <div class="preview ">
    <mat-label>{{inputData.data.displayValue}}</mat-label>
    <mat-slider class="full-width" color="primary"
      (change)="this.inputData.data.defaultValue=$event.value;emitChangeData()" [disabled]="false" [step]=".1"
      [max]="validation?.value" [min]="min" [thumbLabel]="true" [(ngModel)]="inputData.data.value">
    </mat-slider>
    <mat-hint align="end">{{inputData?.data?.hint}}</mat-hint>
  </div>
</div>

<!-- Section table create view -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}" class="table-view" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      <mat-slider class="full-width" color="primary" [step]="inputData?.value" [min]='0' [max]='validation?.value'
        [disabled]="true" [thumbLabel]="true" [value]='inputData.value'>
      </mat-slider>
    </span>
    <span *ngIf="(isEdit==inputData?.indexNo)">
      <mat-slider class="full-width" color="primary" [step]=".1" [min]='0' [max]='validation?.value' [thumbLabel]="true"
        [value]='inputData.value' (change)='emitChangeData();' [(ngModel)]='inputData.data.defaultValue'
        (blur)="isEdit=0;">
      </mat-slider>
    </span>
  </div>
</ng-container>

<!-- Table data View -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      <mat-slider class="full-width" color="primary" [step]="inputData?.value" [min]='0' [max]='validation?.value'
        [disabled]="true" [thumbLabel]="true" [value]='inputData.value'>
      </mat-slider>
    </span>
    <span *ngIf="(isEdit==inputData?.rowId?.id)">
      <mat-slider class="full-width" color="primary" [step]=".1" [min]='0' [max]='validation?.value' [thumbLabel]="true"
        [value]='inputData.value' (change)='emitChangeData();' [(ngModel)]='inputData.data.defaultValue'
        (blur)="isEdit=0;">
      </mat-slider>
    </span>
  </div>
</ng-container>

<!-- edit and VIew -->

<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit ? 'edit-field' :'view-field' }}">
    <mat-slider class="full-width" color="primary" [step]=".1" [min]='0' [max]='validation?.value'
      [disabled]="!isEdit? 'true' : 'false'" [thumbLabel]="true" [value]='inputData.data.defaultValue'
      (change)='emitChangeData();' [(ngModel)]='inputData.data.defaultValue'>
    </mat-slider>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
</div>
