.view-field {
  padding: 0px 0px;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}

.edit-field {
  height: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}
