<div class="label-text">Field</div>
<div class="input-text-select">
    <mat-select placeholder="Search Field" (selectionChange)="changeOption($event.value)">
        <mat-option *ngFor="let item of metaData" [value]="item.displayValue">
            {{item.displayValue}}
        </mat-option>
    </mat-select>
</div>