<div>
  <!-- *ngIf="!selector.data.computational && !selector.data.showHideFields.length && (!test1(selector.data.name)?isShowHide(selector.data.name):true)" -->
  <ng-container>
    <div
      *ngIf="!selector.data?.computational && !(!!selector.data?.showHideFields && selector.data?.showHideFields.length) && (!test1(selector.data?.name)?isShowHide(selector.data.name):true)">
      <!-- {{selector.data.type}} -->
      <div *ngIf="selector.data.type=='number'">
        <app-number [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-number>
      </div>
      <div *ngIf="selector.data.type=='text'">
        <app-text [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-text>
      </div>
      <div *ngIf="selector.data.type=='tel'">
        <app-tel [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-tel>
      </div>
      <div *ngIf="selector.data.type=='email'">
        <app-email [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-email>
      </div>
      <div *ngIf="selector.data.type=='url'">
        <app-url [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-url>
      </div>
      <div *ngIf="selector.data.type=='password'">
        <app-password [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-password>
      </div>
      <div *ngIf="selector.data.type=='textarea'">
        <app-textarea [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-textarea>
      </div>
      <div *ngIf="selector.data.type=='date'">
        <app-date [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-date>
      </div>
      <div *ngIf="selector.data.type=='time'">
        <app-time [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-time>
      </div>
      <div *ngIf="selector.data.type=='select'">
        <app-select [data]="componentValueInput" (event)="test($event);eventEmit.emit($event)"></app-select>
      </div>
      <div *ngIf="selector.data.type=='checklist'">
        <app-checklist [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-checklist>
      </div>
      <div *ngIf="selector.data.type=='checkbox'">
        <app-checkbox [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-checkbox>
      </div>
      <div *ngIf="selector.data.type=='toggle'">
        <app-toggle [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-toggle>
      </div>
      <div *ngIf="selector.data.type=='image'">
        <app-image [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-image>
      </div>
      <div *ngIf="selector.data.type=='attachment'">
        <app-attachment [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-attachment>
      </div>
      <div *ngIf="selector.data.type=='slider'">
        <app-slider [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-slider>
      </div>
      <div *ngIf="selector.data.type=='datetime'">
        <app-datetime [data]="componentValueInput" (event)="eventEmit.emit($event)"> </app-datetime>
      </div>
      <div *ngIf="selector.data.type=='user'">
        <app-user [data]="componentValueInput" (event)="eventEmit.emit($event)"></app-user>
      </div>
      <div *ngIf="selector.data.type=='table'">
        <app-table-section [data]="componentValueInput" (event)="eventEmit.emit($event);"></app-table-section>
        <!-- <app-view [data]="componentValueInput"></app-view> -->
      </div>
    </div>
  </ng-container>
  <div *ngIf="!!selector.data?.computational">
    <app-computation-field-view [inputData]="componentValueInput" (event)="eventEmit.emit($event);">
    </app-computation-field-view>
  </div>
  <div *ngIf="!!selector.data?.showHideFields">
    <app-showhide [inputData]='componentValueInput' (eventEmit)="eventEmit.emit($event);"></app-showhide>
  </div>
</div>
