/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important; font-size:16px}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} */
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top:-1px;
}
::ng-deep mat-form-field .mat-icon{
    font-size:16px!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0 .25em 0 .75em;
} */


::ng-deep .not-valid .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-warn);
}

::ng-deep .not-valid .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-warn) !important;
}

::ng-deep .not-valid .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--color-warn) !important;
}

::ng-deep .valid .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #e0e0e0;
}

::ng-deep .valid .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-primary) !important;
}
