.create-form {
  display: grid;
  grid-template-columns: 90% 10%;
  box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
  padding: 6px 10px 5px 19px;
}

.create-process-field {
  padding: 0px 20px;
}

.create-process-head {
  color: #4f4b4b;
  font-size: 16px;
  font-weight: 500;
}

.form-field {
  padding: 10px 0px;
}

/* button{ 
    margin-right: 0px 10px!important;
  } */
.cancel-btn {
  margin-right: 20px;
}

.margin-10 {
  margin: 10px 0px;
}




::ng-deep .mat-dialog-container {
  padding: 0px !important;
  border-radius: 0px !important;
  overflow: hidden !important;
}

.form-builder-head {
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.form-builder-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 21px 10px 0px;
  box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
}

.add-btn {
  cursor: pointer;
}
