<div>
  <span *ngIf="isLoading">
    <app-loader [progressBarType]='"progress-bar"' [mode]="'indeterminate'"></app-loader>
  </span>
  <div class="create-form">
    <h4 class="margin-0 margin-10 create-process-head">{{InfoData? 'Edit Form':'Create Form'}}</h4>
    <button mat-icon-button (click)="dialogClose()">
      <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
    </button>
  </div>

  <div class="create-process-field">
    <mat-error *ngIf="isNameExist">Name is already taken</mat-error>
    <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Process name" (blur)="createDataTable.name.length ? isCheckExist(): '';"
        (input)="isNameExist=false" [(ngModel)]="createDataTable.name" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter Process Description (optional)"
        [(ngModel)]="createDataTable.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>Categories</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of flowView" [selectable]="selectable" [removable]="removable"
          (removed)="remove(item)">
          {{item.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of categoryList" [value]="item">
          {{item?.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>select Group</mat-label>
      <input type="text" matInput [matAutocomplete]="autoGroup" [(ngModel)]="createDataTable.groupName"
        (input)="getGroup($event.target.value)">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-option *ngFor="let option of groupList" [value]="option.name">
          {{option.displayValue}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix *ngIf="!groupList.length" class="add-btn" (click)="addGroup(createDataTable.groupName);">add
      </mat-icon>
    </mat-form-field>
    <!-- view Access -->
    <!-- <app-designation (designationEventEmit)='designationEvent($event);' [designationAcess]='designationAcess'>
    </app-designation> -->
    <!-- iconList -->
    <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>Select Icon</mat-label>
      <input matInput aria-label="State" [matAutocomplete]="autoIcon" (input)="iconsFilter($event.target.value)"
        [value]="createDataTable?.icon" required>
      <mat-autocomplete #autoIcon="matAutocomplete">
        <mat-option *ngFor="let icon of filterIconList" [value]="icon" (click)="createDataTable.icon=icon">
          <mat-icon>{{icon}}</mat-icon> <span>{{icon | titlecase}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix>image_search</mat-icon>
    </mat-form-field>
    <!-- Actions -->
    <div class="form-field float-right">
      <button mat-raised-button class="cancel-btn" (click)="dialogClose()">Cancel</button>
      <button mat-raised-button color="primary"
        [disabled]="!createDataTable.name.trim().length && !createDataTable.icon.length"
        (click)="createUpdate()">{{ InfoData? 'Update': 'Save'}}</button>
    </div>
  </div>
</div>


<ng-template #formBuilder>
  <div class="form-builder-container">
    <div class="form-builder-head">
      <h4 class="margin-0">{{dataTablePassInfo.name}}</h4>
    </div>
    <div class="text-center">
      <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Form" >Form</mat-button-toggle>
            <mat-button-toggle value="Workflow">Workflow</mat-button-toggle>
            <mat-button-toggle value="Permission">Permission</mat-button-toggle>
          </mat-button-toggle-group> -->
    </div>
    <div>
      <button (click)="formBuilderDialogRef.close()" class="float-right" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <app-form-builder [dataTableInfo]="dataTablePassInfo"></app-form-builder>
</ng-template>
