.template1-container {
  padding: 1%;
  height: 95%;
  width: 97%;
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 2%;
}

.template1-item {
  padding: 10px;
  background: red;
}

mwlResizable {
  box-sizing: border-box;
}

.edit-drag-container {
  width: max-content;
  height: max-content;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 1%;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.edit-drag-container:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drage-item {
  /* display: grid;
  grid-template-columns: 50% 50%; */
}

.drage-item p {
  margin: 0px;
  text-align: left;
}

.drage-item-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.drage-item-head {
  display: grid;
  grid-template-columns: 50% 50%;
}

.drage-item-1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  margin: 2% 2%;
  padding: 3% 0%;
  float: right;
  width: 20%;
}

.custom-head {
  margin: 0;
  text-align: left;
  padding-bottom: 5%;
  font-weight: 400;
}

.border-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.color-input {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border: 0px solid;
  width: 24%;
  height: 32px;
}

/* Side container */
.template1-side-container {
  display: grid;
  grid-template-rows: 47% 47%;
  grid-gap: 6%;
}

.template1-side-item {
  box-shadow: 0 2px 9px 0 rgba(92, 20, 215, .1);
}

.click-to-add {
  height: 9%;
  border: 1px dashed;
  cursor: pointer;
  margin: 0;
  color: #000;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.select-template-head {
  margin: 0;
  font-size: 14px;
  padding: 0px 10px;
  font-weight: 500;
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  padding: 10px 0px;
}

.grid-two {
  display: grid;
  grid-template-columns: 6% 47% 47%;
  margin: 16px 0px;
  border-bottom: 1px dashed #c6c6c6;
  padding: 10px 0px;
}

.select-template-container {
  width: 30%;
}

.icon-with-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.padding-left-10 {
  padding-left: 10px;
}

.text-left {
  text-align: left;
}

/* Main container */
.template1-main-container {
  background: transparent;
  padding: 0px 10px;
  overflow-x: hidden;
}

.head-row {
  height: 6%;
  background: transparent;
  display: grid;
  grid-template-columns: 50% 50%;
}

.head-row-item {
  display: flex;
  align-items: center;
}

.head-row-rigth {
  justify-content: flex-end;
}

::ng-deep .mat-tab-label {
  /* height: max-content!important; */
  padding: 12px 24px !important;
  min-width: max-content !important;
}

.item-list {
  border: 1.5px solid #e4e4e4ad;
  padding: 20px;
  margin: 40px 20px;
  position: relative;
  border-radius: 4px;
  padding-top: 35px;
}

.group-name {
  position: absolute;
  top: -22px;
  left: 20px;
  border: 1.5px solid #ededed;
  border-radius: 4px;
  padding: 10px 9px;
  background: #fff;
  color: #414040;
  font-weight: 450;
}

.row {
  display: grid;
  /* background:red; */
}

.item-no {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-item {
  padding: 10px 0px;
  position: relative;
}

.select-template-head-container {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 2px solid #1d9be5;
}

.close-btn-temp {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 2px;
  display: flex;
}

.template-item-p {}

.template-item-p-edit {
  color: #343030;
  position: absolute;
  z-index: 999;
  right: -10px;
  top: -8px;
  display: none;
}

.template-item:hover .template-item-p-edit {
  display: block;
}

.empty-item {
  width: 100%;
  border: 1px dashed;
  position: relative;
  min-height: 27px;
}

.select-icon {
  color: #3f51b5;
  font-size: 10px;
  border-bottom: .4px solid;
  cursor: pointer;
}
.icon-search-input{
  width: 91%;
}
.text-icon-text{
  margin-top: -7px;
  margin-left: 6px;
}
.icon-with-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
