<div class="template1-container">
  <!-- Side container -->
  <div #myDiv class="template1-side-container">
    <!-- (click)="customView();isViewEdit=!isViewEdit" -->
    <div class="template1-item template1-side-item" mwlResizable [enableGhostResize]="true"
      [resizeEdges]="{bottom: true, right: true, top: true, left: true}" (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style">
      <div>
        <div class="center template-item" *ngFor="let item of teplateItems;index as indexNo">
          <div class="template-item-p" *ngIf="item.type==='avatar'">
            <button mat-fab color="primary">
              {{!!value[item['field']] ? value[item['field']][0] :'A'}}
            </button>
            <button (click)="templateSelectIndex=indexNo;isTempateShow=true" class="template-item-p-edit"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="template-item-p icon-with-text" *ngIf="item.type==='icon-with-text'">
            <!-- Icon -->
            <span><mat-icon>{{!!item['icon'] ? item['icon'] :'insert_emoticon'}}</mat-icon></span>
            <!-- Text  -->
            <span class="text-icon-text">{{!!value[item['field']] ? value[item['field']] :'not available'}}</span>
            <button (click)="templateSelectIndex=indexNo;isTempateShow=true" class="template-item-p-edit"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="template-item-p" *ngIf="item.type==='text-only'">
            <span>
              {{!!value[item['field']] ? value[item['field']] :'Text'}}</span>
            <button (click)="templateSelectIndex=indexNo;isTempateShow=true" class="template-item-p-edit"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="template-item-p" *ngIf="item.type==='field-with-text'">
            <span>{{item?.item?.displayValue}} : </span>
            <span>{{!!value[item['field']] ? value[item['field']] :'Text'}}</span>
            <button (click)="templateSelectIndex=indexNo;isTempateShow=true" class="template-item-p-edit"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="empty-item" *ngIf="!item.type">
            <button (click)="templateSelectIndex=indexNo;isTempateShow=true" class="template-item-p-edit"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <p class="click-to-add"
          (click)="teplateItems.push({'type':'',field:''});templateSelectIndex=teplateItems.length-1;isTempateShow=true">
          Click to add + </p>
      </div>

    </div>

    <div (click)="isViewEdit=!isViewEdit" class="template1-item template1-side-item" mwlResizable
      [enableGhostResize]="true" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
      (resizeEnd)="onResizeEnd($event)" [ngStyle]="style">

    </div>

  </div>

  <!-- Main container -->
  <div class="template1-main-container">
    <!-- Head row -->
    <div class="head-row">
      <div class="head-row-item">
        <button mat-icon-button (click)="closeEvent.emit(true)">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="head-row-item head-row-rigth">
        <button mat-icon-button>
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline
          </mat-icon>
        </button>
      </div>
    </div>

    <!-- Content Render -->
    <div>
      <mat-tab-group>
        <mat-tab label="{{item | titlecase}}" *ngFor="let item of subProcessList;index as i">
          <ng-template matTabContent>
            <div class="item-list" *ngFor="let group of groupList">
              <div class="group-name {{groupSelect==group.groupName ? 'selected-group':''}}" id="{{group.groupName}}">
                {{group.groupName | titlecase}}
              </div>
              <div class="row" *ngFor="let row of metaDataGroupBy[group.groupName];index as i"
                [ngStyle]="{'grid-template-columns':row.grid}">
                <div *ngFor="let item of row.items;index as j;">
                  <app-fields-map [data]="{isView:true,data: item, value: value[commonService.toCamelCase(item.name)]}"
                    (eventEmit)="eventListen($event)">
                  </app-fields-map>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>






  <div *ngIf="isTempateShow" class="edit-drag-container select-template-container" cdkDrag>
    <div class="select-template-head-container">
      <h4 class="select-template-head">
        Select Type
      </h4>
      <button (click)="isTempateShow=false" class="close-btn-temp" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <div class="grid-two">
        <span class="item-no">1</span> <button mat-fab color="primary" [matMenuTriggerFor]="menu"
          (click)="teplateItems[templateSelectIndex]['type']='avatar';">{{ !!value[teplateItems[templateSelectIndex]['field']] ? value[teplateItems[templateSelectIndex]['field']][0] : 'A' }}</button>
      </div>

      <!-- Text with icon -->
      <div class="grid-two">
        <span class="item-no">2</span>
        <div [matMenuTriggerFor]="menu" class="icon-with-text" (click)="teplateItems[templateSelectIndex]['type']='icon-with-text';">
          <mat-icon>insert_emoticon</mat-icon>
          <span class="padding-left-10">
            Text area
          </span>

        </div>
        <div>
          <span class="select-icon" [matMenuTriggerFor]="iconListMenu">click to select icon</span>
        </div>
      </div>
      <!-- Text Only -->
      <div class="grid-two" (click)="teplateItems[templateSelectIndex]['type']='text-only';" [matMenuTriggerFor]="menu">
        <span class="item-no">3</span> <span class="text-left">Text only</span>
      </div>

      <div class="grid-two" (click)="teplateItems[templateSelectIndex]['type']='field-with-text';"
        [matMenuTriggerFor]="menu">
        <span class="item-no">4</span> <span class="text-left">Field Name : Text only</span>
      </div>
      <!-- Field List show -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of metaDataArray"
          (click)="teplateItems[templateSelectIndex]['field']=commonService.toCamelCase(item.name);teplateItems[templateSelectIndex]['item']=item">
          {{item.displayValue}}</button>
      </mat-menu>

      <!-- Icon List -->
      <mat-menu #iconListMenu="matMenu" >
        <input class="icon-search-input" (click)="$event.stopPropagation()" placeholder="Search icon" (input)="iconsFilter($event.target.value)" />
        <button mat-menu-item *ngFor="let icon of filterIconList" (click)="teplateItems[templateSelectIndex]['icon']=icon">
          <mat-icon>{{icon}}</mat-icon> {{icon}}
        </button>
      </mat-menu>
    </div>
    <div>
      <button mat-raised-button (click)="isTempateShow=false">Cancel</button>
      <button mat-raised-button color="primary" (click)="isTempateShow=false;saveTemplate()">Save</button>
    </div>
  </div>












  <!-- Edit container -->
  <div *ngIf="isViewEdit" class="edit-drag-container" cdkDrag>
    <h4 class="custom-head">Custom your section</h4>
    <div class="drage-item">
      <p>Layout</p>
      <div class="drage-item-head">
        <div class="drage-item-c">
          <span>W</span>
          <input type="number" (input)="customView($event.target.value,'w')" [value]="style.width.split('%')[0]">
        </div>
        <div class="drage-item-c">
          <span>H</span>
          <input type="number" (input)="customView($event.target.value,'h')" [value]="style.height.split('%')[0]">
        </div>
      </div>
    </div>
    <div class="drage-item">
      <p>Color</p>
      <div class="drage-item-head">
        <div class="drage-item-c">
          <span>color</span>
          <input type="color" class="color-input" (change)="customView($event.target.value,'c')" [value]="style.color">
        </div>
        <div class="drage-item-c">
          <span>bg color</span>
          <input type="color" class="color-input" (change)="customView($event.target.value,'bg')"
            [value]="style.background">
        </div>
      </div>
    </div>
    <div class="drage-item">
      <p>border</p>
      <div class="border-container">
        <div class="drage-item-c">
          <input type="number"
            (input)="customView($event.target.value+'px '+style.border.split(' ')[1]+' '+style.border.split(' ')[2]+' ','b')"
            [value]="style.border.split(' ')[0].split('px')[0]">
          <input type="color" class="color-input"
            (change)="customView(style.border.split(' ')[0]+' ' + style.border.split(' ')[1]+' ' +$event.target.value,'b')"
            [value]="style.border.split(' ')[2]">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
              (click)="customView(style.border.split(' ')[0]+'solid '+style.border.split(' ')[2],'b')">
              Solid
            </button>
            <button mat-menu-item
              (click)="customView(style.border.split(' ')[0]+'dashed '+style.border.split(' ')[2],'b')">
              Dashed
            </button>
          </mat-menu>
        </div>
        <div class="drage-item-c">
          <span> Radius </span>
          <input (input)="customView($event.target.value+'px','b-r')" type="number"
            [value]="style['border-radius'].split('px')[0]">
        </div>
      </div>
      <!-- <div>
        <span>Box shadow</span>
        <input type="number">
      </div> -->
    </div>
  </div>
</div>
