<div class="main-container" *ngIf="isLoaded">
  <div class="container-grid">
    <div class="calender-container">
      <div class="title-container calender-title">Calender</div>
      <div class="mini-container">
        <div class="calender-list-grid" *ngFor="let item of data?.calendar">
          <span class="calender-data">{{item?.date | date :'mediumDate'}}</span>
          <span class="calender-data">{{item?.day_order | titlecase}}</span>
          <span class="calender-data">{{item?.day_type | titlecase}}</span>
        </div>
      </div>
    </div>
    <div class="student-container ">
      <div class="title-container student-title grid-title">
        <div></div>
        <div class="align-item">Student</div>
        <div class="align-item">{{data?.student?.total}}</div>
      </div>
      <div class="mini-container">
        <div class="student-grid-list" *ngFor="let item of studentInfo">
          <span class="student-info">
            <mat-icon>{{item?.icon}}</mat-icon>
          </span>
          <span class="alignt-item">{{item?.displayName}}</span>
          <span class="student-info">{{data.student[item?.name]}}</span>
        </div>
      </div>
    </div>
    <div class="absentee-container ">
      <div class="title-container absentees-title grid-title">
        <div></div>
        <div class="align-item">Absentees</div>
        <div class="align-item">{{data?.student?.total}}</div>
      </div>
      <div class="mini-container">
        <div class="absentee-grid-list" *ngFor="let item of data.absentees">
          <span class="alignt-item">{{item?.date | date :'mediumDate'}} ( {{item?.date | date :'EEE'}} )</span>
          <span class="student-info">{{item?.count}}</span>
        </div>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
