.main-container {
  margin: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 10px;
}

.calender-container {
  border: 1px solid #4db601;
  border-radius: 2px;
}

.calender-title {
  background: #00800014;
  border-bottom: 1px solid #4cb600;
}

.mini-container {}

.gird-list {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-gap: 10px;
}

.title-container {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender-list-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  padding: 10px;
}

.calender-data {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-title {
  background: cornflowerblue;
}

.absentees-title {
  background: #ffd6d6;
  border-bottom: 1px solid #ff00005c;
}

.absentee-container {
  border: 1px solid #ff00005c;
  border-radius: 2px;
}

.student-grid-list {
  display: grid;
  grid-template-columns: 10% 60% 20%;
  grid-gap: 10px;
  font-size: 13px;
  padding: 8px;
  color: #666666;
}

.student-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-container {
  border: 1px solid #6495ed;
  border-radius: 2px;
}

.alignt-item {
  display: flex;
  align-items: center;
}

.grid-title {
  display: grid;
  grid-template-columns: 10% 60% 20%;
}

.align-item {
  display: flex;
  justify-content: center;
}

.absentee-grid-list {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 10px;
  padding: 10px;
  font-size: 13px;
  color: #373434;
}