.asse-mark-report-container {
    display: grid;
    grid-template-columns: 200px calc(100% - 210px);
    box-sizing: border-box;
    padding: 20px;
    grid-gap: 10px;
    height: 100%;
}

.asse-mark-report-filter-container {
    border: 1px solid #ded8e4;

}

.asse-mark-report-main-container {
    border: 1px solid #ded8e4;
    overflow: auto;
}

.input-item-container {
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 6px;
    box-sizing: border-box;
}

.input-container {
    border: 1px solid #afaaaa;
    padding: 5px;
    border-radius: 2px;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

th,
td {
    border: 1px solid #e9e9e9;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

td {
    color: #6c6b6d;
    font-weight: 400;
}

.text {
    font-size: 10px;
    width: max-content;
    padding: 4px 6px;
    border-radius: 3px;
}

.na {
    background: #ff40810a;
    color: #ff4081;
}

.ab {
    background: #e11c0e17;
    color: #de1a0c;
}

.subject-code {
    font-size: 12px;
    color: #676666;
    padding-top: 3px;
}

.get-report-btn {
    padding: 8px;
    text-align: center;
    user-select: none;
    background: var(--color-primary-opacity-25);
    color: var(--color-primary);
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
}

.display-center {
    display: flex;
    align-content: center;
    justify-content: center;
}