<div class="asse-mark-report-container">
  <div class="asse-mark-report-filter-container">

    <div class="input-item-container" *ngFor="let item of filterItemList;index as filterIndex">
      <div>{{filterItemObject[item].display_value}}</div>
      <div class="input-container">
        <mat-select id="{{item}}" (selectionChange)="selectOption(item,$event,filterIndex)"
         (click)="getFilterList(item)">
          <mat-option *ngFor="let item of filterItemObject[item]?.filterList" [value]="item.id">
            {{item.value}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="display-center">
      <button class="get-report-btn" (click)="getData();">Get Report</button>
    </div>

  </div>

  <div class="asse-mark-report-main-container">

    <div>
      <table>
        <tr>
          <th>S.No</th>
          <th>REG No</th>
          <th>NAME</th>
          <th *ngFor="let head of data?.headers" position='above' matTooltip="{{head.subject_name}}">
            <p class="margin-0">{{head?.subject}}</p>
            <p class="margin-0 subject-code">({{head?.subject_code}})</p>
          </th>
          <th  *ngIf="!!data?.headers.length">TOTAL MARK</th>
          <th *ngIf="!!data?.headers.length">MARK <br> % </th>
          <th *ngIf="!!data?.headers.length">PASS</th>
          <th *ngIf="!!data?.headers.length">FAIL</th>
          <th *ngIf="!!data?.headers.length">AB </th>
        </tr>
        <tr *ngFor="let item of data?.marks;index as indexNo">
          <td>{{indexNo+1}}</td>
          <td>{{item.register_number}}</td>
          <td>{{item.name}}</td>
          <td *ngFor="let head of data?.headers;">
            <span *ngIf="!!item[head.id]">
              <span *ngIf="item[head.id].attendance=='AB'" class="text ab">AB</span>
              <span *ngIf="item[head.id].attendance=='P'">
                {{item[head.id].class_test_mark}} </span>
            </span>
            <span *ngIf="!item[head.id]" class="text na">NA</span>
          </td>
          <td  *ngIf="!!data?.headers.length">{{item.sum}}</td>
          <td  *ngIf="!!data?.headers.length">{{item.avg}}</td>
          <td  *ngIf="!!data?.headers.length">{{!!item.pass ? item.pass :''}}</td>
          <td  *ngIf="!!data?.headers.length">{{!!item.fail ? item.fail :''}}</td>
          <td  *ngIf="!!data?.headers.length">{{!!item.ab ? item.ab :''}}</td>


        </tr>
      </table>

    </div>

  </div>

</div>