.content-in-table {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 15px;
    max-width: 400px;
}

.content {
    /* overflow: auto; */
    white-space: pre;
}

.input-view-2-1 {
    border: 1px solid #cecece;
    padding: 7px;
    font-size: 14px;
    width: 95%;
    border-radius: 4px;
    height: 30px;
}

.input-view-2-2 {
    border: none;
    padding: 7px;
    font-size: 14px;
    width: 95%;
    border-radius: 4px;
    height: 30px;
}