.container {
  padding: 5%;
}

.edit-input {
  border: none;
  background: transparent;
  /* height: 17px; */
  width: 50%;
}

.edit-input:hover {
  border-bottom: 1px dashed #adadad;
}

.stage-name {
  font-size: 24px;
}

.stage-description {
  color: #787777;
  font-size: 12px;
}

.assign-to-conatiner {
  padding: 10px 0px;
}

.form-field {
  width: 50%;
}

.pad-10 {
  padding-top: 10px;
}
