<div class="container">
  <div>
    <input [(ngModel)]="StepInfo.name" (change)="emitEvent();" placeholder="Step Name" class="edit-input stage-name">
  </div>
  <div>
    <input [(ngModel)]="StepInfo.description" (change)="emitEvent();" placeholder="descriptions"
      class="edit-input stage-description">
  </div>
  <hr>
  <div class="assign-to-conatiner">
    <div class="assign-to"> Assigned to</div>
    <div class="stage-description pad-10">
      Choose from users, groups, and user fields
    </div>
    <mat-form-field appearance="outline" class="form-field  pad-10">
      <mat-label>Select User</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of StepInfo.assginedTo" [selectable]="true" [removable]="true"
          (removed)="remove(item)">
          {{item.userName}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text" placeholder="Search user.." matInput [matAutocomplete]="auto"
          (input)='getUsers($event.target.value);' [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of optionList" [value]="item">
          {{item.userName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
