.img-logo {
    height: 32px;
    display: flex;
}

.notification-icon {
    display: flex;
    justify-content: flex-end;
    margin: 0% 0%;
}

.notification-icon .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.notification-container {
    height: 31vh;
    overflow: scroll;
    padding: 10px 0px;
    overflow-x: hidden;
}

.notification-head {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 85% 15%;
}

.notification-title {
    font-size: 18px;
    font-weight: 500;
    color: #6c6a6a;
}

.mark-as-read {
    padding-top: 9px;
    font-size: 88%;
    font-weight: 400;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
    /* font-family: 'Roboto', sans-serif; */
}

.notification-list {
    padding: 10px;
    border-bottom: 1px solid rgba(49, 55, 175, 0.12);
    /* border-bottom: 1px solid #dddddd; */
}

.list-notify {
    display: grid;
    grid-template-columns: 15% 30% 9% 48%;
    font-size: 15px;
}

.avator {
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.avator-inside {
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    position: absolute;
    margin-top: -76px;
}

.message {
    font-size: 14px
}

.un-read-message {
    background: #eef7ff;
}

.timestamp {
    font-size: 86%;
    color: #9d9d9d;
    padding-top: 3px;
}

::ng-deep .mat-menu-panel {
    max-width: 370px !important;
    min-width: max-content !important;
}

.notification-icon {
    font-size: 23px;
}

.field-class {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding-top: 8px; */
}

.list-notify1 {
    padding-left: 51px;
    grid-gap: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #4a4a4a;
    margin-top: -10px;
}

.process-type {
    display: grid;
    margin-top: 8px;
    grid-template-columns: 10% 5% 85%;
    grid-gap: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    /* letter-spacing: 0.84px; */
    text-align: left;
    color: #9d9d9d;
}

.process-class {
    font-size: 90%;
    padding-top: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--color-primary);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* position: absolute; */
    /* padding-left: 214px; */
}

.img-class {
    width: 24px;
    padding-top: 0px;
    font-size: 14px;
}

.arrow-right {
    /* width: 55%; */
    color: var(--color-primary);
    font-size: 25px;
}

.arrow-top {
    /* padding-top: 2px; */
    margin-top: -2px;
}

.mat-badge-content {
    background-color: red;
}

::ng-deep .mat-menu-class {
    margin-top: -36px;
    margin-left: 39px;
    width: 240px;
    height: 107px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-list {
    width: 164px;
    height: 105px;
}

.un-read-message {
    background: #eef7ff;
}

.split-menu {
    display: grid;
    grid-template-columns: 17% 83%;
}

.user-name {
    width: 162px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.57px;
    text-align: center;
    color: #363636;
    text-align: start;
}

.email {
    width: 162px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.46px;
    text-align: center;
    color: #9d9d9d;
    margin-top: -37px;
    margin-left: 19px
}

.designation {
    width: 160px;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.46px;
    text-align: center;
    color: #9d9d9d;
    margin-top: -35px;
    text-align: start;
    margin-left: 21px;
}

.email-icon {
    color: #9d9d9d;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 5px;
}

.profile-right {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: inline-block;
    font-size: 264px;
    height: -6px;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 63%;
    border-left-color: #ff0000;
    left: -1%;
    opacity: 0.12;
    border-left: 35px solid;
    top: -7px;
}

.mat-menu-content {
    height: 38px;
    padding: 11px 4px;
}