<span class="mark-as-read" (click)="$event.stopPropagation();markAsRead()">Mark all
  as
  read</span>
<div class="notification-container" (scroll)="scroll($event)" id="notificationDiv">
  <div *ngFor="let item of notifications;let i=index"
    class="notification-list {{item.is_seen!='0'  ? '':'un-read-message'}}">
    <div class="list-notify">
      <span class="avator" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()"
        [style.backgroundColor]="getColors(i)">{{item?.action_by?.user_name[0]}}</span>
      <span class="field-class" [matMenuTriggerFor]="name"
        #menuTrigger="matMenuTrigger">{{item?.row_info?.table_name}}</span>
      <span class=" arrow-top"><i class="material-icons arrow-right">arrow_right_alt</i></span>
      <span class="process-class" [matMenuTriggerFor]="processName"
        #menuTrigger="matMenuTrigger">{{item?.row_info?.value}}</span>
    </div>
    <div class="list-notify1">
      <span></span>
      <span class="message">{{item?.notification?.description}}
      </span>
    </div>
    <div class="process-type">
      <span></span>
      <span><img class="img-class" src="../../../assets/img/{{item.action}}.svg"></span>
      <!-- <span *ngIf="item.fieldType === 'update'"><img class="img-class" src="../../../assets/img/update.svg"></span>
            <span *ngIf="item.fieldType === 'delete'"><img class="img-class" src="../../../assets/img/delete.svg"></span> -->
      <span class='timestamp'>
        {{item?.created_on | date:'medium'}}
      </span>
    </div>
    <mat-menu class="mat-menu-class" #menu="matMenu" [overlapTrigger]="false">
      <div class="split-menu" (mouseleave)="menuTrigger.closeMenu()">
        <div>
          <span class="profile-right" [style.border-left-color]="getColors(i)"></span>
          <span class="avator-inside" [style.backgroundColor]="getColors(i)">{{item?.action_by?.user_name[0]}}</span>
        </div>
        <div class="menu-list">
          <span class="user-name" mat-menu-item>{{item?.action_by?.user_name}}</span>
          <i class="material-icons email-icon">email</i>
          <span class="email" mat-menu-item>{{item.action_by?.email}}</span>
          <i class="material-icons email-icon">person</i>
          <span class="designation" mat-menu-item>{{item.action_by?.designation_value}}</span>
        </div>
      </div>
    </mat-menu>
    <mat-menu #name="matMenu">
      <div class="">
        <span>{{item?.row_info?.table_name}}</span>
      </div>
    </mat-menu>
    <mat-menu #processName="matMenu">
      <div class="">
        <span>{{item?.row_info?.value}}</span>
      </div>
    </mat-menu>
  </div>
</div>
