<div *ngIf="true" class="container">

  <div class="row-container">
    <div class="title-name">
      <span> {{currentView.name | titlecase}}</span>
      <span class="description" *ngIf="!!currentView?.description"> ( {{currentView?.description | titlecase}} ) </span>
    </div>

    <div>
      <button class="float-right" mat-raised-button color="primary" (click)="createNewItem(createItem)">New Item +
      </button>
    </div>
  </div>
  <!-- Filter -->
  <div class="view-filter">
    <div class="filter-list">
      <!-- Edit Table -->
      <button mat-stroked-button [matMenuTriggerFor]="menu" class="btn">Edit Table <mat-icon class="btn-icon">
          keyboard_arrow_down
        </mat-icon> </button>
      <mat-menu #menu="matMenu">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div cdkDrag class="edit-table-item-list" *ngFor="let item of tempColumnsToDisplay;index as i;"
            (click)="$event.stopPropagation()">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <mat-checkbox [checked]="item.checked" color="primary"
              (change)="item.checked=$event.checked; addItemList($event,item,i)" matTooltip="click to hide or unhide">
              {{item.displayValue}}
            </mat-checkbox>
            <mat-checkbox (change)="item.sticky=$event.checked;" class="stciky-btn" matTooltip="click to sticky"
              color='warn'></mat-checkbox>
          </div>
        </div>
      </mat-menu>
      <!-- Filter -->
      <button mat-stroked-button class="btn">Filter
        <mat-icon class="btn-icon">filter_list</mat-icon>
      </button>
      <span class="searchContainer">
        <!-- this.apiObj.search={text:$event.target.value}; -->
        <input class="btn search" [matMenuTriggerFor]="search" placeholder="Search"
          (input)="apiObj.search[selectedSearchField]=$event.target.value; getAll();">
        <mat-icon class="search-icon btn-icon">search</mat-icon>
      </span>
      <mat-menu #search="matMenu">
        <p class="search-select-hint">Select the field, for searching on it</p>
        <button mat-menu-item *ngFor="let item of metaData" (click)="searchFieldSelected(item.name)">
          {{item.displayValue}}
        </button>
      </mat-menu>
      <button mat-stroked-button (click)="getAll();" class="btn">
        <mat-icon class="btn-icon">refresh</mat-icon>
      </button>
    </div>
    <div class="pagination">
      <mat-paginator [length]="data.length" [pageSize]="10" [pageSizeOptions]="[5, 10 , 25, 100]"
        (page)="this.apiObj.limit=$event.pageSize;this.apiObj.page=$event.pageIndex;getAll();">
      </mat-paginator>
    </div>
  </div>

  <div class="table-container">
    <div *ngIf="isLoader">
      <!-- <mat-progress-bar class="example-margin" color='primary' mode="query"></mat-progress-bar> -->
      <app-loader [mode]="'query'" [progressBarType]="'qusearchery'"></app-loader>
    </div>
    <!-- Table -->
    <table mat-table [dataSource]="data" matSort
      (matSortChange)="apiObj.sortType=$event.direction;apiObj.sortValue=$event.active;getAll();stickyObj=$event.active;">
      <!-- Selection -->
      <!-- *ngIf="column.name=='select'" -->
      <div *ngIf="!isLoader">
        <ng-container matColumnDef="select" [sticky]='true'>
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="isAllSelected" (change)="isSelectAllCheck($event);">
            </mat-checkbox>
          </th>

          <td mat-cell *matCellDef="let row;index as i" (mouseover)="selectHover=row.id" (mouseleave)="selectHover=-1">
            <div class="select-column-container">
              <span class="select-column-list select-item"
                *ngIf="!(row.id==selectHover) && !row.checked">{{row.select}}</span>
              <mat-checkbox (change)="row.checked=$event.checked;isSelectCheck($event.checked);"
                class="select-column-list select-item" *ngIf="row.id==selectHover || row.checked"
                [checked]="row.checked">
              </mat-checkbox>
              <!-- <mat-icon class="select-column-list">launch</mat-icon> -->
              <button mat-icon-button color="primary">
                <mat-icon class="launch-btn" (click)="viewSelected(viewItem,row,row.id)">launch</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="column.name" *ngFor="let column of metaData" [sticky]='column.sticky' >
          <th mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, column.name)"
            [resizeEdges]="{bottom: false, right: true, top: false, left: false}"
            mat-header-cell *matHeaderCellDef mat-sort-header="{{column.name}}"> {{column.displayValue}}</th>
          <td mat-cell *matCellDef="let element">
            <app-fields-map [data]="{isTableView:true,data: column,value:element[column.name]}"> </app-fields-map>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element;index as i">
            <button mat-icon-button color="warn" (click)="deleteItem(element.id,i,element);">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <p class="text-center" *ngIf="!data.length">
      <img src="../../../assets/img/empty-box.svg" style="width: 50px">
      <span class="diplay-block">No Items</span>

    </p>
  </div>


  <!-- minimize List -->
  <!-- <div class="minimize-container">
<div class="minimize-list" *ngFor="let item of minimize">
  {{item.rowId}}
</div>
  </div> -->
</div>
<ng-template #createItem>
  <app-create [data]="metaData" (modelClose)="createModelDialog.close()"></app-create>
</ng-template>







<ng-template #viewItem mwlResizable [enableGhostResize]="true"
  [resizeEdges]="{bottom: true, right: true, top: true, left: true}" (resizeEnd)="onResizebtn($event)"
  [ngStyle]="style">
  <div class="dialog-container view-subprocess-head">
    <div class="current-view-container">
      <span class="current-view-title">{{currentView.name | titlecase}}</span>
      <span class="description" *ngIf="!!currentView?.description">( {{currentView?.description | titlecase}} )</span>
    </div>

    <div class="close-btn">
      <button mat-icon-button (click)="createModelDialog.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="view-subprocess-content">
    <app-view-subprocess [infoData]='infoData'></app-view-subprocess>
  </div>
</ng-template>

<!-- Template1  -->
<!-- <ng-template #viewItem>
  <app-template1 [infoData]='infoData' (closeEvent)="createModelDialog.close()">
  </app-template1>
</ng-template> -->
