.container {
  margin: 20px;
  height: 100%;
  position: relative;
}

table {
  width: 100%;
  overflow: auto;
  border-spacing: 0px;
}


.table-margin {
  margin: 0.5% 0px;
}

.selectCheckth {
  min-width: 30px;
  max-width: 30px;
  padding: 0px 15px;
  text-align: left;
  position: sticky;
  left: 0;
  z-index: 9999;
  background: inherit !important;
  height: 57px;
  border-right: 1px solid #e3e3e3;
  padding-right: 30px;
}


/* .action {
  min-width: 35px;
  max-width: 24px;
  padding: 0px 6px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  z-index: 9999;
  background: inherit !important;
  border-left: 1px solid #e3e3e3;
} */

.selectCheckth-th {
  background: #fafafa !important;
}

.table-container {
  width: 100%;
  overflow: auto;
  /* border: 1px solid #e2e2e2; */
  border-radius: 3px;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
  min-height: 10%;
}

/* th {
  height: 50px;
  color: #6c6a6a;
  font-weight: 500;
  font-size: 12px;
  min-width: 100px;
  max-width: 170px;
  padding: 0px 15px;
  text-align: left;
  position: relative;
}

tr.mat-row {
  height: 50px !important;
} */

.th-dblClick {
  /* border: 1px solid var(--color-primary); */
}

/* tr:nth-child(odd) {
  background: #f7f7f7;
}

th {
  background: #fff;
} */
tr {
  border-bottom: 1px solid red;
}

td.mat-cell,
th.mat-header-cell {
  padding: 0px 10px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */

}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  /* border-bottom-style: none !important; */
  /* margin-bottom: 10px; */
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  /* border-bottom-style: none !important; */
}

.popup-container {
  /* display: grid;
  grid-template-rows: auto auto; */
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 4rem calc(100% - 4rem);
  grid-template-columns: 100%;
}

.row-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0px;
}

.dialog-container {
  background: #f7fdfd;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 6px;
  box-sizing: border-box;
  padding: 12px 7px 12px 12px;
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.12), 0px 0px 2px 1px rgba(0, 0, 0, 0.26), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
}

.table-open-model-container {
  position: relative;
}

.view-subprocess-content {
  width: 100%;
  overflow: auto;
  background: #fff;
}

.view-subprocess-head {
  width: 100%;
}

.view-filter {
  display: grid;
  grid-template-columns: 60% 40%;
}

.close-btn {
  float: right;
  text-align: right;
}

.search-select-hint {
  margin: 0;
  font-size: 10px;
  padding: 2px 21px 0px 12px;
  color: red;
}

.current-view-container {
  display: flex;
  align-items: center;
}

.diplay-block {
  display: block;
}

.icon-left-arrow {
  color: #9fa9bc;
  position: absolute;
  margin-top: -1px;
  font-size: 20px !important;
}

.current-view-title {
  padding: 0px 13px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #6c6a6a;
  letter-spacing: .3px;
  box-sizing: border-box;
}

.description {
  color: #7b7b7b;
  font-size: small;
}

mat-paginator {
  background: transparent;
}

.btn {
  margin-right: 10px;
  color: #706d6d;
  font-weight: 400;

}

.btn-icon {
  font-size: 20px;
}

.search {
  width: 200px;
  height: 34px;
  transition: width .4s;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 0px 10px;
  margin-right: 10px;
}

.search-input-selected {
  border: 1px solid var(--color-primary);
}

.search-select-colunm-th {
  border: 1px solid var(--color-primary);
  border-bottom: 0px;
}

.search-select-colunm-td {
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.search-icon {
  margin: 9px -36px;
  padding-top: 0px;
  position: absolute;
  color: #797979;
}

.search-clear {
  font-size: 12px;
  margin: 12px -51px;
  cursor: pointer;
  color: var(--color-warn);
}

.selected-search-item {
  font-size: 12px;
  background: var(--color-primary);
  padding: 3px 8px;
  border-radius: 18px;
  color: #fff;
  display: grid;
  grid-template-columns: 80% 20%;
}

.selected-search-close {
  font-size: 13px;
  height: 0px;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
}

/* Table Edit */
.edit-table-item-list {
  margin: 10px;
  font-size: 14px;
  color: #444141;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 1px #999;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.filter-list {
  display: flex;
  align-items: center;
}

.title-name {
  align-items: center;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #6c6a6a;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 9px;
}

.description {
  font-size: 12px;
  color: #52524fab;
  margin: 0px 0px;
  font-weight: 400;
  line-height: 15px;
}

.mat-column-select {
  min-width: 80px !important;
  max-width: 80px !important;
  z-index: 99999 !important;
  /* border-right: 1px solid #e8e8e8; */
  /* padding-right: 0px!important; */
}

.select-column-container {
  display: grid;
  grid-template-columns: 28% 43%;
}

.select-column-list {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-item {
  justify-content: flex-start;
}

.pagination {
  /* display: grid;
  grid-template-columns: 10% 80%; */
}

/* 
th.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
  color: #101c36;
} */

.new-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Action button */
.mat-column-action {
  min-width: 20px;
  max-width: 20px;
  text-align: center;
  /* border-left: 1px solid #e8e8e8; */
}

.launch-btn {
  font-size: 20px;
}

.stciky-btn {
  float: right;
}

.loader {
  display: flex;
  justify-content: center;
}

/* minimize  */
.minimize-container {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px dashed #837f7f;
  padding: 4px 10px;
  display: flex;
}

.minimize-list {
  padding: 0px 5px;
}

mwlResizable {
  box-sizing: border-box;
}

th {
  border-right: 3px solid transparent;
}

/* tr {
  background-color: none;
} */

/* th:hover {
  border-color: var(--color-primary);
} */

.sort-active {
  color: var(--color-primary);
}

.searchContainer {
  width: 45%;
}


/* Action block */
.action-list-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-btn {
  margin: 0px 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8rem;
  padding: 0px 9px;
}

.table-view-1 {
  border-bottom: 1px solid #a2a2a2;
}

.table-view-2 {}

.table-view-3 {}


.grid-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
}

.grid-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.content-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* expand  */
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
