<div *ngIf="true" class="container">

  <div class="row-container">
    <!-- Proccess title and description -->
    <div class="title-name">
      <span> {{currentView?.name | titlecase}}</span>
      <span class="description" *ngIf="!!currentView?.description"> {{currentView?.description}} </span>
    </div>

    <!-- Action block  -->
    <div class="action-list-container">
      <!-- *ngIf="(dataTableInfo?.access_control?.create==1 || !(dataTableInfo?.access_control))" -->
      <button class="action-btn" mat-raised-button color="primary" (click)="createNewItem(createItem)">
        {{currentView.dataTableName==='My_Orders'?'New Order +':'New Item +'}}
      </button>
      <button *ngIf="(dataTableInfo?.access_control?.edit_process==1 || !(dataTableInfo?.access_control))"
        class="action-btn" mat-stroked-button>
        Edit Process </button>
      <button *ngIf="(dataTableInfo?.access_control?.reports==1 || !(dataTableInfo?.access_control))" class="action-btn"
        mat-stroked-button>
        Reports </button>
    </div>



  </div>
  <!-- Filter -->
  <div class="view-filter">
    <div class="filter-list">
      <!-- Edit Table -->
      <button mat-stroked-button [matMenuTriggerFor]="menu" class="btn">Edit Table <mat-icon class="btn-icon">
          keyboard_arrow_down
        </mat-icon> </button>
      <mat-menu #menu="matMenu">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div cdkDrag class="edit-table-item-list" *ngFor="let item of metaData;index as i;"
            (click)="$event.stopPropagation()" [hidden]="!item?.name">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <!-- addItemList($event,item,i) -->
            <mat-checkbox [checked]="item?.checked" color="primary"
              (change)="item.checked=$event.checked;addItemList($event,item,i) " matTooltip="click to hide or unhide">
              {{item?.displayValue}}
            </mat-checkbox>
            <mat-checkbox (change)="item.sticky=$event.checked;" class="stciky-btn" matTooltip="click to sticky"
              color='warn'></mat-checkbox>
          </div>
        </div>
      </mat-menu>
      <!-- Filter -->
      <!-- <button (click)="openFilter();" mat-stroked-button class="btn">Filter
        <mat-icon class="btn-icon">filter_list</mat-icon>
        <app-filter-view *ngIf="filterOpen" [metaData]='metaData'></app-filter-view>
      </button> -->
      <button mat-stroked-button class="btn" *ngIf="!!gridViewFieldToDisplay.length" [matMenuTriggerFor]="menuView">
        View Type:<mat-icon>{{istableView?'table_chart':'grid_on'}}</mat-icon>
      </button>
      <mat-menu #menuView="matMenu">
        <button mat-menu-item (click)="changeView('tableView')">table View</button>
        <button mat-menu-item (click)="changeView('gridView')">Grid View</button>
      </mat-menu>
      <button mat-stroked-button (click)="getAll();" class="btn">
        <mat-icon class="btn-icon">refresh</mat-icon>
      </button>
      <span class="searchContainer">
        <app-search [inputData]="searchMetaData" (event)="apiObj.search=$event;getAll()"></app-search>
      </span>
    </div>
    <div class="pagination">
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10 , 25, 100 ]"
        (page)="this.apiObj.limit=$event.pageSize;this.apiObj.page=$event.pageIndex;getAll();">
      </mat-paginator>

      <div class="new-item-btn">
      </div>
    </div>
  </div>


  <div (scroll)="scrolTri($event)" class="table-container" *ngIf="!!istableView">
    <div *ngIf="isLoader">
      <!-- <mat-progress-bar class="example-margin" color='primary' mode="query"></mat-progress-bar> -->
      <app-loader [mode]="'query'" [progressBarType]="'qusearchery'"></app-loader>
    </div>
    <!-- Table -->
    <!-- Selection -->
    <!-- *ngIf="column.name=='select'" -->
    <div class="table-margin" *ngIf="!!data.length">
      <!-- MAT Table -->
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
        (matSortChange)="apiObj.sortType=$event.direction;apiObj.sortValue=$event.active;getAll();stickyObj=$event.active;">

        <div *ngIf="!isLoader">
          <ng-container matColumnDef="select" [sticky]='true'>
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox [checked]="isAllSelected" color='primary' (change)="isSelectAllCheck($event);">
              </mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let row;index as i" (mouseover)="selectHover=row.id"
              (mouseleave)="selectHover=-1">
              <div class="select-column-container">
                <span class="select-column-list select-item"
                  *ngIf="!(row.id==selectHover) && !row.checked">{{row.select}}</span>
                <mat-checkbox (change)=" row.checked=$event.checked;isSelectCheck($event.checked);"
                  class="select-column-list select-item" color='primary' *ngIf="row.id==selectHover || row.checked"
                  [checked]="row.checked">
                </mat-checkbox>
                <button mat-icon-button color="primary">
                  <mat-icon class="launch-btn" (click)="viewSelected(viewItem,row,row.id)" matTooltip="view details">
                    launch
                  </mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container [matColumnDef]="column.name" *ngFor="let column of metaData" [sticky]='column.sticky'>
            <!-- mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, column.name)" [resizeEdges]="{bottom: false, right: true, top: false, left: false}" -->
            <th mat-header-cell *matHeaderCellDef id="{{column?.name}}" mat-sort-header="{{column?.name}}">
              {{column.displayValue}}</th>
            <td mat-cell *matCellDef="let row" id="{{column?.name}}td">
              <span *ngIf="column.type!=='table'">
                <app-fields-map
                  [data]="{isTableView:true,data: column,value:row[column?.name],rowId:row,rowData:row,inputValue:row}"
                  (eventEmit)="eventListen($event)">
                </app-fields-map>
              </span>
              <span *ngIf="column.type==='table'">

                <button mat-raised-button color="primary"
                  (click)="expandedElement = expandedElement.row ===row ? {row:null,column:column} : {row:row,column:column};setExpand(column)">View
                  More</button>
                <!-- {{column | json}} -->
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="'5'">
              <div *ngIf="!!expandedElement && !!expandedElement.row">

                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement.row ? 'expanded' : 'collapsed'">
                  <app-fields-map
                    [data]="{isTableView:true,data: expandedElement.column,value:'',rowId:element,rowData:element,inputValue:element}"
                    (eventEmit)="eventListen($event)">
                  </app-fields-map>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element;index as i">
              <button mat-icon-button color="warn" (click)="deleteItem(element.id,i,element);">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>

        </div>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>



    <p class="text-center" *ngIf="!data.length">
      <img src="../../../assets/img/empty-box.svg" style="width: 50px">
      <span class="diplay-block">No Items</span>

    </p>
  </div>

  <div *ngIf="!istableView">
    <div class="grid-list">
      <div *ngFor="let item of data" class="grid-card" (click)="viewSelected(viewItem,item,item.id)">
        <div *ngFor="let meta of gridViewMetaData" class="content-list">
          <div>
            <app-fields-map
              [data]="{isTableView:true,data: meta,value:item[meta[name]],rowId:item,rowData:item,inputValue:item}"
              (eventEmit)="eventListen($event)">
            </app-fields-map>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>







<ng-template #createItem>
  <app-create [data]="metaData" (modelClose)="createModelDialog.close();$event?getAll():''"></app-create>
</ng-template>

<ng-template #viewItem [ngStyle]="style">
  <div class="popup-container">
    <div class="dialog-container view-subprocess-head">
      <div class="current-view-container">
        <span class="current-view-title"><span>{{currentView.name | titlecase}}</span>
          <!-- <span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </span>
        <span> {{infoData.value['containerNo']}}</span> -{{infoData.value['shipmentType'] | titlecase}} -->
        </span>
        <span class="description" *ngIf="!!currentView?.description">( {{currentView?.description | titlecase}}
          )</span>
      </div>

      <div class="close-btn">
        <button mat-icon-button (click)="createModelDialog.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-subprocess-content">
      <app-view-subprocess [infoData]='infoData'></app-view-subprocess>
    </div>
  </div>
</ng-template>

<!-- Template1  -->
<!-- <ng-template #viewItem>
  <app-template1 [infoData]='infoData' (closeEvent)="createModelDialog.close()">
  </app-template1>
</ng-template> -->
