<div class="custom-login-page">
    <mat-grid-list cols="7" rowHeight="100vh">
        <mat-grid-tile colspan="5" style="background: #e8f0fe;">
            <div class="custom-login-illustration custom-lt-986-hide">
                <!-- <img src="../../../assets/img/login.jpg"> -->
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="custom-login-content custom-login-lt-986-show-full">
                <div class="log-container">
                  <img class="img-size" src="../../../assets/img/aa_metal_logo_new.svg">
                </div>
                <!-- <h3 class="custom-brand">Airlift's Customer Portal</h3>
                <div class="custom-login-welcome-box">
                    <h1 class="custom-login-slogan">Make a customer, not a sale.</h1>
                    <p class="custom-login-welcome">Welcome Back, Please login to your account</p>
                </div> -->
                <form [formGroup]="loginFormGroup">
                    <div class="custom-login-field-container">
                        <mat-form-field appearance="outline" class="custom-login-lt-986-width-60">
                            <mat-label>Email Address</mat-label>
                            <input matInput type="text" formControlName="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="custom-login-lt-986-width-60">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="passwordType" formControlName="password">
                            <mat-hint matSuffix class="custom-pointer" (click)="togglePasswordType()">
                                {{ passwordType === 'password' ? 'SHOW' : 'HIDE' }}</mat-hint>
                        </mat-form-field>
                    </div>
                    <button type="submit" class="custom-login-button custom-login-lt-986-width-60" [disabled]="!loginFormGroup.valid" (click)="login()" mat-raised-button>Login</button>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
