<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (focus)="isValid=false;">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="inputData.data.defaultValue"
        (input)="validationCallBack($event.target.value)" (change)="emitChangeData();"
        (focus)="validationCallBack($event.target.value)">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>

  </div>
</div>


<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate  && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container">
    <input class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
      [type]="hide ? 'password' : 'text'" [(ngModel)]="inputData.data.defaultValue"
      (input)="validationCallBack($event.target.value)" (change)="emitChangeData();"
      (focus)="validationCallBack($event.target.value)">
    <mat-icon class="prefix" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </div>
  <div [style.color]="errorMessage ? 'red' : ''" class="error-2">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>


<!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
  <app-validations [validateSelector]='inputData'></app-validations>
</div> -->

<!-- Section table Crreate -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      {{password(inputData?.value)}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue"
      *ngIf="inputData?.indexNo==isEdit" (change)="emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isEdit=0;'>
  </div>
</ng-container>


<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{password(inputData?.value)}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue"
      *ngIf="inputData?.rowId.id==isEdit" (change)="emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isEdit=0;'>
  </div>
</ng-container>



<!-- Selected VIew -->
<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit">{{startReturn(inputData.data?.defaultValue.length)}}</span>
    <input (focus)="true" [type]="hide ? 'password' : 'text'" #myInput class="input-view"
      [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit" (change)="emitChangeData();isEdit=!isEdit"
      (input)="validationCallBack($event.target.value)">
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon class="done-btn" *ngIf="isEdit" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
    <span class="hide-icon" *ngIf="isEdit">
      <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
