.hide-icon {
    position: absolute;
    top: 6px;
    right: 7px;
}


/* pwd Css */

.grid-container {
    position: relative;
    /* display: grid; */
    /* grid-template-areas: "input-1" "input-2"; */
    /* grid-template-columns: 75% 25%; */
    background: #fff;
}

.prefix {
    position: absolute;
    text-align: right;
    float: right;
    right: 11px;
    color: #6b6666;
    top: 4px;
    right: 3%;
    padding: 3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}