.dp-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.content input {
  font-size: 17px;
  padding-left: 0px;
}

.t {
  color: #000000bf;
}

.date-input {
  position: relative;
}

.grid-container {
  position: relative;
  /* display: grid; */
  /* grid-template-areas: "input-1" "input-2"; */
  /* grid-template-columns: 75% 25%; */
  background: #fff;
}

.date-icon {
  position: absolute;
  text-align: right;
  float: right;
  right: 7%;
  color: #6b6666;
  top: 13%;
  /* padding: 3px; */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.date-icon:hover {
  background: #ddd3d380;
}


/* .input-1 {
    grid-area: input-1;
}

.input-2 {
    grid-area: input-2;
} */
