<!-- Date -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (focus)="isValid=false;">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <!-- {{inputData.data.defaultValue}} -->
      <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate" (dateChange)="emitChangeData($event);"
        (focus)="isValid=true;" [(ngModel)]="inputData.data.defaultValue.date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>
  </div>
</div>



<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container">
    <div class="input-1">
      <input class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" [matDatepicker]="dp"
        [min]="minDate" [max]="maxDate" (focus)='dp.open();isValid=true;' (dateChange)="emitChangeData($event);"
        [(ngModel)]="inputData.data.defaultValue.date">
      <div class="input-2">
        <mat-datepicker #dp></mat-datepicker>
      </div>
      <mat-icon class="date-icon" (click)="dp.open()">date_range</mat-icon>
    </div>
  </div>
  <div [style.color]="errorMessage ? 'red' : ''">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>

<!-- View -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId" class="date-input">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value | date : 'mediumDate'}}
    </span>
    <span *ngIf="inputData?.rowId.id==isEdit">
      <input [matDatepicker]="datepicker" class="input-view {{ !isEdit ? 't':''}}" [(ngModel)]="inputData.value"
        [disabled]='!(inputData?.rowId.id==isEdit)?true:false' [min]="minDate" [max]="maxDate"
        (dateChange)="emitChangeData($event);isEdit=0;" (blur)="emitChangeData($event);isEdit=0;">
      <mat-datepicker-toggle matSuffix [for]="datepicker" class="dp-btn"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </span>
  </div>
</ng-container>


<!-- Table section View -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo" class="date-input">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue.date=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value | date : 'mediumDate'}}
    </span>
    <span *ngIf="inputData?.indexNo==isEdit">
      <input (click)="datepicker.open()" [matDatepicker]="datepicker"
        class="input-view {{ !(inputData?.indexNo==isEdit) ? 't':''}}" [(ngModel)]="inputData.data.defaultValue.date"
        [disabled]='!(inputData?.indexNo==isEdit)?true:false' [min]="minDate" [max]="maxDate"
        (dateChange)="emitChangeData($event);isEdit=0;" (blur)="emitChangeData($event);isEdit=0;">
      <mat-datepicker-toggle matSuffix [for]="datepicker" class="dp-btn"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </span>
  </div>
</ng-container>



<!-- View and Edit -->

<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}}  {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit">
      {{inputData.data.defaultValue.date | date : 'mediumDate'}}
    </span>
    <span *ngIf="isEdit">
      <input [matDatepicker]="datepicker" class="input-view {{ !isEdit ? 't':''}}"
        [(ngModel)]="inputData.data.defaultValue.date" [disabled]='!isEdit?true:false' [min]="minDate" [max]="maxDate"
        (dateChange)="emitChangeData($event);">
      <mat-datepicker-toggle matSuffix [for]="datepicker" class="dp-btn"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </span>

    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
