<div class="delete-container">
  <div class="delete-head-container delete-padding-h" >
    <div class="delete-center">
      Delete {{data?.head}}
    </div>
    <div class="delete-center delete-btn-icon-right">
      <button mat-icon-button (click)="event.emit(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="delete-content">
    Do you want to delete {{data?.sub}}
  </div>
  <div class="delete-bottom">
    <span></span>
    <button class="delete-btn-action" (click)="event.emit(false)" mat-stroked-button>cancel</button>
    <button class="delete-btn-action" (click)="event.emit(true)" mat-flat-button color="primary">Delete</button>
  </div>
</div>
