.delete-container {
  /* padding: 4%; */
}

.delete-head-container {
  display: grid;
  grid-template-columns: 80% 20%;
  border-bottom: 1px solid #d2cece;
  padding: 2% 0%;
}

.delete-center {
  display: flex;
  align-items: center;
}

.delete-btn-icon-right {
  justify-content: flex-end;
  margin-right: -22%;
}

.delete-btn-icon-right .mat-icon {
  font-size: 16px;
}

.delete-content {
  padding: 6% 4%;
  font-size: 13px;
  color: #6b6a6a;
}

.delete-padding-h {
  padding: 0 4%;
}

.delete-bottom {
  text-align: right;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 2% 4%;
  border-top: 1px solid #d2cece;
}

.delete-btn-action{
  padding: 0 9px;
  line-height: 12px;
  height: 30px;
  font-weight: 400;
  margin-left: 14px;
}
