#image-file {
  display: none;
}

#tableViewFileLabel {
  display: none;
}

.img {
  width: 70px;
  height: 70px;
}

.image-algin {
  text-align: center;
  background: #f7f4f4;
  margin: 0px;
}

.attach-container {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 14px;
  margin: 14px 0px;
}

.p-icon {
  display: flex;
  align-items: center;
}

.attach-file {
  background: var(--color-primary);
  padding: 4px 8px;
  border-radius: 2px;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: small;
}

.defualt-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.defualt-priview {
  padding: 5px 0px;
  font-size: 11px;
  width: 85px;
  cursor: pointer;
}

.choose-fileName {
  padding: 7px 8px;
  border-radius: 2px;
  color: #000;
  display: inline;
  font-size: 10px;
  width: max-content;
}

.x-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.done-none {
  cursor: pointer;
}

.displayName {
  margin: 0;
}

.error {
  color: red;
  font-size: 12px;
}

.file-name-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 78%;
}

.preview-p {
  display: grid;
  grid-template-columns: 35% 25% 25% 15%;
  background: #e0e0e061;
}

label {
  display: flex;
  justify-content: left;
  align-items: left;
}

.file-icon {
  width: 26px;
}

.content {
  background: none;
}
