<!-- <p>{{inputData.data.displayName}}</p> -->
<div>
  <div *ngIf="inputData?.isCreate">
    <!-- image -->

    <p class="margin-0 displayName"> {{inputData.data.displayValue}} </p>
    <div class="attach-container">
      <label>
        <p class="margin-0">
          <span for="tableViewFileLabel" class="attach-file">choose file</span>
        </p>
        <input type="file" id="tableViewFileLabel" (change)="changeProfilePic($event);validationCallBack($event);" />

      </label>
      <p class="margin-0 preview-p" *ngIf="fileObject?.name?.length">
        <span class="choose-fileName file-name-preview">{{fileObject.name }}</span>
        <span class="choose-fileName">{{ commonService.fileSizeParse(fileObject.size)}}</span>
        <span class="choose-fileName">{{fileObject.type.split("/")[0] |titlecase }}</span>
        <span class="choose-fileName">
          <mat-icon class="x-icon" (click)="removeFile()">close</mat-icon>
        </span>
      </p><span class="error">{{errorMessage | titlecase }}</span>


    </div>
    <mat-hint align="end">{{inputData.data.hint}}</mat-hint>

  </div>
  <div *ngIf="inputData.isMethod=='default-priveiw'" class="defualt-container">
    <mat-label>Default : </mat-label>
    <!-- <label for="image-file"> -->
    <!-- <span class="attach-file defualt-priview">Choose file</span> -->
    <input type="file" (change)="changeProfilePic($event)" />
    <!-- </label> -->
  </div>
  <!-- <span>{{fileName }}</span> -->
  <!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
    <app-validations [validateSelector]='inputData'></app-validations>
  </div> -->
  <!-- <div *ngIf="inputData?.isTableView">
    <span>
      <a href="{{filePathLink+inputData.value}}" target='blank'>
        <img src="https://image.flaticon.com/icons/svg/149/149345.svg" class="file-icon" alt="{{inputData.value}}"
          title="{{inputData.value}}">
      </a>
    </span>
  </div> -->



  <ng-container>
    <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
      <span class="table-view" *ngIf="!(isEdit==inputData?.rowId?.id)" (dblclick)="editFile();"
        (click)="openFile(filePathLink+inputData.value,$event)" matTooltip="ctrl + click to open">
        <span>
          <img src="https://image.flaticon.com/icons/svg/149/149345.svg" style="height:20px;" class="file-icon img"
            alt="{{inputData.value}}" title="{{inputData.value}}">
        </span>
      </span>
      <mat-icon *ngIf="(isEdit==inputData?.rowId?.id)" class="done-btn" (click)="isEdit=0;">check_circle_outline
      </mat-icon>
      <label *ngIf="(isEdit==inputData?.rowId?.id)">
        <p class="margin-0">
          <span for="tableViewFileLabel" class="attach-file">choose file</span>
        </p>
        <input type="file" id="tableViewFileLabel" (change)="changeProfilePic($event);validationCallBack($event);" />
      </label>
      <p class="margin-0 preview-p" *ngIf="fileObject?.name?.length && (isEdit==inputData?.rowId?.id)">
        <span class="choose-fileName file-name-preview">{{fileObject.name }}</span>
        <span class="choose-fileName">{{ commonService.fileSizeParse(fileObject.size)}}</span>
        <span class="choose-fileName">{{fileObject.type.split("/")[0] |titlecase }}</span>
        <span class="choose-fileName">
          <mat-icon class="x-icon" (click)="removeFile()">close</mat-icon>
        </span>
      </p>
    </div>
  </ng-container>


  <!-- Selected VIew -->
  <div *ngIf="inputData?.isView" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
      <a href=" {{filePathLink+inputData.value}}" target='_blank' matTooltip="click to open">
        <img src="https://image.flaticon.com/icons/svg/149/149345.svg" class="file-icon" alt="{{inputData.value}}"
          title="{{inputData.value}}">
      </a>
      <div class="attach-container" *ngIf="isEdit">
        <label>
          <p class="margin-0">
            <span for="image-file" class="attach-file">choose file</span>
          </p>
          <input type="file" id="image-file" (change)="changeProfilePic($event);validationCallBack($event);" />

        </label>
        <p class="margin-0 preview-p" *ngIf="fileObject?.name?.length">
          <span class="choose-fileName file-name-preview">{{fileObject.name }}</span>
          <span class="choose-fileName">{{ commonService.fileSizeParse(fileObject.size)}}</span>
          <span class="choose-fileName">{{fileObject.type.split("/")[0] |titlecase }}</span>
          <span class="choose-fileName">
            <mat-icon class="x-icon" (click)="removeFile()">close</mat-icon>
          </span>
        </p><span class="error">{{errorMessage | titlecase }}</span>
      </div>
      <span class="edit-btn">
        <mat-icon (click)="isEdit=true;" *ngIf="!isEdit" color="primary">edit_outline</mat-icon>
        <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
      </span>
    </div>
  </div>



  <!-- <div *ngIf="inputData?.isView" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
      <span *ngIf="!isEdit">{{inputData.data?.defaultValue}}</span>
      <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit"
        (change)="emitChangeData();isEdit=!isEdit" (input)="validationCallBack($event.target.value)"
        (blur)='isEdit=false;'>
      <span class="edit-btn">
        <mat-icon (click)="isEdit=true;" *ngIf="!isEdit" color="primary">edit_outline</mat-icon>
        <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
      </span>
    </div>
    <span [style.color]="errorMessage ? 'red' : ''"
      style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
  </div> -->
