<style>
  .arrow-icon{
    font-size: 17px;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 10%;
    cursor: pointer;
    font-weight: 900;
  }
  </style>
<span >
<mat-icon class="arrow-icon" [style.font-weight]="isHover ? '400' :'900'" *ngIf="sortDirection == 'asc' || isHover" > arrow_downward</mat-icon>
<mat-icon class="arrow-icon" *ngIf="sortDirection == 'desc'">arrow_upward</mat-icon>
</span>
<ng-content></ng-content>
