.container {
  height: calc(100% - 40px);
  padding: 20px;
  background: #7f7f7f;
  display: grid;
  grid-template-rows: 55px calc(100% - 110px) 55px;
}

.header-container {
  background: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #ededed;
  padding: 0px 10px;
  text-transform: capitalize;
  color: #3f3f3f;
  position: relative;
}

.close-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.step-status-container {
  background: #f7fdfd57;
  border-left: 1px solid #e4e4e4;
  padding: 10px;
  overflow: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 14rem calc(100% - calc(20% + 14rem + 40px)) 20%;
  height: 100%;
  position: relative;
  background: #fff;
  grid-gap: 20px;
}

.subprocess-container {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
  background: #f7fdfd;
  height: 100%;
  width: 100%;
  border-right: 1px solid #e4e4e4;
}

.main-container {
  height: 85vh;
  overflow: auto;
  width: 100%;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
}

.item-list {
  border: 1.5px solid #e4e4e4ad;
  padding: 20px;
  margin: 40px 20px;
  position: relative;
  border-radius: 4px;
  padding-top: 35px;
}

.group-name {
  position: absolute;
  top: -22px;
  left: 20px;
  border: 1.5px solid #ededed;
  border-radius: 4px;
  padding: 10px 9px;
  background: #fff;
  color: #414040;
  font-weight: 450;
}

.row {
  display: grid;
  /* background:red; */
}


/* Sub process */

.subprocess-item {
  /* padding: 4px 24px; */
  font-size: 14px;
  margin: 0px;
  cursor: pointer;
}

.selected-process {
  background: var(--color-primary);
  color: #fff;
}

.selected-process-p {
  padding: 16px 24px;
  margin: 0px;
}

.expend {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0) !important;
  background: transparent !important;
}

.main-process-groups {
  background: #FFF;
  color: #5f5d5d;
  padding-left: 46px;
}

.main-process-groups-p {
  margin: 0;
  padding: 8px 0px;
  font-size: 12px;
}

.main-process-groups-p-active {
  color: var(--color-primary);
}

.icon-arrow {
  font-size: 18px;
  float: right;
}

.selected-group {
  border-color: var(--color-primary);
}

/* Mobile view */
@media only screen and (max-width: 768px) {

  .subprocess-container {
    display: none;
  }

  .container-grid {
    display: block;
  }

  ::ng-deep .main-container {
    margin: 0px !important;
    width: 100% !important;
  }

  ::ng-deep .item-list {
    padding: 0px !important;
    margin: 20px 5px !important;
    padding-top: 35px !important;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
    width: calc(100% - 10px) !important;
  }

  ::ng-deep .row {
    display: block !important;
  }
}

.action-btn {
  padding: 5px 10px;
  background: var(--color-primary-opacity-25);
  color: var(--color-primary);
  border-radius: 2px;
  user-select: none;
  cursor: pointer;

}



.bottom-btn {
  background: #fff;
  border-top: 1px solid #e4e4e4;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.margin-right {
  margin-right: 10px;
}

.top-loader {
  width: 100%;
  position: absolute;
  bottom: -1px;
}

.bottom-loader {
  width: 100%;
  position: absolute;
  top: 0px;
}