<div class="container">
  <div class="header-container">
    <div>
      <p>{{dataTableInfo.name}}</p>
    </div>
    <div class="close-container">
      <button (click)="back()" class="close-btn" mat-icon-button aria-label="process close button">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="top-loader">
      <app-loader [progressBarType]='"progress-bar"' *ngIf="isLoadingRowInfo" [mode]="'query'"></app-loader>
    </div>
  </div>
  <div class="container-grid">

    <div class="subprocess-container">
      <div *ngFor="let item of subProcessList;index as i" (click)="selectedSubProcess=item;"
        class="subprocess-item {{selectedSubProcess==item ? 'selected-process' :''}}">
        <p *ngIf="i==0" class="selected-process-p" (click)="isView=!isView;getSubProcess(item,'main')">
          <span>{{item}}</span>
          <span>
            <mat-icon class="icon-arrow">{{!isView ? 'keyboard_arrow_down' :'keyboard_arrow_up'}}</mat-icon>
          </span>
        </p>
        <div class="main-process-groups" *ngIf="i==0 && isView">
          <p (click)="groupSelect=group.group_name;elementScroll(group.group_name)"
            class="main-process-groups-p {{groupSelect==group.group_name ? 'main-process-groups-p-active':''}}"
            *ngFor="let group of groupList"> {{group.group_name | titlecase}}</p>
        </div>
        <p *ngIf="!(i==0)" class="selected-process-p" (click)="getSubProcess(item,'sub')">{{item.name}}</p>
      </div>
    </div>
    <div class="main-container">
      <div *ngIf="!isSubProcessView">
        <app-view-fields [infoData]='dd'></app-view-fields>
      </div>

      <div *ngIf="isSubProcessView">
        <app-view [subProcessInput]='subProcessInput'></app-view>
      </div>
    </div>
    <div class="step-status-container">
      <!-- <app-step-status-view *ngIf="!isLoadingRowInfo" [inputData]="dd.inputValue"></app-step-status-view> -->
    </div>

  </div>
  <div class="bottom-btn">
    <div class="bottom-loader">
      <app-loader [progressBarType]='"progress-bar"' *ngIf="isPostLoading" [mode]="'indeterminate'"></app-loader>
    </div>
    <!-- <app-step-action-btn-view [rowInfo]="dd" *ngIf="!isLoadingRowInfo" (isLoading)="isPostLoading=$event;">
    </app-step-action-btn-view> -->
  </div>
</div>