<div *ngIf="isLoading">
  <app-create-timetable [inputData]='data'></app-create-timetable>

  <div class="tableview-container {{isSidebarView?'with-sidebar-container':''}}">
    <div *ngIf="isSidebarView" class="table-list-container">
      <div *ngFor="let item of timeTableList">
        <div (click)="getTimeTableByCode(item)" class="timetable-code">{{item}}</div>
      </div>
    </div>
    <div class="grid-container">
      <div *ngIf="!!data.length" class="table-container">
        <table>
          <thead>
            <tr>
              <th *ngFor="let column of displayToColumn">
                <span> {{column.displayValue}}</span>
              </th>
            </tr>
          </thead>
          <tr *ngFor="let row of data;index as i">
            <td *ngFor="let column of displayTocolumn">
              <span class="td-content">
                {{row[column]}}
                <span class="hover-content">
                  <div *ngFor="let item of row?.hourDetails[column]" class="list-item">
                    <div><span class="label">Subject:</span>{{item?.subject}}</div>
                    <div><span class="label">Handler:</span>{{item?.handler.length ? item?.handler[0]['firstName']:''}}
                    </div>
                    <div><span
                        class="label">coordinator:</span>{{item?.coordinator.length?item?.coordinator[0]['firstName']:''}}
                    </div>
                  </div>
                </span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>