.tableview-container {
  margin: 10px;
  box-sizing: border-box;
}

.with-sidebar-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 10px;

}

.table-list-container {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.timetable-code {
  padding: 10px;
  display: flex;
  justify-content: center;

}

tr:nth-child(even) {
  background: #f7f7f7;
}

table,
td,
th {
  border: 1px solid #e0e0e0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background: #fafafa;
  z-index: 99999;
  width: 11%;
}


.table-container {
  width: 100%;
  overflow: auto;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-height: 10%;
  margin-top: 2%;
}

.td-content {
  display: block;
  position: relative;
  user-select: none;
}

.hover-content {
  display: none;
}

.td-content:hover .hover-content {
  display: block;
  position: absolute;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  right: 50%;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  /* justify-content: center; */
  /* align-items: center; */

}

.list-item {
  border-bottom: 1px solid #b0b0b0;
  padding: 10px;
}

.label {
  font-size: 12px;
  font-weight: 600;
  color: #4c4949;
  /* padding-right: 10px; */
}

.grid-container {
  /* display: grid;
  grid-template-columns: 20% 80%; */

}

.header-container {
  height: 6vh;
}

td {
  height: 50px;
}