<div class="main-container">
  <div class="div-container">
    <!-- Process administer -->
    <div>
      <div class="query"> Who can administer this process?</div>
      <div class="query-description">Admins can edit the process, view and edit all items, create reports, and change
        all settings.</div>
      <div class="input-with-user-container">
        <div>
          <div class="input-container" *ngFor="let item of administerList;index as indexNo">
            <span id="admin{{indexNo}}" (click)="item['isView']=true;getUserAndDes('');" class="input"
              *ngIf="!item['isView']">
              <!-- User -->
              <div class="drop-container" *ngIf="item.type=='user'">
                <div class="user-avator-div">
                  <span class="user-avator">{{item.userName[0]}}</span>
                </div>
                <div class="preview-name">
                  <p class="drop-username">
                    {{item.userName}}
                  </p>
                </div>
              </div>
              <!-- Designation -->
              <div class="drop-container" *ngIf="item.type=='designation'">
                <span>
                  <mat-icon>group</mat-icon>
                </span>
                <span class="input-des">{{item.designation}}</span>
              </div>
            </span>

            <input *ngIf="!!item['isView']" matInput [matAutocomplete]="auto"
              (input)='getUserAndDes($event.target.value);' class="input" type="text" (click)="getUserAndDes('');">
            <span class="input-arrow">
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <span *ngIf="administerList.length!=1" class="admin-user-clear" (click)="removeAdmin(indexNo)">
              <mat-icon>clear</mat-icon>
            </span>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option (click)="item['isView']=false;addNewAdmin(item,indexNo)"
                *ngFor="let item of optionList;index as i" [value]="item">
                <!-- User -->
                <div class="drop-container" *ngIf="item.type=='user'">
                  <div class="user-avator-div">
                    <span class="user-avator">{{item.userName[0]}}</span>
                  </div>
                  <div>
                    <p class="drop-username">
                      {{item.userName}}
                    </p>
                    <p class="drop-email" matTooltip="{{item.email}}">
                      {{item.email}}
                    </p>
                  </div>
                </div>
                <!-- Designation -->
                <div class="drop-container" *ngIf="item.type=='designation'">
                  <span>
                    <mat-icon>group</mat-icon>
                  </span>
                  <span>{{item.designation}}</span>
                </div>

              </mat-option>
            </mat-autocomplete>
          </div>


        </div>
        <div>
          <button class="add-user-btn" (click)="addNewAdmin('',-1)">Add user/Group</button>
        </div>
      </div>

    </div>
    <!-- access process -->
    <div>
      <div class="query"> Who can make changes in this process?</div>
      <div class="query-description">Everyone you select has access to the process feed</div>
      <div class="input-with-user-container">
        <div class="input-process-container" *ngFor="let item of processList;index as indexNo">
          <div>
            <!-- After select list -->
            <span id="process{{indexNo}}" (click)="item['isView']=true;getUserAndDes('');" class="input"
              *ngIf="!item['isView']">
              <!-- User -->
              <div class="drop-container" *ngIf="item.type=='user'">
                <div class="user-avator-div">
                  <span class="user-avator">{{item.item.userName[0]}}</span>
                </div>
                <div class="preview-name">
                  <p class="drop-username">
                    {{item.item.userName}}
                  </p>
                </div>
              </div>
              <!-- Designation -->
              <div class="drop-container" *ngIf="item.type=='designation'">
                <span>
                  <mat-icon>group</mat-icon>
                </span>
                <span class="input-des">{{item.item.designation}}</span>
              </div>
            </span>

            <!-- Input drop down list -->
            <input *ngIf="!!item['isView']" class="input input-process" type="text" matInput [matAutocomplete]="auto"
              (input)='getUserAndDes($event.target.value);' type="text" (click)="getUserAndDes('');">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option (click)="item['isView']=false;processPush(droplist,indexNo);"
                *ngFor="let droplist of optionList;index as i" [value]="item">
                <!-- User -->
                <div class="drop-container" *ngIf="droplist.type=='user'">
                  <div class="user-avator-div">
                    <span class="user-avator">{{droplist.userName[0]}}</span>
                  </div>
                  <div>
                    <p class="drop-username">
                      {{droplist.userName}}
                    </p>
                    <p class="drop-email" matTooltipClass="tooltip" matTooltip="{{item.email}}">
                      {{droplist.email}}
                    </p>
                  </div>
                </div>
                <!-- Designation -->
                <div class="drop-container" *ngIf="droplist.type=='designation'">
                  <span>
                    <mat-icon>group</mat-icon>
                  </span>
                  <span>{{droplist.designation}}</span>
                </div>

              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="item-list">
            <mat-checkbox color="primary" class="check-list-group" [checked]="!!item.create"
              (change)="item.create=+$event.checked;">Create
            </mat-checkbox>
            <mat-checkbox color="primary" class="check-list-group" [checked]="!!item.delete"
              (change)="item.delete=+$event.checked;">Delete
            </mat-checkbox>

            <mat-checkbox color="primary" class="check-list-group" [checked]="!!item.reports"
            (change)="item.reports=+$event.checked;">Reports
          </mat-checkbox>

          <mat-checkbox color="primary" class="check-list-group" [checked]="!!item.edit_process"
          (change)="item.edit_process=+$event.checked;">Edit Process
        </mat-checkbox>
            <mat-icon (click)="removeProcess(indexNo)" class="remove-icon">clear</mat-icon>
          </div>
        </div>
        <p class="is-process-error" *ngIf="isprocessError.check && processList.length">
          {{isprocessError.error}}
        </p>
        <div>
          <button class="add-user-btn" (click)="addNewProcess()">Add user/Group</button>
        </div>
      </div>
    </div>
  </div>
  <p class="isEditView" (click)="isFlowEdit=!isFlowEdit;">Edit process   </p>

  <div *ngIf="isFlowEdit">
    <app-flow-edit [inputData]="dataTable"></app-flow-edit>
  </div>
</div>

<!-- Actions -->
<div class="action-container float-right">
  <button mat-raised-button class="cancel-btn" (click)="event.emit({close:true});">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
