.main-container {
    padding: 2% 3%;
    overflow-y: auto;
    max-height: 70vh;
    overflow-x: hidden;

}

button:focus {
    outline: none;
}

.query {
    font-size: 15px;
    font-weight: 400;
    color: #585858;
}

.query-description {
    font-size: 12px;
    color: #777777;
    padding-top: 3px;
}

.form-field {
    width: 50%;
}

.pad {
    padding: 3% 0px;
}

.div-container {
    display: grid;
    grid-auto-rows: auto autol;
    grid-gap: 10px;
}

.input {
    height: 27px;
    font-size: 13px;
    /* padding: 2px 9px; */
    border-radius: 3px;
    border: 1px solid #b7b7b791;
    width: 100%;
    padding: 0px 10px;
    cursor: pointer;
    margin: 8px 0px;
    display: block;
}

.add-user-btn {
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    color: var(--color-primary);
    width: max-content;
    padding: 7px 16px;
    margin: 10px 0px;
    cursor: pointer;
    background: transparent;
}

.input-with-user-container {
    margin-top: 11px;
}

.input-process-container {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 31% 60%;
  box-sizing: border-box;
  overflow-x: auto;
  grid-gap: 6%;
}

.check-list-group {
    margin: 0px 15px;
    font-weight: 400;
    color: dimgrey;
    font-size: 14px;
}

.is-process-error {
    margin: 0px 0px;
    color: red;
    font-size: 12px;
}

.remove-icon {
    font-size: 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #585858;
    justify-content: center;
    width: 24px;
    padding: 4px;
    margin-left: 23px;
}

.remove-icon:hover {
    border-radius: 50%;
    background: #f3f3f3;
}

.item-list {
    display: flex;
    align-items: center;
    position: relative;
}

.input-process {
    width: 100%;
}

.drop-container {
  display: grid;
  grid-template-columns: 10% 80%;
  color: #605959;
  font-size: 14px;
  /* height: 44px; */
  grid-gap: 11px;
}

.drop-email {
  margin: 0;
  font-size: 10px;
  height: 10px;
  display: flex;
  color: #514949bd;
  justify-content: flex-start;
  align-items: center;
}

.drop-username {
  margin: 0;
  font-size: 12px;
  height: 18px;
  display: flex;
  color: #514949;
  justify-content: flex-start;
  align-items: center;
}

.user-avator-div {
    display: flex;
    align-items: center;
}

.input-container {
    display: grid;
    grid-template-columns: 40% 2% 25%;
}

.input-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-des {
    display: flex;
    align-items: center;
}

.drop-container .mat-icon {
    height: 26px;
}

.preview-name {
    display: flex;
    align-items: center;
}

.admin-user-clear {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 27px;
}

.admin-user-clear .mat-icon {
    font-size: 16px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #676666;
}

.action-container {
    width: 100%;
    border-top: 1px solid #c6c6c6;
    padding: 10px 17px;
}

.cancel-btn {
    margin-right: 20px;
}
.isEditView{
  margin: 0;
  font-size: 11px;
  color: var(--color-primary);
  cursor: pointer;
  background: transparent;
  width: max-content;
  padding: 4px 10px;
  border-radius: 4px;
}
.isEditView:hover{
  background: #f1eded;
}

.div-container {
  display: grid;
  grid-auto-rows: auto autol;
  grid-gap: 10px;
}

.input {
  height: 27px;
  font-size: 13px;
  /* padding: 2px 9px; */
  border-radius: 3px;
  border: 1px solid #b7b7b791;
  width: 100%;
  padding: 0px 10px;
  cursor: pointer;
  margin: 8px 0px;
  display: block;
}

.add-user-btn {
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  color: var(--color-primary);
  width: max-content;
  padding: 7px 16px;
  margin: 10px 0px;
  cursor: pointer;
}

.input-with-user-container {
  margin-top: 11px;
}


.check-list-group {
  margin: 0px 15px;
  font-weight: 400;
  color: dimgrey;
  font-size: 14px;
}

.is-process-error {
  margin: 0px 0px;
  color: red;
  font-size: 12px;
}

.remove-icon {
  font-size: 19px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #585858;
  justify-content: center;
  width: 24px;
  padding: 4px;
  margin-left: 23px;
}

.remove-icon:hover {
  border-radius: 50%;
  background: #f3f3f3;

}

.item-list {
  display: flex;
  align-items: center;
  position: relative;
}

.input-process {
  width: 100%;
}

.drop-container {
  display: grid;
  grid-template-columns: 10% 80%;
  color: #605959;
  font-size: 14px;
}

.user-avator-div {
  display: flex;
  align-items: center;
}

.user-avator {
  width: 25px;
  height: 25px;
  background: var(--color-primary);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: grid;
  grid-template-columns: 40% 2% 25%;
}

.input-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-des {
  display: flex;
  align-items: center;
}

.drop-container .mat-icon {
  height: 26px;
}

.preview-name {
  display: flex;
  align-items: center;
}

.admin-user-clear {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 27px;
}

.admin-user-clear .mat-icon {
  font-size: 16px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #676666;
}

.action-container{
  width: 100%;
  border-top: 1px solid #c6c6c6;
  padding: 10px 17px;
}

.cancel-btn {
  margin-right: 20px;
}

::ng-deep .tooltip {
  background-color: red!important;
  color: blue!important;
  font-size: 20px;
}
