.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 4px;
    width: 20px;
    height: 16px;
    font-size: 12px;
}


/* .edit-field {
  position: absolute;
  right: 0;
  top: 18%;
  display: none;
  cursor: pointer;
  color: var(--color-primary);
} */

input {
    cursor: defualt;
}

mat-form-field {
    position: relative;
}


/* mat-form-field:hover .edit-field{
  display: block;
} */

a {
    text-decoration: none;
    color: var(--color-primary);
}

.tel-container {
    color: var(--color-primary);
}


/*  Grid View of Tel */

.grid-container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 12px;
    box-sizing: border-box;
}

.input1-css {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #cecece;
    padding: 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
    text-align: center;
    /* padding-top: 6px; */
    margin-top: 0px;
}

.input2-css {
    padding: 7px;
    border-radius: 4px;
    border: none;
    padding: 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
    text-align: center;
    /* padding-top: 6px; */
    margin-top: 0px;
}

.input-width {
    /* min-width: 105%;
  max-width: 105%; */
}