<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview container {{isValid? 'valid':'not-valid'}}">
    <!-- Country code -->
    <mat-form-field class="width20" appearance="{{ inputData.fieldViewType=='4'?'outline':''}}"
      (focus)="isValid=false;">
      <input [(ngModel)]="countryCode" type="text"
        (input)="getDataObject.search={country_name:$event.target.value};getCountry()" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="test($event)">
        <mat-option *ngFor="let option of data" [value]="option">
          <img class="example-option-img" aria-hidden [src]="option.flag" height="25">
          <span> +{{option.callingCode}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- Value -->
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (focus)="isValid=false;">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput type="{{inputData.data.type}}" [(ngModel)]="inputData.data.defaultValue"
        (input)="validationCallBack($event.target.value)" (change)="emitChangeData();"
        (focus)="validationCallBack($event.target.value)">
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>

  </div>
</div>


<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate  && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container">
    <!-- <mat-form-field appearance="outline" (focus)="isValid=false;"> -->
    <span>
      <input *ngIf="inputData.fieldViewType=='1'"
        class="input1-css {{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" [(ngModel)]="countryCode"
        type="text" (input)="getDataObject.search={country_name:$event.target.value};getCountry()" matInput
        [matAutocomplete]="auto">
      <input *ngIf="inputData.fieldViewType=='2'"
        class="input2-css {{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" [(ngModel)]="countryCode"
        type="text" (input)="getDataObject.search={country_name:$event.target.value};getCountry()" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="test($event)">
        <mat-option *ngFor="let option of data" [value]="option">
          <img class="example-option-img" aria-hidden [src]="option.flag" height="25">
          <span> +{{option.callingCode}}</span>
        </mat-option>
      </mat-autocomplete>
    </span>
    <!-- </mat-form-field> -->
    <div>
      <input type="{{inputData.data.type}}"
        class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}} input-width"
        [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)"
        (change)="emitChangeData();" (focus)="validationCallBack($event.target.value)">
    </div>
  </div>
  <div [style.color]="errorMessage ? 'red' : ''" class="error-2">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>



<!-- 
<div class="input-view-2-grid" *ngIf="inputData?.isCreate">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
        <input type="{{inputData.data.type}}" class="input-view-2" [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)" (blur)="isUnique();emitChangeData();" (focus)="validationCallBack($event.target.value)">
    </div>
    <div [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
    </div>
</div> -->



<!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
  <app-validations [validateSelector]='inputData'></app-validations>
</div> -->
<!-- Table view creation -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData.data.defaultValue =inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      {{inputData?.value}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData?.data.defaultValue"
      *ngIf="inputData?.indexNo==isEdit" (change)="isUnique();emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isUnique();isEdit=0'>
  </div>
</ng-container>


<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (click)="inputData.data.defaultValue =inputData?.value;click(inputData.value,$event);"
      (dblclick)="(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData?.data.defaultValue"
      *ngIf="inputData?.rowId.id==isEdit" (change)="isUnique();emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>

<!-- Edit and View -->

<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit" matTooltip="ctrl+ click to open telephone">
      <a href="tel:{{inputData.data?.defaultValue}}">{{inputData.data?.defaultValue}}</a>
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit"
      (change)="emitChangeData();isUnique();isEdit=!isEdit" (input)="validationCallBack($event.target.value)"
      (blur)="emitChangeData();isEdit=!isEdit">
    <!-- -->
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">
        edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
