<div>
  <!-- <p class="notif-p">Configue </p> -->
  <div>

    <div class="nofit-row" *ngFor="let getItem of data;index as indexNO;">
      <div>
        <div class="nofit-row-item">
          <label>Select whom</label>
          <!-- Privew View -->
          <div (click)="getItem.onClick=true" class="preview-div"
            *ngIf="(getItem?.userId?.length || getItem?.designationId?.length) && !getItem.onClick">
            <!-- User -->
            <div class="drop-container" *ngIf="getItem.userId.length">
              <div class="user-avator-div">
                <span class="user-avator">{{getItem.userId[0].userName[0]}}</span>
              </div>
              <div class="preview-name">
                <p class="drop-username">
                  {{getItem.userId[0].userName}}
                </p>
              </div>
            </div>
            <!-- Designation -->
            <div class="drop-container" *ngIf="getItem.designationId.length">
              <span>
                <mat-icon>group</mat-icon>
              </span>
              <span class="preview-notification">{{getItem.designationId[0].designation}}</span>
            </div>
          </div>
          <input *ngIf="!(getItem?.userId?.length || getItem?.designationId?.length) || getItem.onClick" matInput
            [matAutocomplete]="auto" (click)="getUserAndDes($event.target.value);"
            (input)="getUserAndDes($event.target.value);" class="input-item" type="text">
          <div>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="userSelect($event,indexNO)">
              <mat-option *ngFor="let item of userAndDesignationList" [value]="item">
                <!-- User -->
                <div class="drop-container" *ngIf="item.type=='user'">
                  <div class="user-avator-div">
                    <span class="user-avator">{{item.userName[0]}}</span>
                  </div>
                  <div>
                    <p class="drop-username">
                      {{item.userName}}
                    </p>
                    <p class="drop-email">
                      {{item.email}}
                    </p>
                  </div>
                </div>
                <!-- Designation -->
                <div class="drop-container" *ngIf="item.type=='designation'">
                  <span>
                    <mat-icon>group</mat-icon>
                  </span>
                  <span>{{item.designation}}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
          <p class="error" *ngIf="!!errors.selectPerson && data.length-1==indexNO">{{errors.selectPerson}}</p>
        </div>
      </div>
      <div>
        <div class="nofit-row-item">
          <label>Select Column</label>
          <input [(ngModel)]="getItem.columnId" class="input-item" matInput [matAutocomplete]="column" type="text">
          <mat-autocomplete #column="matAutocomplete" (optionSelected)="updateColumn($event,indexNO)">
            <mat-option *ngFor="let item of columnList" [value]="item">
              {{item.displayValue}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <p class="error" *ngIf="!!errors.column && data.length-1==indexNO">{{errors.column}}</p>
      </div>
      <div>
        <div class="nofit-row-item nofit-row-item-oprations">
          <label class="disply-flex-c">Create</label>
          <label class="disply-flex-c">Update</label>
          <label class="disply-flex-c">Delete</label>
        </div>
        <p class="error" *ngIf="!!errors.operation && data.length-1==indexNO">{{errors.operation}}</p>
      </div>
      <div>
        <div class="nofit-row-item nofit-row-item-oprations">
          <mat-checkbox [checked]="getItem.create=='1'" (change)="oprationChange($event, 'create',indexNO)"
            class="disply-flex-c"></mat-checkbox>
          <mat-checkbox [checked]="getItem.update=='1'" (change)="oprationChange($event, 'update',indexNO)"
            class="disply-flex-c"></mat-checkbox>
          <mat-checkbox [checked]="getItem.delete=='1'" (change)="oprationChange($event, 'delete',indexNO)"
            class="disply-flex-c"></mat-checkbox>
        </div>
      </div>
      <div>
        <div class="nofit-row-item nofit-row-item-oprations">
          <input class="input-item" (change)="descriptionChange('create',indexNO)" type="text"
            [(ngModel)]="getItem.createDescription" placeholder="Enter create description">
          <input class="input-item" (change)="descriptionChange('update',indexNO)" type="text"
            [(ngModel)]="getItem.updateDescription" placeholder="Enter update description">
          <input class="input-item" (change)="descriptionChange('delete',indexNO)" type="text"
            [(ngModel)]="getItem.deleteDescription" placeholder="Enter delete description">
        </div>
      </div>
      <div>
        <button mat-icon-button (click)="delete(indexNO)">
          <mat-icon class="clear-icon">clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <button class="add-btn" (click)="addNewRole()"> Add Action + </button>


</div>

<!--  -->
