.notif-p {
  font-size: 14px;
  margin-left: 4%;
}

.add-btn {
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  color: var(--color-primary);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 16px;
  margin: 10px 0px;
  cursor: pointer;
  background: transparent;
}

.add-btn:hover {
  background: #def5ff8c;
}

.nofit-row {
  display: grid;
  grid-template-columns: 23% 23% 6% 3% auto auto;
  overflow: auto;
  box-sizing: border-box;
  grid-gap: 11px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #dadada;
}

.nofit-row-item {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 7px;
}

.input-item {
  background: transparent;
  border: 1px solid #c8c8c8a3;
  border-radius: 3px;
  padding: 7px 7px;
  font-size: 14px;
  width: 80%;
  height: 12px;
}

.input-item:hover {
  border: 1px solid #989191;
}

.input-item:focus {
  border: 1px solid var(--color-primary);
}

.nofit-row-item label {
  font-size: 12px;
}

.disply-flex-c {
  display: flex;
  align-items: center;
}

.nofit-row-item-oprations {
  display: grid;
  grid-template-rows: 25px 25px 25px;
  grid-gap: 7px;
  margin: 5px 10px;
}

.drop-container {
  display: grid;
  grid-template-columns: 10% 80%;
  color: #605959;
  font-size: 14px;
  /* height: 44px; */
  grid-gap: 11px;
}

.drop-email {
  margin: 0;
  font-size: 12px;
  height: 18px;
  display: flex;
  color: #514949;
  justify-content: flex-start;
  align-items: center;
}

.drop-username {
  margin: 0;
  font-size: 12px;
  height: 18px;
  display: flex;
  color: #514949;
  justify-content: flex-start;
  align-items: center;
}

::ng-deep .mat-autocomplete-panel-above .mat-autocomplete-panel {
  min-width: 250px;
}

.user-avator-div {
  display: flex;
  align-items: center;
}

.preview-div {
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 0px 5px;
  cursor: pointer;
  width: 80%;
}
.error{
  margin: 0;
  color: red;
  font-size: 12px;
}

.preview-name {
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.preview-notification {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.user-avator {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  background: var(--color-primary);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-icon {
  font-size: 16px;
  color: #585858;
}
