<div>
  <mat-form-field appearance="outline">
    <mat-label>experssion</mat-label>
    <mat-select (selectionChange)="addItem($event.value)">
      <div *ngFor="let item of computationalList">
        <mat-option [value]="item">
          {{item.displayValue}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf='!!fieldList.length' style='margin-left: 28px;'>
    <mat-label>select fields</mat-label>
    <mat-select (selectionChange)="addExpression($event.value)" [(ngModel)]="selectedItem.fieldList" multiple>
      <mat-option *ngFor="let item of fieldList" [value]="item.name">
        {{item.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="selectedItem.name==='concatenate'" style='margin-left: 28px;'>
    <mat-label>Type Join Value</mat-label>
    <input matInput (change)='setConcatenateJoin($event.target.value)'>
  </mat-form-field>
</div>




<div class="experssion-view" *ngIf="selectedItem?.value">
  {{experssion}}
</div>
