.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 254px calc(90% - 254px) 10%;
  grid-gap: 10px;
}

table,
td,
th {
  border: 1px solid #e0e0e0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background: #fafafa;
  z-index: 99999;
  color: rgba(0, 0, 0, 0.72);
  font-weight: 500;
  background: #f0f0f0;
}

.side-bar {
  display: grid;
  grid-template-rows: 288px auto;
  border: 1px solid #dbdbdb;
  border-radius: 2px;

}

.hours-list {
  display: flex;
  justify-content: center;
  /* grid-template-columns: auto auto;
  grid-gap: 13px; */
  cursor: pointer;
  padding: 10px 0px;
}

.empty {
  padding: 30px;
  cursor: pointer;
}

.list-container {
  text-align: center;
}

.hours-container {
  height: 56vh;
  overflow: auto;
}

.active-class {
  background: var(--color-primary-opacity-25);
  color: var(--color-primary);
  border-radius: 2px;
}

.hour-title {
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;

}

.data-container {
  height: 40px;
}

.calender-container {
  margin-bottom: 20px;
}

.select {
  text-align: center;
}

.width-10 {
  width: 3%;
}

.width-50 {
  width: 30%;
}

.mass-status {

  padding: 10px;
  border: 1px solid #73737382;
}

.mass-status-container {
  margin-bottom: 20px;
  text-align: end;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.present-active {
  background: var(--color-success);
  color: #fff;
}

.absent-active {
  background: var(--color-warn);
  color: #fff;
}

.class-name {
  background: #dbdbdb70;
  border-radius: 2px;
  padding: 10px;
}

.hour-list {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  /* padding: 10px; */
}