<div class="container">
  <div class="grid-container">
    <div class="side-bar">
      <div class="calender-container">
        <mat-calendar (selectedChange)="getClass($event)" [selected]='selectedDate'>
        </mat-calendar>
      </div>
      <div class="hour-list">
        <span class="hour-title">Handling Hours</span>
        <div class="hours-container">
          <div *ngFor="let item of handlingClass;index as i" class="list-container">
            <div class="class-name" *ngIf="!!item.handlingHour.length"> {{item?.degree[0].degree}}
              {{item?.department[0].shortName}} - {{item?.semester}} - {{item?.section | titlecase}}
              ( {{item?.subjectName[0].subject}} )
            </div>
            <div *ngFor="let hour of item.handlingHour">
              <div class="hours-list {{ selectedHours.includes(hour+i) ? 'active-class':''}}"
                (click)="getStudentAttendance(hour,item,$event,i);">
                <span>{{hour | titlecase}}</span>
                <!-- <span>
                  <span>{{item?.batch[0].batch}}</span>
                  <span>{{item?.semester}}</span>
                  <span>{{item?.section | titlecase}}</span>
                </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="mass-status-container">
        <span class="mass-status {{status?.short==='P'?'present-active':''}}" (click)="massAttendance('P')">P</span>
        <span class="mass-status {{status?.short==='AB'?'absent-active':''}}" (click)="massAttendance('AB')">AB</span>
      </div>
      <div *ngIf="!!data.length">
        <table>
          <thead>
            <tr>
              <!-- <th></th> -->
              <th *ngFor="let item of tempMetaData" class="{{item.name!='studentName'?'width-10':'width-50'}}">
                {{item.displayValue}}
              </th>
            </tr>
          </thead>
          <tr *ngFor="let row of data" class="data-container">
            <!-- <td></td> -->
            <td *ngFor="let item of tempMetaData">
              <span *ngIf="item.name=='studentName'">
                {{row[item.name][0].firstName}}
              </span>
              <span *ngIf="hoursList.includes(item.name);" class="select">
                <span *ngIf="isEdit!=row['id']+item.name" class="{{!row[item.name].length?'empty':''}}"
                  (click)="isEdit=row['id']+item.name">{{row[item.name][0]?row[item.name][0].alternateShortName:row[item.name].short}}
                </span>
                <mat-select [(ngModel)]="row[item.name]" *ngIf="isEdit==row['id']+item.name"
                  (selectionChange)="updateAttendace(row.id,$event.value,item.name);isEdit='';">
                  <mat-option *ngFor="let item of statusList" [value]="item">
                    {{item?.short}}
                  </mat-option>
                </mat-select>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- {{selectedDate}} -->