.edit-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-gap: 10px;
}

.preview {
  text-align: left;
  /* padding: 12px 11px; */
}

.form-fields {
  margin: 10px 10px;
}

.validation-container {
  margin: 10px 0px;
}

.view-container {
  margin: 10px;
}

.content {
  background: #e4e4e41a;
  padding: 10px 10px;
  border-radius: 4px;
  color: #171717;
  font-size: 16px;
  position: relative;
  min-height: 18px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.content:hover {
  background: #e4e4e45c;
}

.content-name {
  padding-bottom: 10px;
  font-size: 14px;
  color: #524e4e;
}


/* .content:hover{
   overflow:auto;
 } */

.edit-btn-1 {
  display: none;
}

.edit-btn-1:hover {
  display: block;
}

.content:hover .edit-btn-1 {
  display: flex;
  position: absolute;
  top: 6px;
  right: 6px;
}

.input-view {
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 3px;
  font-size: 16px;
}

.edit-field {
  padding: 0px 10px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.edit-field1 {
  padding: 0px 10px;
  /* border: 1px solid var(--color-primary); */
}

.invalid {
  border: 1px solid var(--color-warn);
}

.done-btn {
  color: var(--color-success);
}

.view-container:hover .edit-btn {
  display: flex;
  position: absolute;
  top: -28px;
  right: 0px;
}

.edit-btn {
  display: none;
  cursor: pointer;
  overflow: hidden;
}

.table-view {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  max-width: 181px;
  margin-right: 10px;
}

.no-content-padding-table {
  padding: 20px 100%;
}

.table-view-create {
  height: 30px;
  border-spacing: 0px;
  margin: 0;
  border: 0;
  padding: 2px 4px;
  font-size: 14px;
}

.select-arrow {
  border-left: none;
  border-right: none;
}


/* INPUT VIEW  2*/

.input-view-2-1 {
  border: 1px solid #cecece;
  padding: 8px 10px;
  font-size: 14px;
  width: 95%;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;
}

.input-view-2-2 {
  background: #d2d2d247;
  padding: 8px 10px;
  font-size: 14px;
  width: 95%;
  border-radius: 4px;
  height: 100%;
  border: none;
  box-sizing: border-box;

}

.label-2 {
  font-size: 14px;
  /* padding-bottom: 8px; */
  color: #545353
}

.input-view-2-1:hover {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.input-view-2-1:focus {
  border: 1px solid #716a6a;
}

.input-view-2-grid {
  min-height: 5rem;
  max-height: 5rem;
  display: grid;
  grid-template-rows: max-content 40% max-content;
  grid-gap: 10px;
}

.error-2 {
  color: red;
  font-size: 11px;
  font-weight: 500;
}


/* .no-padding-error-2 {
  padding: 10px 0px;
} */