<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview  {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput type="text" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
        [(ngModel)]="inputData.data.defaultValue">
      <owl-date-time [pickerType]="'timer'" #dt4 (afterPickerClosed)='validationCallBack();emitChangeData();'>
      </owl-date-time>
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>
  </div>
</div>


<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div>
    <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
      class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
      [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)"
      (blur)="emitChangeData();" (focus)="validationCallBack($event.target.value)">
    <owl-date-time [pickerType]="'timer'" #dt4 (afterPickerClosed)='validationCallBack();emitChangeData();'>
    </owl-date-time>
  </div>
  <div [style.color]="errorMessage ? 'red' : ''">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>


<!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
  <app-validations [validateSelector]='inputData'></app-validations>
</div> -->

<!-- Section table create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';opentime()">
      {{inputData?.value}}
    </span>
    <span *ngIf="inputData?.indexNo==isEdit">
      <input (focus)="true" id='timeInput' #myInput class="input-view" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
        [(ngModel)]="inputData?.data.defaultValue" (input)="validationCallBack($event.target.value)">
      <owl-date-time [pickerType]="'timer'" #dt4 (afterPickerClosed)='emitChangeData();isEdit=0;'></owl-date-time>

    </span>
  </div>
</ng-container>





<!-- Table View -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;opentime();(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value}}
    </span>
    <span *ngIf="inputData?.rowId.id==isEdit">
      <input id='timeInput' class="input-view" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
        [(ngModel)]="inputData?.data.defaultValue" (input)="validationCallBack($event.target.value)">
      <input>
      <owl-date-time [pickerType]="'timer'" #dt4 (afterPickerClosed)='emitChangeData();isEdit=0;'></owl-date-time>
    </span>
  </div>
</ng-container>



<!-- Selected VIew -->
<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit">{{inputData.data?.defaultValue}}</span>
    <span *ngIf="isEdit">
      <input id="timeInput" class="input-view" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
        [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)">
      <owl-date-time [pickerType]="'timer'" #dt4 (afterPickerClosed)='emitChangeData();isEdit=0;'></owl-date-time>

    </span>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;opentime()"
        *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)" color="primary">edit_outline
      </mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;emitChangeData();">check_circle_outline
      </mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
