  <!-- Preview Field -->

  <div class="row"
    *ngIf="inputData?.isCreate &&  inputData?.data.type!='user' && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4' ? 'outline': ''}}" class="full-width ">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput type="{{inputData.data.type}} " [(ngModel)]="inputData.data.defaultValue "
        (change)="emitChange(); " [disabled]="'true'">
    </mat-form-field>
  </div>


  <div class="input-view-2-grid "
    *ngIf="inputData?.isCreate &&  inputData?.data.type!='user' && (inputData.fieldViewType=='1' || inputData.fieldViewType=='2' ) ">
    <div class="label-2 ">{{inputData.data.displayValue}}</div>
    <div>
      <input type="{{inputData.data.type}}"
        class="{{inputData.fieldViewType=='1' ? 'input-view-2-1': 'input-view-2-2'}} "
        [(ngModel)]="inputData.data.defaultValue " [disabled]="'true'">
    </div>
  </div>


  <div *ngIf="inputData?.isTableView &&  inputData?.data.type!='user'">
    <span class="{{ !inputData?.value ? 'no-content-padding-table' :''}}">
      {{inputData.value}}
    </span>
  </div>



  <div *ngIf="inputData?.isView && inputData?.data.type!='user'" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content">
      <span>{{inputData.data?.defaultValue}}</span>
    </div>
  </div>















  <div *ngIf="inputData?.data.type==='user'">
    <app-user [data]="{'isComputational':true,componentInput:this.inputData,inputValue:this.inputData.data.inputValue}"
      (event)='event.emit($event)'></app-user>
  </div>
