<div>
  <div *ngIf="inputData?.isCreate">
    <!-- image -->
    <p class="margin-0">{{inputData.data.displayValue}}</p>
    <div class="image-container">
      <p class="image-algin">
        <img [class]="inputData.data.cssClass"
          [src]="imageUrl ? imageUrl : 'https://image.flaticon.com/icons/svg/149/149092.svg'">
      </p>
    </div>
    <label>
      <span class="attach-file">Attach Image</span>
      <!-- id="image-file" -->
      <input type="file" (change)="changeProfilePic($event,inputData);validationCallBack($event);" accept="image/*" />
    </label>
    <span class="error">{{errorMessage | titlecase}}</span>
  </div>

  <div *ngIf="inputData.isMethod=='default-priveiw'" class="defualt-container">
    <mat-label>Default :</mat-label>
    <label>
      <span class="choose-defualt">Attach Image</span>
      <input type="file" (change)="changeProfilePic($event,inputData)" accept="image/*" />
    </label>
    <mat-label>Shape :</mat-label>
    <div>Rounded
      <mat-slide-toggle class="slider-image" (change)="toggleSelect($event)" [color]="'primary'">
      </mat-slide-toggle>
    </div>

  </div>
  <!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
  <app-validations [validateSelector]='inputData'></app-validations>
</div> -->
  <!-- <div *ngIf="inputData?.isTableView">
    <span (click)="fullImagePreview(imageFullPreview)">
      <img [class]="inputData.data.cssClass" [src]="imagePathLink" alt="Image not loaded">
    </span>
  </div> -->
  <!-- section table create -->
  <ng-container>
    <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
      <span class="table-view" *ngIf="!(isEdit==inputData?.indexNo)">
        <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
          (click)="(inputData.data[currentUser.designationId+'Access']==2)?editImage():'';">
          <img style="height: 30px;" [class]="inputData.data.cssClass"
            [src]="!!fileObjSectionTable?fileObjSectionTable:imagePathLink">
        </span>
      </span>
      <mat-icon *ngIf="(isEdit==inputData?.indexNo)" class="done-btn" (click)="isEdit=0;">check_circle_outline
      </mat-icon>
      <label id="sectionTableViewImageLabel">
        <img style="height: 30px;" *ngIf="(isEdit==inputData?.indexNo)" [class]="inputData.data.cssClass"
          [src]="!!fileObjSectionTable?fileObjSectionTable:imagePathLink">
        <input type="file" (change)="changeProfilePic($event,inputData);validationCallBack($event);" accept="image/*" />
      </label>
    </div>
  </ng-container>

  <ng-container>
    <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
      <span class="table-view" *ngIf="!(isEdit==inputData?.rowId?.id)">
        <span (dblclick)="(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''"
          (click)="openImage(imageFullPreview ,$event);">
          <img class="img {{inputData.data.cssClass}}" [src]="imagePathLink">
        </span>
      </span>
      <mat-icon *ngIf="(isEdit==inputData?.rowId?.id)" class="done-btn" (click)="isEdit=0;">check_circle_outline
      </mat-icon>
      <label id="tableViewImageLabel">
        <img class="img {{inputData.data.cssClass}}" *ngIf="(isEdit==inputData?.rowId?.id)" [src]="imagePathLink">
        <input type="file" (change)="changeProfilePic($event,inputData);validationCallBack($event);" accept="image/*" />
      </label>
    </div>
  </ng-container>

  <ng-template #imageFullPreview>
    <img class="fullImagePreview" [src]="imagePathLink" alt="Image not loaded">
  </ng-template>

  <div *ngIf="inputData?.isView" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content {{isEdit? 'edit-field':''}}">
      <span (click)="openImage(imageFullPreview,$event)">
        <img class="img-70 {{inputData.data.cssClass}}" [src]="imagePathLink">
      </span>
      <label *ngIf="isEdit">
        <!-- <span class="attach-file">Attach Image</span> -->
        <input type="file" (change)="changeProfilePic($event,inputData);validationCallBack($event);" accept="image/*" />
      </label>
      <span class="edit-btn">
        <label>
          <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
            color="primary">edit_outline</mat-icon>
          <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline
          </mat-icon>
          <input type="file" (change)="changeProfilePic($event,inputData);validationCallBack($event);"
            accept="image/*" />
        </label>
      </span>
    </div>
  </div>



  <!-- <div *ngIf="inputData?.isView" class="view-container">
      <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
      <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
        <span *ngIf="!isEdit">{{inputData.data?.defaultValue}}</span>
        <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit"
          (change)="emitChangeData();isEdit=!isEdit" (input)="validationCallBack($event.target.value)" (blur)='isEdit=false;'>
        <span class="edit-btn">
          <mat-icon (click)="isEdit=true;" *ngIf="!isEdit"  color="primary">edit_outline</mat-icon>
          <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
        </span>
      </div>
      <span [style.color]="errorMessage ? 'red' : ''"
        style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
    </div>
   -->
