#image-file {
    display: none;
}

.img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.img-section-table {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.image-algin {
    text-align: center;
    /* background: #f7f4f4; */
    margin: 0px;
}

.image-container {
    width: 50%;
    max-width: 12%;
}

.error {
    color: var(--color-warn);
    font-size: 12px;
    font-weight: bold;
}

.p-icon {
    display: flex;
    align-items: center;
}

.attach-file {
    background: var(--color-primary);
    padding: 7px 0px;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: small;
}

.defualt-container {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 8px 9px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.defualt-priview {
    padding: 5px 0px;
    font-size: 11px;
    width: 85px;
    cursor: pointer;
}

.slider-image {
    margin: 0px 10px;
}

.square {
    border-radius: 0%;
}

.round {
    border-radius: 50%;
    width: 74px;
    height: 74px;
}

input[type="file"] {
    display: none;
}

.choose-defualt {
    background: var(--color-primary);
    padding: 4px 10px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    width: max-content;
}


/* image full Preview */

.fullImagePreview {
    width: 100%;
    height: 98%;
    object-fit: cover;
}

.content {
    background: none;
}

.done-btn {
    cursor: pointer;
}