<div>
  <div
    *ngIf="inputData?.isCreate && !inputData?.isComputational && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
    <!-- Drop Down -->
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (click)="getOption('');">
      <mat-label>{{inputData.data.displayValue}}</mat-label>

      <input type="text" placeholder="search..." matInput [matAutocomplete]="autoSingle"
        (input)="getOption($event.target.value)" *ngIf='inputData.data.isAdvanced.userSelectionType==="single"'
        [(ngModel)]='inputData.data.defaultValue'>
      <mat-hint align="end">{{inputData.data.hint}}</mat-hint>
      <input type="text" placeholder="search..." matInput [matAutocomplete]="autoMultiple"
        *ngIf='inputData.data.isAdvanced.userSelectionType==="multiple"' (input)="getOption($event.target.value)"
        [(ngModel)]='inputData.data.defaultValue'>
    </mat-form-field>
  </div>


  <div class="input-view-2-grid"
    *ngIf="inputData?.isCreate  && !inputData?.isComputational && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
      <input class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" placeholder="search..."
        [matAutocomplete]="autoSingle" (input)="getOption($event.target.value)"
        *ngIf='inputData.data.isAdvanced.userSelectionType==="single"' [(ngModel)]='inputData.data.defaultValue'>
    </div>
    <div>
      {{inputData.data.hint}}
    </div>
    <input class=" {{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" placeholder="search..."
      [matAutocomplete]="autoMultiple" *ngIf='inputData.data.isAdvanced.userSelectionType==="multiple"'
      (input)="getOption($event.target.value)" [(ngModel)]='inputData.data.defaultValue'>
  </div>


  <div *ngIf="inputData?.isMethod=='default-priveiw'">
    <!-- Default -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Default Value </mat-label>
      <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
        (input)="getOption($event.target.value)">
      <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)='inputData.data.defaultValue=$event.option.value;emitChangeData()'>
        <mat-option *ngFor="let item of optionList" [value]="item">
          {{item}} </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<!-- Table view edit -->
<ng-container>
  <div *ngIf=" inputData?.isTableView && !!inputData?.rowId && !inputData?.isComputational" (click)="getOption('');">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      <span *ngFor="let item of inputData.value">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span>
          </span>

        </span>
      </span>
    </span>
    <!--ADVANCED single  OPTION -->
    <span>
      <input type="text" placeholder="search..." id="advancedSelect" class="input-view" matInput
        [matAutocomplete]="autoSingle" (input)="getOption($event.target.value)"
        *ngIf="inputData?.rowId.id==isEdit && inputData.data?.isAdvanced.userSelectionType=='single'">
    </span>

    <!--ADVANCED multiple  OPTION -->
    <input type="text" placeholder="search..." matInput [matAutocomplete]="autoMultiple"
      (input)="getOption($event.target.value)"
      *ngIf="inputData?.rowId.id==isEdit && inputData.data?.isAdvanced?.userSelectionType=='multiple'"
      [(ngModel)]='displayValue'>

  </div>
</ng-container>


<!-- Section table create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo  && !inputData?.isComputational"
    (click)="getOption('');">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';">
      <span *ngFor="let item of inputData.value">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span>
          </span>
        </span>
      </span>
    </span>

    <span *ngIf="inputData?.indexNo==isEdit && inputData.data?.isAdvanced.userSelectionType=='single' ">
      <input type="text" placeholder="search..." id="advancedSelect" matInput [matAutocomplete]="autoSingle"
        (input)="getOption($event.target.value)">
    </span>
    <input type="text" placeholder="search..." matInput [matAutocomplete]="autoMultiple" (click)="getOption('')"
      (input)="getOption($event.target.value)"
      *ngIf="inputData.data?.isAdvanced.userSelectionType=='multiple' && isEdit=== inputData.indexNo"
      [(ngModel)]='inputData.data.defaultValue'>
  </div>
</ng-container>


<!-- View or Edit -->
<div *ngIf="inputData?.isView  && !inputData?.isComputational" class="view-container" (click)="getOption('');">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}}">
    <span *ngIf="!isEdit">
      <span *ngFor="let item of inputData.value">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span>
          </span>
        </span>
      </span>
    </span>
    <!--ADVANCED Single OPTION -->
    <span *ngIf="isEdit && inputData.data?.isAdvanced.userSelectionType=='single'">
      <input type="text" placeholder="search..." id="advancedSelect" class="input-view input-height" matInput
        [matAutocomplete]="autoSingle" (input)="getOption($event.target.value)">
    </span>

    <input type="text" placeholder="search..." class="input-view input-height" matInput [matAutocomplete]="autoMultiple"
      (input)="getOption($event.target.value)"
      *ngIf="isEdit && inputData.data?.isAdvanced.userSelectionType=='multiple'"
      [(ngModel)]='inputData.data.defaultValue'>

    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;fieldIsOpen=false;">check_circle_outline
      </mat-icon>
    </span>
  </div>
</div>



<!-- Computational -->

<div *ngIf="inputData.isComputational">
  <div *ngIf="inputData?.isCreate &&  (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input type="text" matInput [(ngModel)]='currentUser.userName' [disabled]='true'>
    </mat-form-field>
  </div>

  <div class="input-view-2-grid"
    *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
      <input class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
        [(ngModel)]='currentUser.userName' [disabled]='true'>
    </div>
    <div>
      {{inputData.data.hint}}
    </div>
  </div>



  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}">
      <span *ngFor="let item of inputData.value">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span>
          </span>
        </span>
      </span>
    </span>
  </div>

  <!-- {{inputData.value}} -->
  <div *ngIf="inputData?.isView" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content">
      <span *ngFor="let item of inputData.value">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span>
          </span>
        </span>
      </span>
    </div>
  </div>

  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}">
      {{inputData?.value | titlecase}}
    </span>
  </div>

</div>















<!-- AUTO COMMPELTE -->
<mat-autocomplete #autoSingle="matAutocomplete" (optionSelected)='singleSelect($event.option.value);emitChangeData()'
  [displayWith]='displayWith'>
  <mat-option *ngFor="let item of optionList" [value]="item">
    <span class="grid-list">
      <span class="avator-container">
        <span class="avator">
          {{item.userName[0]}}
        </span>
      </span>
      <span class="username-container">
        <span>{{item.userName}}</span>
        <span class="email-id">{{item.email}}</span>
      </span>

    </span>
  </mat-option>
</mat-autocomplete>



<mat-autocomplete #autoMultiple="matAutocomplete">
  <mat-option *ngFor="let item of optionList" [value]="item.userName">
    <div (click)="$event.stopPropagation();toggleSelect(item)">
      <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item.userName)"
        (click)="$event.stopPropagation()">
        <span class="grid-list">
          <span class="avator-container">
            <span class="avator">
              {{item.userName[0]}}
            </span>
          </span>
          <span class="username-container">
            <span>{{item.userName}}</span><br>
            <span class="email-id">{{item.email}}</span>
          </span>
        </span>
      </mat-checkbox>
    </div>
  </mat-option>
</mat-autocomplete>
