.email-id {
  color: #5a5656;
  font-weight: 300;
  font-size: 10px;
}

.avator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avator {
  border: 1px solid #adadad;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #adadad;
  color: #fff;
  min-width: 7px;
  max-width: 7px;
  min-height: 7px;
  max-height: 7px;
  align-content: center;
}

.grid-list {
  display: grid;
  grid-template-columns: 13% auto;
  grid-gap: 5px;
}

.username-container {
  margin-right: 10%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: normal;
}

::ng-deep .mat-autocomplete-panel {
  min-width: max-content !important;
}
