.appearance-row {
  display: grid;
  grid-template-columns: 50% 50%
}

.row-item {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 8px;
}

.row-item-h {
  margin: 5%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2), 0 3px 3px -2px rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
  padding: 5%;
}

.input-lable {
  color: #5f5f5f;
  font-size: 14px;
}

.appearance-input-1 {
  font-size: 16px;
  padding: 8px 10px;
  border: 1px solid #dadada;
  background: transparent;
  border-radius: 3px;
  width: 80%;
}

.appearance-input-2 {
  font-size: 16px;
  padding: 8px 10px;
  border: none;
  background: #d2d2d247;
  border-radius: 3px;
  width: 80%;
}

.hint {
  font-size: 12px;
  color: #656262;
}

.width {
  width: 80%;
}

.my-checkfield {
  padding: 24px;
  position: relative;
  border: solid 1px transparent;
}

.my-checkfield-selected {
  border: solid 1px var(--color-primary);
}

.my-checkfield-selected::before,
.my-checkfield-selected::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.my-checkfield-selected::after {
  content: '\2713';
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: white;
}

.my-checkfield-selected::before {
  border-radius: 0;
  border-width: 13px;
  border-right-color: var(--color-primary);
  border-top-color: var(--color-primary);
}
