<div >
  <div class="appearance-row ">
    <div (click)="inputData=1;event.emit(1)"
      class="row-item row-item-h my-checkfield {{ data==1 ? 'my-checkfield-selected' :'' }} ">
      <label class="input-lable">Enter name </label>
      <input class="appearance-input-1" type="text">
      <span class="hint">Help text</span>
    </div>

    <div (click)="inputData=2;event.emit(2)"
      class="row-item row-item-h my-checkfield {{ data==2 ? 'my-checkfield-selected' :'' }}">
      <label class="input-lable">Enter name </label>
      <input class="appearance-input-2" type="text">
      <span class="hint">Help text</span>
    </div>
  </div>

  <div class="appearance-row">
    <div (click)="inputData=3;event.emit(3)" class="row-item-h my-checkfield {{ data==3 ? 'my-checkfield-selected' :'' }}">
      <mat-form-field class="width" appearance="legacy">
        <mat-label>Enter name</mat-label>
        <input matInput>
        <mat-hint>Help text</mat-hint>
      </mat-form-field>
    </div>

    <div (click)="inputData=4;event.emit(4)"
     class="row-item-h my-checkfield {{ data==4 ? 'my-checkfield-selected' :'' }}">
      <mat-form-field class="width" appearance="outline">
        <mat-label>Enter name</mat-label>
        <input matInput>
        <mat-hint>Help text</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
