.nav-item-list {

  border-bottom: 1px solid #d0caca;
  padding: 13px 0px;
}

.nav-item-link {
  padding: 12px;
  text-decoration: none;
  color: #5b5b5b;
  font-size: 14px;
}

.select-item {
  border-bottom: 2px solid var(--color-primary);
}

.setting-main-view-container{
  margin: 15px 20px;
}
