<div class="setting-main-view-container">


<nav class="nav-item-list">
  <a  class="{{ indexNo==selectItem ? 'select-item':'' }} nav-item-link"
     *ngFor="let item of tabList;index as indexNo"
     [routerLink]="item.link"
     routerLinkActive #rla="routerLinkActive"
     (click)="selectItem=indexNo"
    >
    {{item.name}}
  </a>
</nav>

<router-outlet></router-outlet>
</div>
