<div class="create-item-container">

  <div class="create-item-head">
    <div class="align-center">
      <span>{{currentView.name}} </span>
      <span *ngIf="currentView.description.length"> ({{currentView.description}})</span>
    </div>
    <div class="float-right close-btn">
      <button (click)="modelClose.emit(true)" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="master-container">
    <!-- Side bar -->
    <div class="group-container">
      <div (click)="selectedGroup=item.groupName;scrollElement(item.groupName)"
        class="create-side-bar {{selectedGroup==item.groupName  ? 'create-side-bar-active':''}}"
        *ngFor="let item of groupList">
        <p>{{item.groupName | titlecase}}</p>
      </div>
    </div>

    <div class="container">
      <!-- Item itrations -->
      <div class="item-container">
        <div class="items-list" *ngFor="let group of groupList">
          <div class="group-name {{selectedGroup==group.groupName ? 'active-group':''}}" id="{{group.groupName}}">
            {{group.groupName | titlecase}}
          </div>
          <div class="row" *ngFor="let row of metaDataGroupBy[group.groupName];index as i"
            [ngStyle]="{'grid-template-columns':row.grid}">
            <div *ngFor="let item of row.items;index as j;" class="field-gap">
              <app-fields-map
                [data]="{isCreate:2,data: item,fieldViewType:currentView.fieldViewType,inputValue:inputValue}"
                (eventEmit)="eventListen($event)">
              </app-fields-map>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Progress status -->
    <div class="progress-status-container">
      <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'determinate'" [value]="progress">
        {{progress}}
      </mat-progress-spinner>
    </div>
  </div>


  <!-- bottom item list -->
  <div>
    <app-loader [progressBarType]='"progress-bar"' [mode]="'indeterminate'"></app-loader>
  </div>
  <div class="botton-item">
    <!-- <div *ngIf="isPostLoading"> -->
    <!-- </div> -->
    <button mat-raised-button (click)="modelClose.emit(false)">cancel</button>
    <!-- <button mat-raised-button color="primary" (click)="save();"
    [disabled]='!isAllFieldValid'>{{isAllFieldValid? 'Save':'Validating...'}}</button> -->
    <button mat-raised-button color="primary" (click)="save();">Save</button>
  </div>
</div>
