.master-container {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  position: absolute;
  width: 100%;
  top: 54px;
}

.group-container {
  background: #c3c3c314;

}

.container {
  position: relative;
  height: 84vh;
  overflow: auto;
}

.item-container {
  height: 100%;
  overflow: auto;
}

.item-list {
  margin: 11px 15px;
}

.item-container-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.botton-item {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -5px 5px -5px #bbb;
  box-shadow: px -7px #c6c6c6;
  width: 100%;
  background: #fff;
}

.botton-item button {
  margin: 0px 10px;
}

.progress-status-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 0px 10px;
  background: #fff;
  position: relative;
  height: 17%;
  margin: 11px 16px;
  margin-top: 41px;
}

.field-gap {
  padding: 10px;
}


.items-list {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  border: 1.5px solid #e4e4e4ad;
  padding: 20px;
  margin: 40px 20px;
  position: relative;
  border-radius: 4px;
  padding-top: 35px;
}

.group-name {
  position: absolute;
  top: -22px;
  left: 20px;
  border: 1.5px solid #ededed;
  border-radius: 4px;
  padding: 10px 9px;
  background: #fff;
  color: #414040;
  font-weight: 450;
}

.row {
  display: grid;
  /* background:red; */
}


.create-item-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.create-item-head {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 7px 8px 7px 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  position: absolute;
  width: 98%;
  z-index: 9999;
  background: #fff;
}

.align-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.create-side-bar {
  padding: 14px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.create-side-bar p {
  margin: 0px;
}

.create-side-bar-active {
  background: var(--color-primary);
  color: #fff;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .3s linear;
}
.active-group{
  border-color: var(--color-primary);
}