<div>
  <mat-form-field appearance="outline" style='width:100%'>
    <mat-label>Select Fields To be Affected</mat-label>
    <mat-select multiple (valueChange)='selectedField($event);addFieldList();'>
      <!-- <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger> -->
      <mat-option *ngFor="let item of fieldList" [value]="item">
        {{item.displayValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="list-grid">
    <div *ngFor="let option of inputData.data.optionValue">
      <span class="list-title">{{option | titlecase}}</span>
      <div *ngFor="let item of selectedFieldList" class="info-list">
        <mat-checkbox color='primary' (change)='add(item,$event.checked,option)' [checked]='item.checked'>
          {{item.displayValue}}
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
