.list-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.info-list {
  padding: 14px;
  border: 1px solid #adadad45;
  border-radius: 4px;
  margin: 10px;
}

.list-title {
  display: flex;
  justify-content: center;
}
