.img-logo {
    height: 32px;
    display: flex;
}

.notification-icon {
    display: flex;
    justify-content: flex-end;
    margin: 0% 0%;
}

.notification-icon .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.notification-container {
    height: 31vh;
    overflow: scroll;
    padding: 10px 0px;
    overflow-x: hidden;
}

.notification-head {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 85% 15%;
}

.notification-title {
    font-size: 18px;
    font-weight: 500;
    color: #6c6a6a;
}

.mark-as-read {
    font-size: 11px;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
}

.notification-list {
    padding: 10px;
    border-bottom: 1px solid rgba(49, 55, 175, 0.12);
    /* border-bottom: 1px solid #dddddd; */
}

.list-notify {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 17px;
}

.avator {
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.message {
    font-size: 14px;
    letter-spacing: 0.54px;
    text-align: left;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
}

.un-read-message {
    background: #eef7ff;
}

.timestamp {
    padding-top: 8px;
    font-size: 13px;
    color: #9d9d9d;
}

::ng-deep .mat-menu-panel {
    max-width: 370px !important;
    min-width: max-content !important;
}

.notification-icon {
    font-size: 23px;
}