<div>
    <div class="notification-container" (scroll)="scroll($event)" id="notificationDiv">
        <div *ngFor="let item of notifications" class="notification-list  {{item.isSeen!='0' ? '':'un-read-message'}}">
            <div class="list-notify">
                <span class="avator">{{item.createdBy[0]?.userName[0]}}</span>
                <span class="message">{{item?.notification}}
          <div class='timestamp'>
            {{item.createdOn | date:'medium'}}
          </div>
        </span>
            </div>
        </div>
    </div>
</div>