<mat-form-field appearance="outline" class="full-width form-field">
  <mat-label>View Accessibility</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of controlList" [selectable]="selectable" [removable]="removable"
      (removed)="remove(item);emitChangeData();">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #designationInput [formControl]="designationCtrl" [matAutocomplete]="designationAuto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" (blur)='emitChangeData();'>
  </mat-chip-list>
  <mat-autocomplete #designationAuto="matAutocomplete" (optionSelected)="selected($event);">
    <mat-option *ngFor="let item of designationList" [value]="item.designation">
      {{item.designation}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
