<div class="container">
  <div class="head-row">
    <!-- <p></p> -->
    <!-- <p class="margin-0"> -->
    <mat-form-field appearance="outline" class="search-form-field">
      <mat-label>Search process...</mat-label>
      <input matInput (input)='searchProcess($event.target.value)'>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- </p> -->
  </div>

  <!-- Toogle to permission to edit Process vice versa  -->
  <div class="toggle-container">
    <span class="button-toggle-group-line">
      <mat-button-toggle-group>
        <mat-button-toggle class="button-toggle-group-line" [checked]="true" value="Form"
          (click)='isPermission=false;isEditProcess=true;isHover=false;'>Edit Process</mat-button-toggle>
        <mat-button-toggle class="button-toggle-group-line" value="Permission"
          (click)='getDesignation();isPermission=true;isEditProcess=false;'>
          Permission</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <!-- list of Process grouped by different Group -->
  <div *ngFor="let group of groupList" [hidden]="!Infodata[group.id].length">
    <p class="group-name">
      <input type="text" id="{{group.name}}" (change)="updateGroupName($event.target.value,group.id)"
        class="group-input" [(ngModel)]="group.name">
      <mat-icon class="group-name-edit-btn"
        (click)="isEditClick ? updateGroupName(group.name,group.id) : editgroupName(group.name);isEditClick=!isEditClick;">
        {{ isEditClick ? 'check_circle_outline':'edit' }}</mat-icon>
    </p>
    <!-- Card list -->
    <div class="list-grid">
      <div class="card-list" (click)="createFlowOpenModel(createFlowModel,group.name,group.id);">
        <p class="text-center">
          <button mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="text-center">Create New Form</p>
      </div>
      <div class="card-list" *ngFor="let item of Infodata[group.id];index as i">
        <p class="delete-icon" *ngIf="item.isDeletable && isEditProcess"> <button mat-icon-button color="warn"
            (click)="deleteDialogOpen(item,i,deleteFlow);deleteitemTemp['groupName']=group.name;deleteitemTemp['groupId']=group.id">
            <mat-icon>delete</mat-icon>
          </button></p>
        <div (click)="isEditProcess?openFormModel(item):''" (mouseover)='isHover=item.id'>
          <p class="text-center">
            <!-- *ngIf="!item.icon" -->
            <span>
              <img src="../../../assets/img/database.svg">
            </span>
            <!-- <span *ngIf="item.icon">
              <mat-icon>{{item.icon}}</mat-icon>
            </span> -->
          </p>

          <p class="text-center">{{item.name}}</p>
        </div>
        <!-- set Permission -->
        <span *ngIf=" isPermission  && isHover==item.id" class="permission">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="accessLevel=1" [matMenuTriggerFor]="menu">Read only
            </mat-button-toggle>
            <mat-button-toggle (click)="accessLevel=2" [matMenuTriggerFor]="menu">Editable
            </mat-button-toggle>
            <mat-button-toggle (click)="accessLevel=0" [matMenuTriggerFor]="menu">Hidden</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-menu #menu="matMenu">
            <div *ngFor="let desig of designationList" (click)="$event.stopPropagation();" class="menu-item">
              <mat-checkbox color="primary" [checked]="accessLevel==item[desig.id+'Access']"
                (change)="addPermission(desig.id, item, $event.checked);">{{desig.designation}}
              </mat-checkbox>
            </div>
          </mat-menu>
        </span>
      </div>
      <!-- Loader -->
      <div class="loader">
        <app-loader [size]="25" [font]="16" *ngIf="!data?.length"></app-loader>
      </div>
    </div>
  </div>

  <!-- Open form Builder  -->
  <ng-template #formBuilder>
    <div class="form-builder-container">
      <div class="form-builder-head">
        <h4 class="margin-0">{{dataTablePassInfo.name}}</h4>
      </div>
      <div class="text-center">
        <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Form" >Form</mat-button-toggle>
          <mat-button-toggle value="Workflow">Workflow</mat-button-toggle>
          <mat-button-toggle value="Permission">Permission</mat-button-toggle>
        </mat-button-toggle-group> -->
      </div>
      <div>
        <button (click)="formBuilderDialogRef.close()" class="float-right" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="form-builder">
      <app-form-builder [dataTableInfo]="dataTablePassInfo"></app-form-builder>
    </div>
  </ng-template>
</div>

<!-- Create process -->
<ng-template #createFlowModel>
  <app-createflow-model [groupInfo]="{'groupName':groupName,'groupId':groupId}" (eventEmit)="dialogRef.close()">
  </app-createflow-model>
</ng-template>

<!-- Delete -->
<ng-template #deleteFlow>
  <app-delete [inputData]="{type:'item'}" (event)="$event ? delete() : deleteDialogRef.close()"></app-delete>
</ng-template>
