.head-row {
  /* display: grid;
  grid-template-columns: 20% 40% 40%; */
  display: flex;
  justify-content: center
}

.search-form-field {
  width: 60%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em;
}

.container {
  padding: 25px;
}

.list-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #f5f5f5;
  padding: 20px;

}

.card-list {
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 10px 10px;
  background: #fff;
  position: relative;
}

.loader {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 20px;
}

.delete-icon {
  visibility: hidden;
  margin: 0px;
  position: absolute;
  right: 10px;
  top: 10px;

}

.card-list:hover .delete-icon {
  visibility: visible;
}

.form-builder-head {
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.form-builder-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 21px 10px 0px;
  box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
}



img {
  width: 40px;
}

.permission {
  position: absolute;
  top: 20%;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;


}

.button-toggle-group-line {
  /* display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; */
}

.menu-item {
  margin: 10px;
}

.toggle-container {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.group-name {
  font-size: 20px;
}

.group-name:hover .group-name-edit-btn {
  display: inline;
}

.group-name-edit-btn {
  display: none;
  margin-left: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  font-size: 19px;
}

.group-input {
  font-size: 19px;
  border: 1px dashed transparent;
  background: transparent;
  padding: 0px 10px;
}

.group-input:hover {
  border: 1px dashed var(--color-primary);
}

/* .group-name-edit-btn {
  display: none;
  cursor: pointer;
} */
