.input-text-select {
    border: 0px solid #cecece;
    padding: 3px 0px;
    font-size: 14px;
    width: 86%;
    border-radius: 4px;
    text-align: left!important;
    /* margin-left: 31px; */
    padding-left: 12px!important;
    background-color: #f5f5f5;
}