<div class="label-text">Operation</div>
<div class="input-text-select">
    <mat-select placeholder="Search Field">
        <mat-option *ngFor="let item of operation" [value]="item">
            {{item}}
        </mat-option>
    </mat-select>
</div>
<div class="label-text">Type</div>
<div class="input-text-select">
    <mat-select placeholder="Search Field">
        <mat-option *ngFor="let item of type" [value]="item">
            {{item}}
        </mat-option>
    </mat-select>
</div>