.table1 {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border-spacing: 0;
}

.table-container-item {
  margin: 27px 0px;
  display: grid;
  grid-template-columns: 20% 80%;
}

tr {
  height: 49px;
  font-size: 14px;
  border-radius: 4px;
}

th {
  font-weight: 500;
  color: #313131cc;
  padding:0px 15px;
}

td {
  padding:0px 15px;
}

th.table1-th {
  border-bottom: 1px solid #a2a2a2;
}

td.table1-th {
  border-bottom: 1px solid #e0e0e0;
}

.table2 {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border-spacing: 0;
}

.table2 tr:nth-child(odd) {
  background-color: #f2f2f2;
}


.table3 {
  width: 100%;
  text-align: left;
  padding: 10px 14px;
  border-radius: 4px;
  border-collapse: collapse;
}

.table3 td,
.table3 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table3 tr:hover {
  background-color: #f2f2f2;
}

.check-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
