<div>

  <!-- Table1 -->
  <div class="table-container-item">
    <div class="check-container">
        <mat-checkbox (change)="event.emit(1)" color="primary" [checked]="data==1"></mat-checkbox>
    </div>
    <div>
      <p>Horizontal Dividers
      </p>
      <table class="table1">
        <tr>
          <th class="table1-th">Column 1</th>
          <th class="table1-th">Column 2</th>
          <th class="table1-th">Column 3</th>
        </tr>
        <tr>
          <td class="table1-th">row 1</td>
          <td class="table1-th">row 1</td>
          <td class="table1-th">row 1</td>
        </tr>
        <tr>
          <td class="table1-th">row 2</td>
          <td class="table1-th">row 2</td>
          <td class="table1-th">row 2</td>
        </tr>
      </table>
    </div>

  </div>

  <!-- Table2 -->
  <div class="table-container-item">
    <div class="check-container">
        <mat-checkbox (change)="event.emit(2)" color="primary" [checked]="data==2"></mat-checkbox>
    </div>
    <div>
      <p>Striped Tables</p>
      <table class="table2">
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
        <tr>
          <td>row 1</td>
          <td>row 1</td>
          <td>row 1</td>
        </tr>
        <tr>
          <td>row 2</td>
          <td>row 2</td>
          <td>row 2</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Table3 -->
  <div class="table-container-item">
    <div class="check-container">
        <mat-checkbox (change)="event.emit(3);" color="primary" [checked]="data==3"></mat-checkbox>
    </div>
    <div>
      <p>Normal Table</p>
      <table class="table3">
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
        <tr>
          <td>row 1</td>
          <td>row 1</td>
          <td>row 1</td>
        </tr>
        <tr>
          <td>row 2</td>
          <td>row 2</td>
          <td>row 2</td>
        </tr>
      </table>
    </div>
  </div>

</div>
