<!-- <div>
  <div *ngIf="!isMain">
    <app-login-page></app-login-page>
  </div>
  <div *ngIf="isMain">
    <app-sidenav></app-sidenav>
  </div>
</div> -->
<audio #notification_audio src="../assets/audio/notification.mp3" autostart=true id="notification_audio"></audio>
<!-- Router  -->
<router-outlet></router-outlet>
<!-- <app-profile></app-profile> -->