<div *ngIf="inputData.data.type=='toggle'">
  <app-toggle [data]="inputData" (event)="eventHandlerInShowHide($event);"></app-toggle>
</div>
<div *ngIf="inputData.data.type=='select'">
  <app-select [data]="inputData" (event)="eventHandlerInShowHide($event);"></app-select>
</div>
<div *ngIf="inputData.data.type=='checklist'">
  <app-checklist [data]="inputData" (event)="eventHandlerInShowHide($event);"></app-checklist>
</div>
<div *ngIf="inputData.data.type=='checkbox'">
  <app-checkbox [data]="inputData" (event)="eventHandlerInShowHide($event);"></app-checkbox>
</div>
