<!-- Preview Field -->
<div class="row {{isValid ? 'valid':'not-valid'}}"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <mat-form-field appearance="{{ inputData.fieldViewType=='4' ? 'outline': ''}}" class="full-width "
    (focus)="isValid=false; ">
    <mat-label>{{inputData.data.displayValue}}</mat-label>
    <input matInput type="{{inputData.data.type}} " (input)="validationCallBack($event.target.value) "
      [(ngModel)]="inputData.data.defaultValue " (change)="emitChangeData(); " (blur)="isUnique(); "
      (focus)="validationCallBack($event.target.value) ">
    <mat-hint align="end " [style.color]="errorMessage ? 'red' : '' ">
      {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</mat-hint>
    <mat-icon matSuffix>{{inputData.data.icon}}</mat-icon>
  </mat-form-field>
</div>


<div class="input-view-2-grid "
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1' || inputData.fieldViewType=='2' ) ">
  <div class="label-2 ">{{inputData.data.displayValue}}</div>
  <div>
    <input type="{{inputData.data.type}}" class="{{inputData.fieldViewType=='1' ? 'input-view-2-1': 'input-view-2-2'}} "
      [(ngModel)]="inputData.data.defaultValue " (input)="validationCallBack($event.target.value) "
      (blur)="isUnique();emitChangeData(); " (focus)="validationCallBack($event.target.value) ">
  </div>
  <div [style.color]="errorMessage ? 'red' : '' " class="error-2 ">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>


<!-- <div *ngIf="inputData?.isValidation " class="validation-container ">
 <app-validations [validateSelector]='inputData'></app-validations> 
</div> -->

<!-- Table Create View -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo ">
    <span id="{{inputData?.indexNo+ '_'+inputData?.data.name}} "
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' : ''}} "
      *ngIf="!(isEdit==inputData?.indexNo) "
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'' ">
      {{inputData?.value}}
    </span>
    <input (focus)="true " type="number" #myInput class="input-view " [(ngModel)]="inputData?.data.defaultValue "
      *ngIf="inputData?.indexNo==isEdit " (change)="isUnique();emitChangeData();isEdit=0 "
      (input)="validationCallBack($event.target.value) " (blur)='isUnique();isEdit=0'>
  </div>
</ng-container>

<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId ">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' : ''}} "
      *ngIf="!(isEdit==inputData?.rowId?.id) "
      (dblclick)="(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value}}
    </span>
    <input (focus)="true" type="number" #myInput class="input-view " [(ngModel)]="inputData?.data.defaultValue "
      *ngIf="inputData?.rowId.id==isEdit " (change)="isUnique();emitChangeData();isEdit=0 "
      (input)="validationCallBack($event.target.value) " (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>



<!-- view and Edit -->
<div *ngIf="inputData?.isView " class="view-container ">
  <div class="content-name ">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field': ''}} {{errorMessage? 'invalid': ''}} ">
    <span *ngIf="!isEdit ">{{inputData.data?.defaultValue}}</span>
    <input (focus)="true " type="number" #myInput class="input-view " [(ngModel)]="inputData.data.defaultValue "
      *ngIf="isEdit " (change)="emitChangeData();isUnique();isEdit=!isEdit "
      (input)="validationCallBack($event.target.value) " (blur)='isEdit=false;'>
    <span class="edit-btn ">
      <mat-icon (click)="isEdit=true; " *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">
        edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit " class="done-btn " (click)="isEdit=false; ">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : '' "
    style="font-size:8px; ">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
