.preview-field {
  text-align: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.container {
  background: #fff;
}

::ng-deep div.mat-form-field-wrapper {
  padding-bottom: 0em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px !important;
}

.validation-container{
  margin:10px 0px;
}
.mat-card{
margin:10px 0px;
}
.list-valid{
  border: 1.5px solid #ababab1f;
  padding: 10px;
  /* padding-top: 10px; */
  border-radius: 6px;
  margin-bottom: 6px;
  display:grid;
  grid-template-columns: 60% 30% 10%;
}
.icon-align{
  display: flex;
  justify-content: center;
  align-items: center;
}