<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput (blur)="check($event.target.value);isUnique();" type="{{inputData.data.type}}"
        [(ngModel)]="inputData.data.defaultValue" (focus)="isValid=false;">
      <!-- (change)="emitChangeData();" -->
      <mat-icon matSuffix>{{inputData.data.icon}}</mat-icon>
      <mat-hint align="end">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</mat-hint>
    </mat-form-field>
  </div>
</div>


<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container {{isValid ? 'valid':'not-valid'}}">
    <input type="{{inputData.data.type}} " class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
      (blur)="check($event.target.value);isUnique(); " type="{{inputData.data.type}} "
      [(ngModel)]="inputData.data.defaultValue " (focus)="isValid=false; ">
    <mat-icon class="email-icon " matSuffix>{{inputData.data.icon}}</mat-icon>
  </div>
  <div [style.color]="errorMessage ? 'red' : '' " class="error-2 ">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>



<!-- section table create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo ">
    <span id="{{inputData?.indexNo+ '_'+inputData?.data.name}} "
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' : ''}} "
      *ngIf="!(isEdit==inputData?.indexNo) "
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'' ">
      {{inputData?.value}}
    </span>
    <input (focus)="true " #myInput type="mail " class="input-view " [(ngModel)]="inputData.data.defaultValue "
      *ngIf="inputData?.indexNo==isEdit " (blur)="check($event.target.value);emitChangeData();isEdit=0 ">
  </div>
</ng-container>



<!-- Table View Data -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId ">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' : ''}} "
      *ngIf="!(isEdit==inputData?.rowId?.id) "
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value}}
    </span>
    <input (focus)="true " #myInput type="mail " class="input-view " [(ngModel)]="inputData.data.defaultValue "
      *ngIf="inputData?.rowId.id==isEdit " (blur)="check($event.target.value);emitChangeData();isEdit=0 ">
  </div>
</ng-container>

<!-- Selected VIew -->
<!-- (input)="check($event.target.value) " -->
<div *ngIf="inputData?.isView " class="view-container ">
  <div class="content-name ">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field': ''}} {{errorMessage? 'invalid': ''}} ">
    <span *ngIf="!isEdit ">{{inputData.data?.defaultValue}}</span>
    <input (focus)="true " #myInput class="input-view " [(ngModel)]="inputData.data.defaultValue " *ngIf="isEdit "
      (blur)='emitChangeData();isUnique();isEdit=false;'>
    <span class="edit-btn ">
      <mat-icon (click)="isEdit=true;isValid=false; "
        *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2) " color="primary">edit_outline
      </mat-icon>
      <mat-icon *ngIf="isEdit " class="done-btn " (click)="isEdit=false; ">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : '' "
    style="font-size:8px; ">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
