.grid-container {
  position: relative;
}

.email-icon {
  position: absolute;
  text-align: right;
  float: right;
  right: 11px;
  color: #6b6666;
  top: 4%;
  padding: 3px;
  right: 6%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}


/* 
.date-icon:hover {
    background: #ddd3d380;
} */
