<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (focus)="isValid=false;">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput type="{{inputData.data.type}}" (click)="isPrefixVisible=true"
        (blur)="isPrefixVisible =inputData.data.defaultValue.length ? true: false;isUnique();"
        [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)"
        (change)="emitChangeData()" (focus)="validationCallBack($event.target.value)">
      <span matPrefix *ngIf="isPrefixVisible">http://&nbsp;</span>
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>
  </div>
</div>


<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container">
    <input type="{{inputData.data.type}}"
      class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}} input-indent"
      (click)="isPrefixVisible=true"
      (blur)="isPrefixVisible =inputData.data.defaultValue.length ? true: false;isUnique();"
      [(ngModel)]="inputData.data.defaultValue" (input)="validationCallBack($event.target.value)"
      (change)="emitChangeData()" (focus)="validationCallBack($event.target.value)">
    <span matPrefix class="prefix" *ngIf="isPrefixVisible">http://&nbsp;</span>
  </div>
  <div [style.color]="errorMessage ? 'red' : ''" class="error-2">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>



<!-- Table View creation -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      <span (click)="openUrl(inputData.value,$event);" matTooltip="ctrl+ click to open url"
        class="url-container">{{inputData?.value}}</span>
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData?.data.defaultValue"
      *ngIf="inputData?.indexNo==isEdit" (change)="isUnique();emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>

<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      <span (click)="openUrl(inputData.value,$event);" matTooltip="ctrl+ click to open url"
        class="url-container">{{inputData?.value}}</span>
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData?.data.defaultValue"
      *ngIf="inputData?.rowId.id==isEdit" (change)="isUnique();emitChangeData();isEdit=0"
      (input)="validationCallBack($event.target.value)" (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>

<!-- view and Edit -->
<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit" (click)="openUrl(inputData.data?.defaultValue,$event)" matTooltip="ctrl+ click to open url"
      class="url-container">
      {{inputData.data?.defaultValue}}</span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit"
      (change)="isUnique();emitChangeData();isEdit=!isEdit" (input)="validationCallBack($event.target.value)"
      (blur)='isEdit=false;'>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
