::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -5px !important;
}

.url-container {
    cursor: pointer;
    color: var(--color-primary);
}


/* URL Prefix CsS */

.grid-container {
    position: relative;
    /* display: grid; */
    /* grid-template-areas: "input-1" "input-2"; */
    /* grid-template-columns: 75% 25%; */
    background: #fff;
}

.prefix {
    position: absolute;
    top: 4px;
    padding: 3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-indent {
    text-indent: 44px!important;
}