<div class="tableview-container">

  <!-- Filter -->
  <div class="filter-container">
    <div>
      <div *ngIf="isEdit">
        <div class="table-filter-container">

          <div *ngFor="let item of filterList">
            <div class="input-table-container">
              <span class="table-input-lable">{{item.displayName}}</span>
              <input matInput placeholder="Select {{item.displayName}}" [(ngModel)]='item.value'
                [matAutocomplete]="auto" class="table-input-filter" (input)="get(item)">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getTableTimeConfig(item,$event)'>
                <mat-option *ngFor="let list of item.optionValue " [value]="list">
                  <span>{{list[item.name]}}</span>
                </mat-option>
              </mat-autocomplete>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="create-btn">
      <button mat-raised-button color="{{!isEdit?'primary':''}}"
        (click)="isEdit=!isEdit">{{!isEdit? 'Create / Edit':'Cancel'}}</button>
    </div>
  </div>

  <div *ngIf="!!data.length && isEdit" class="table-container">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="{{column.name}}" *ngFor="let column of metaData">
        <th mat-header-cell *matHeaderCellDef>{{column.displayValue}} </th>
        <td mat-cell *matCellDef="let row;index as i">
          <span *ngIf="column.name!=='splitType' && column.name!=='dayOrder' && column.name!=='action'"
            class="select text-center">
            <mat-select [(ngModel)]="row[column.name]"
              (selectionChange)="isUpdate?save({field:column.name,value:row[column.name],id:row['id']}):''">
              <mat-option *ngFor="let item of subjectList" [value]="item.subject">{{item.subject}}</mat-option>
            </mat-select>
          </span>
          <span *ngIf="column.name==='splitType'" class="select text-center split-type">
            <mat-select [(ngModel)]="row[column.name]"
              (selectionChange)="isUpdate?save({field:column.name,value:row[column.name],id:row['id']}):''">
              <mat-option *ngFor="let item of spiltList" [value]="item">{{item}}</mat-option>
            </mat-select>
          </span>
          <span *ngIf="column.name==='dayOrder'">
            <span class="text-center">
              {{row[column.name]}}
            </span>
          </span>
          <span *ngIf="column.name==='action'" class="action-container">
            <button mat-icon-button color="primary" (click)="addSplit(row,i)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <div>
              <button mat-icon-button color="warn" (click)="removeSplit(row,i)" *ngIf="row['splitType']!=='split-1'">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </span>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayTocolumn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayTocolumn;"></tr>
    </table>


  </div>
  <div class="bottom-btn" *ngIf='!!data.length && isEdit'>
    <span class="btn" (click)="!isUpdate?save(''):''">
      {{isUpdate?'Update':'Save'}}
    </span>
  </div>
</div>