.tableview-container {
  margin: 10px;
  box-sizing: border-box;
}

.table-filter-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  width: 100%;
  box-sizing: border-box;
}

.input-table-container {
  width: 100%;
  box-sizing: border-box;
}

.table-input-filter {
  width: 88%;
  border: 1px solid #c7c7c7;
  background: transparent;
  padding: 5px;
  height: 21px;
  margin-top: 6px;
  border-radius: 3px;
}

.table-input-lable {
  font-size: 13px;
  color: #656464;
}



tr:nth-child(even) {
  background: #f7f7f7;
}

td.mat-cell,
th.mat-header-cell {
  padding: 0px 15px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */

}



td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-style: none !important;
  width: 3%;
}

input {
  background: transparent;
}

.select {
  border: 1px solid #e0e0e0;
  padding: 6px;
  border-radius: 3px;
  background: transparent;
}

.mat-column-splitType {
  width: 7vh;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 6px 20px;
  background: var(--color-primary);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;

}

.bottom-btn {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-select-arrow {
  color: #dfdfdf !important;
}

::ng-deep .select:hover .mat-select-arrow {
  color: #616060 !important;
}

.table-container {
  width: 100%;
  overflow: auto;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-height: 10%;
  margin-top: 2%;
}

.filter-container {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 4vh;
  margin-bottom: 40px;
}

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

.action-container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 2px
}

.split-type {
  width: 6%;
}