<div class="loader-container" *ngIf="isLoader">
  <app-loader [size]="20" [font]="20"></app-loader>
</div>
<div class="item-list " *ngFor="let group of groupList;index as i ">

  <div class="group-name {{groupSelect==group.groupName ? 'selected-group': ''}} " id="{{group.groupName}} ">
    <div class="inline-circle">
      <h5>{{i+1}}</h5>
    </div>
    <div class="test">{{group.groupName | titlecase}}</div>
  </div>

  <div class="row " *ngFor="let row of metaDataGroupBy[group.groupName];index as i "
    [ngStyle]="{ 'grid-template-columns':row.grid} ">
    <div class="auto" *ngFor="let item of row.items;index as j; ">
      <app-fields-map [data]="{isView:true,data: item, value: infoData.value[commonService.toCamelCase(item.name)],
            rowInfo:infoData.value,inputValue:infoData.inputValue} " (eventEmit)='eventListen($event)'>
      </app-fields-map>
    </div>
  </div>
</div>
