.check-list {
    padding: 10px;
}

.hint {
    display: block;
    font-size: 12px;
}

.chip {
    background: var(--color-primary);
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    margin: 0px 2px;
    line-height: 39px;
}


/* toottip */


/* Base styling*/


/* Popover styling */

a {
    text-decoration: none;
}

.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    /* margin-top: 1.5rem; */
    display: inline-block;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0px;
    transform: translate(0, 10px);
    background-color: #fff;
    padding: .7rem;
    box-shadow: 0 2px 5px 0;
    width: auto;
    top: 43px;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.more-data {
    color: #838383;
    font-size: 12px;
}

.input-height {
    height: 37px;
}

.content {
    padding: 0px 10px;
}

.input-select {
    width: 95%;
    border-radius: 4px;
    height: 22px;
    border: 1px solid #cecece;
    padding: 7px;
    /* margin: 20px; */
    /* margin-left: 0px; */
    /* margin-top: -3px; */
}

.input-select2 {
    width: 95%;
    border-radius: 4px;
    height: 22px;
    border: none;
    padding: 7px;
    background: #d2d2d247;
    /* margin: 20px; */
    /* margin-left: 0px; */
    /* margin-top: -3px; */
}