<div>
  <div *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
    <!-- Drop Down -->
    <mat-form-field appearance="{{ inputData.fieldViewType=='4' ? 'outline': ''}}" class="full-width "
      (click)="getOption( '') ">
      <mat-label>{{inputData.data.displayValue}}</mat-label>

      <!-- NON ADVANCED OPTION -->
      <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData() " multiple *ngIf="!isAdvanced ">
        <!-- [style.color]="item.split( '::')[1] " -->
        <mat-select-trigger>
          {{inputData.data.defaultValue ? inputData.data.defaultValue[0] : ''}}
          <span *ngIf="inputData.data.defaultValue?.length> 1" class="more-data">
            (+{{inputData.data.defaultValue.length - 1}}
            {{inputData.data.defaultValue?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
        </mat-option>
      </mat-select>

      <!-- ADVANCED OPTION -->
      <span *ngIf="isAdvanced">
        <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
          (input)="getOption($event.target.value)" [(ngModel)]='inputData.data.defaultValue'>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='emitChangeData()'>
          <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
            <div (click)="$event.stopPropagation();toggleSelect(item)">
              <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
                (click)="$event.stopPropagation()">{{item[commonService.toCamelCase(advanced.fieldName)]}}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete>
      </span>
      <!-- <mat-hint align="end">{{inputData?.data?.hint}}</mat-hint> -->
    </mat-form-field>

  </div>



  <div class="input-view-2-grid"
    *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
      <div class="input-select" *ngIf="!isAdvanced && inputData.fieldViewType=='1'">
        <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData()" multiple>
          <!-- [style.color]="item.split('::')[1]" -->
          <mat-select-trigger>
            {{inputData.data.defaultValue ? inputData.data.defaultValue[0] : ''}}
            <span *ngIf="inputData.data.defaultValue?.length > 1" class="more-data">
              (+{{inputData.data.defaultValue.length - 1}}
              {{inputData.data.defaultValue?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
            *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
          </mat-option>
        </mat-select>
      </div>
      <div class="input-select2" *ngIf="!isAdvanced && inputData.fieldViewType=='2'">
        <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData()" multiple>
          <!-- [style.color]="item.split('::')[1]" -->
          <mat-select-trigger>
            {{inputData.data.defaultValue ? inputData.data.defaultValue[0] : ''}}
            <span *ngIf="inputData.data.defaultValue?.length > 1" class="more-data">
              (+{{inputData.data.defaultValue.length - 1}}
              {{inputData.data.defaultValue?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
            *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="isAdvanced" class="input-select">
        <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
          (input)="getOption($event.target.value)" [(ngModel)]='inputData.data.defaultValue'>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='emitChangeData()'>
          <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
            <div (click)="$event.stopPropagation();toggleSelect(item)">
              <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
                (click)="$event.stopPropagation()">{{item[commonService.toCamelCase(advanced.fieldName)]}}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div>
      {{inputData.data.hint}}
    </div>
  </div>



  <div *ngIf="inputData?.isMethod=='default-priveiw'">
    <!-- Default -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Default Value </mat-label>

      <!-- NON ADVANCED OPTION -->
      <mat-select placeholder="Default Value :"
        (selectionChange)="inputData.data.defaultValue=$event.value;emitChangeData()" *ngIf="!isAdvanced">
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item.split('::')[0]"
          (click)="inputData.data.defaultValue=item.split('::')[0]">{{item.split('::')[0]}}</mat-option>
      </mat-select>

      <!-- ADVANCED OPTION -->
      <span *ngIf="isAdvanced">
        <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
          (input)="getOption($event.target.value)" [(ngModel)]='inputData.data.defaultValue'>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='emitChangeData()'>
          <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
            <div (click)="$event.stopPropagation();toggleSelect(item)">
              <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
                (click)="$event.stopPropagation()"> {{item[commonService.toCamelCase(advanced.fieldName)]}}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete>
      </span>
    </mat-form-field>
  </div>
</div>


<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id) && !isAdvanced"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      <span *ngIf="!!inputData.value.length && isEdit!=inputData?.indexNo">
        <div class="popover__wrapper">
          <span *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
          <div class="popover__content">
            <span *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
          </div>
        </div>
      </span>
    </span>
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.indexNo) && isAdvanced"
      (dblclick)="setValue(inputData.value);(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';getOption('');">
      <div class="popover__wrapper">
        <span *ngFor="let item of inputData.value"
          class="chip">{{item[commonService.toCamelCase(advanced.fieldName)]}}</span>
        <div class="popover__content">
          <span *ngFor="let item of inputData.value"
            class="chip">{{item[commonService.toCamelCase(advanced.fieldName)]}}</span>
        </div>
      </div>
    </span>
    <!-- NON ADVANCED OPTION -->
    <mat-select #myInput (valueChange)="inputData.data.defaultValue=$event;emitChangeData();isEdit=0;" multiple
      [(ngModel)]="selectedObjects" [compareWith]="comparer" *ngIf="!isAdvanced">
      <mat-select-trigger>
        <span class="popover__wrapper" *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let iobject of (inputData.data.optionValue+'').split(',')" [value]="iobject">{{iobject}}
      </mat-option>
    </mat-select>
    <!-- ADVANCED OPTION -->
    <input type="text" placeholder="search..." matInput [matAutocomplete]="auto" (click)="getOption('')"
      (input)="getOption($event.target.value)" *ngIf="isAdvanced && isEdit=== inputData.indexNo"
      [(ngModel)]='inputData.data.defaultValue'>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='emitChangeData()'>
      <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
        <div (click)="$event.stopPropagation();toggleSelect(item)">
          <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
            (click)="$event.stopPropagation()">{{item[commonService.toCamelCase(advanced.fieldName)]}}</mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</ng-container>



<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      <span *ngIf="!!inputData.value.length && !isAdvanced">
        <div class="popover__wrapper">
          <span *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
          <div class="popover__content">
            <span *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
          </div>
        </div>
      </span>
      <span *ngIf="isAdvanced">
        <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
          *ngIf="!(isEdit==inputData?.rowId?.id)"
          (click)="setValue(inputData?.value);(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:'';getOption('');">
          <div class="popover__wrapper">
            <span *ngFor="let item of inputData.value"
              class="chip">{{item[commonService.toCamelCase(advanced.fieldName)]}}</span>
            <div class="popover__content">
              <span *ngFor="let item of inputData.value"
                class="chip">{{item[commonService.toCamelCase(advanced.fieldName)]}}</span>
            </div>
          </div>
        </span>
      </span>
    </span>
    <!-- NON ADVANCED OPTION -->
    <mat-select #myInput (valueChange)="inputData.data.defaultValue=$event;emitChangeData();isEdit=0;" multiple
      *ngIf="inputData?.rowId.id==isEdit && !isAdvanced" [(ngModel)]="selectedObjects" [compareWith]="comparer">
      <mat-select-trigger>
        <span class="popover__wrapper" *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let iobject of (inputData.data.optionValue+'').split(',')" [value]="iobject">{{iobject}}
      </mat-option>
    </mat-select>
    <!-- ADVANCED OPTION -->
    <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
      (input)="getOption($event.target.value)" *ngIf="inputData?.rowId.id==isEdit && isAdvanced"
      [(ngModel)]='inputData.data.defaultValue'>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
        <div (click)="$event.stopPropagation();toggleSelect(item)">
          <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
            (click)="$event.stopPropagation()"> {{item[commonService.toCamelCase(advanced.fieldName)]}}</mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</ng-container>


<!-- View or Edit -->
<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}}">
    <span *ngIf="!isEdit && !isAdvanced">
      <span class="popover__wrapper" *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
    </span>
    <span *ngIf="!isEdit && isAdvanced">
      <span class="popover__wrapper" *ngFor="let item of inputData.value"
        class="chip">{{item[commonService.toCamelCase(advanced.fieldName)]}}</span>
    </span>
    <mat-select #myInput (valueChange)="inputData.data.defaultValue=$event;emitChangeData();" multiple
      *ngIf="isEdit && !isAdvanced" [(ngModel)]="selectedObjects" [compareWith]="comparer">
      <mat-select-trigger>
        <span class="popover__wrapper" *ngFor="let item of (inputData.value+'').split(',')" class="chip">{{item}}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let iobject of (inputData.data.optionValue+'').split(',')" [value]="iobject">{{iobject}}
      </mat-option>
    </mat-select>

    <!-- ADVANCED OPTION -->
    <input type="text" placeholder="search..." class="input-view input-height" matInput [matAutocomplete]="auto"
      (input)="getOption($event.target.value)" *ngIf="isEdit && isAdvanced" [(ngModel)]='inputData.data.defaultValue'>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
        <div (click)="$event.stopPropagation();toggleSelect(item)">
          <mat-checkbox (change)="toggleSelect(item)" color='primary' [checked]="SelectedValueList.includes(item)"
            (click)="$event.stopPropagation()">{{item[commonService.toCamelCase(advanced.fieldName)]}}</mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;getOption('');" *ngIf="!isEdit" color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="(inputData.data[currentUser.designationId+'Access']==2)?isEdit:''" class="done-btn"
        (click)="isEdit=false;fieldIsOpen=false;">check_circle_outline
      </mat-icon>
    </span>
  </div>
</div>
