<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate">
  <div class="Preview">
    <mat-label>{{inputData.data.displayValue}}</mat-label><br>
    <div class="slide-toggle">
      <mat-slide-toggle matInput [checked]="inputData.data.defaultValue" color='primary'
        (change)="inputData.data.defaultValue=$event.checked;emitChangeData();"></mat-slide-toggle>
    </div><br>
    <mat-hint align="end">{{inputData.data.hint}}</mat-hint>
  </div>
  <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
    <app-validations [validateSelector]='inputData'></app-validations>
  </div>
</div>

<!-- {{inputData.data | json}} -->
<!-- Section table create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-scontent-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      {{!!inputData?.value?'Yes':'No'}}
    </span>
    <mat-slide-toggle matInput [checked]="inputData.data.defaultValue" color='primary'
      *ngIf="(isEdit==inputData?.indexNo)"
      (change)="inputData.data.defaultValue=$event.checked;emitChangeData();isEdit=0;"
      [(ngModel)]='inputData.data.defaultValue' [disabled]="!(isEdit==inputData?.indexNo)? 'true' : 'false'">
    </mat-slide-toggle>
  </div>
</ng-container>


<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{!!inputData?.value?'Yes':'No'}}
    </span>
    <mat-slide-toggle matInput [checked]="inputData.data.defaultValue" color='primary'
      *ngIf="(isEdit==inputData?.rowId?.id)"
      (change)="inputData.data.defaultValue=$event.checked;emitChangeData();isEdit=0;"
      [(ngModel)]='inputData.data.defaultValue' [disabled]="!(isEdit==inputData?.rowId?.id)? 'true' : 'false'">
    </mat-slide-toggle>
  </div>
</ng-container>


<!-- edit and VIew -->

<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content view-field">
    <mat-slide-toggle matInput [checked]="inputData.data.defaultValue" color='primary'
      (change)="inputData.data.defaultValue=$event.checked;emitChangeData();" [(ngModel)]='inputData.data.defaultValue'
      [disabled]="!isEdit? 'true' : 'false'">
    </mat-slide-toggle>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
</div>
