<div class="main-container">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of metaData;index as i" cdkDrag>
      <div class="list-grid">
        <span class="name">
          {{i}}.{{item.displayValue | titlecase}}
        </span>
        <span class="check-box">
          <mat-checkbox [checked]="(item.tableViewPosition!=-1)?true:false"
            (change)="changeView(item,$event.checked,i)">
          </mat-checkbox>
        </span>
      </div>
    </div>
  </div>
</div>
