.main-container {
  padding: 20px;
}

.list-grid {
  /* display: grid;
  grid-template-columns: 80% 20%; */
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 4px;
  border-radius: 4px;
  background: #fff;
  min-width: 30%;
  max-width: max-content;
}

.name {}

.check-box {
  float: right;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
