<!-- Preview Field -->
<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview preview-field {{isValid ? 'valid':'not-valid'}}">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width"
      (focus)="isValid=false;">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput type="{{inputData.data.type}}" [(ngModel)]="inputData.data.defaultValue"
        [disabled]='!!inputData.data.isDisabled' (input)="validationCallBack($event.target.value)"
        (blur)="isUnique();emitChangeData();" (focus)="validationCallBack($event.target.value)">
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>

  </div>
</div>

<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div>
    <input type="{{inputData.data.type}}" [(ngModel)]="inputData.inputValue[this.inputData.data.name]"
      [disabled]="!!inputData.data.isDisabled"
      class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
      (input)="validationCallBack($event.target.value)" (blur)="isUnique();emitChangeData();"
      (change)="inputData.data.defaultValue=inputData.inputValue[this.inputData.data.name]"
      (focus)="validationCallBack($event.target.value)">
  </div>
  <div [style.color]="errorMessage ? 'red' : ''" class="error-2">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>


<!-- Create table View -->
<!-- <ng-container *ngIf="inputData?.isTableCreate  && !!inputData?.indexNo">
    <span (click)="inputData?.data.defaultValue=inputData?.value;isEdit=inputData?.indexNo" class="{{ (!inputData?.value) ? 'no-content-create-table' :''}}">
      <input (focus)="true" #myInput class="table-view-create" type="text"
        [(ngModel)]="inputData?.data.defaultValue" (change)="isUnique();emitChangeData();isEdit=0"
        (input)="validationCallBack($event.target.value)" (blur)='isUnique();'>
    </span>
  </ng-container> -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
      <!-- {{inputData?.value}} -->
      {{inputData.inputValue[inputData.data.name]}}
    </span>
    <input (keydown.Tab)="isUnique();emitChangeData();isEdit=0" (focus)="true" #myInput class="input-view"
      [(ngModel)]="inputData?.data.defaultValue" *ngIf="inputData?.indexNo==isEdit"
      (change)="isUnique();emitChangeData();isEdit=0" (input)="validationCallBack($event.target.value)"
      (keydown.Tab)="isUnique();isEdit=0;" (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>


<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)"
      (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      <!-- {{inputData?.value}} -->
      {{inputData.inputValue[inputData.data.name]}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData?.inputValue[inputData.data.name]"
      *ngIf="inputData?.rowId.id==isEdit"
      (change)="inputData.data.defaultValue=inputData?.inputValue[inputData.data.name];isUnique();emitChangeData();isEdit=0"
      (input)="inputData.data.defaultValue=inputData?.inputValue[inputData.data.name];validationCallBack($event.target.value)"
      (blur)='isUnique();isEdit=0;'>
  </div>
</ng-container>

<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit">
      <!-- {{inputData.data?.defaultValue}} -->
      {{inputData?.inputValue[inputData.data.name]?inputData?.inputValue[inputData.data.name]:inputData.data?.defaultValue}}
    </span>
    <input (focus)="true" #myInput class="input-view" [(ngModel)]="inputData.data.defaultValue" *ngIf="isEdit"
      (change)="isUnique();emitChangeData();isEdit=!isEdit" (input)="validationCallBack($event.target.value)"
      (blur)='isUnique();isEdit=false;'>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">
        edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;">check_circle_outline</mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
