.validation-container {
  margin: 10px 0px;
}

.no-content-padding-table {
  padding: 5% 0%;
}

.no-content-create-table {
  padding: 11% 0%;
  background: red;
  width: 100%;
  height: 100%;
  display: block;
}

