<div class="text-center button-toggle-group">
  <mat-button-toggle-group>
    <mat-button-toggle class="button-toggle-group-line" [checked]="true" value="Form"
      (click)='isPermission=false;isForm=true;isWorkFlow=false;formBuilderType();'>Form</mat-button-toggle>
    <mat-button-toggle class="button-toggle-group-line" value="Workflow"
      (click)='isPermission=false;isForm=false;isWorkFlow=true;formBuilderType()'>Workflow</mat-button-toggle>
    <mat-button-toggle class="button-toggle-group-line" value="Permission"
      (click)='isPermission=true;isForm=false;isWorkFlow=false;formBuilderType()'>
      Permission</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="setting-btn">
    <button mat-icon-button color="primary" (click)="isProcessEdit=!isProcessEdit">
      <mat-icon>settings</mat-icon>
    </button>
  </span>

</div>
<div *ngIf="!isWorkFlow">
  <div class="form-buildercontainer">
    <!-- [cdkDropListConnectedTo]="[doneList]" -->
    <div class="datatype-grid info" cdkDropList #todoList="cdkDropList" [cdkDropListData]="dataType"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of dataType" class="datatype-container" cdkDrag
        (click)="item.rowNo=rowListArray.length;EditView(item,0,'General Information')">

        <p class="p-icon">
          <mat-icon class="material-icons-outlined">{{item.icon}}</mat-icon>
        </p>
        <p class="datatype-name">{{item.displayValue}}</p>
      </div>
    </div>

    <!-- Preview  container-->
    <div class="info preview-container">

      <!-- </div> -->
      <div class="example-container">
        <!-- (cdkDropListDropped)="drop($event)" -->
        <div #myDiv class="example-list">
          <!-- <p *ngIf="!formArray.length" class="text-center">Drag to drop here</p> cdkDrag -->
          <!-- Loader -->
          <div class="loader" *ngIf="isLoad">
            <app-loader [size]="25" [font]="20"></app-loader>
          </div>
          <div *ngIf="!isLoad">
            <!-- Group name based -->
            <div *ngFor="let group of groupList;index as groupIndex" cdkDropList
              (cdkDropListDropped)="withInRowDrop($event,group.groupName)" class="group-hover"
              (mouseover)='isGroupHover=group.id'>
              <!-- <h4 class="group-name">{{group.groupName}}</h4> -->
              <!-- Group name -->
              <input class="group-name-input" [(ngModel)]="tempGroupName[groupIndex].groupName" type="text"
                (change)="groupNameChange(groupIndex,$event)">

              <div *ngIf="isPermission && isGroupHover==group.id" class="group-permission">
                <mat-button-toggle-group>
                  <mat-button-toggle (click)="accessLevel=1" [matMenuTriggerFor]="menu">Read only
                  </mat-button-toggle>
                  <mat-button-toggle (click)="accessLevel=2" [matMenuTriggerFor]="menu">Editable
                  </mat-button-toggle>
                  <mat-button-toggle (click)="accessLevel=0" [matMenuTriggerFor]="menu">Hidden</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-menu #menu="matMenu">
                <div *ngFor="let desig of designationList" (click)="$event.stopPropagation();" class="menu-item">
                  <mat-checkbox color="primary" [checked]="accessLevel==group[desig.id+'Access']"
                    (change)="addGroupPermission(desig.id, group, $event.checked);">{{desig.designation}}
                  </mat-checkbox>
                </div>
              </mat-menu>
              <!-- Row based  -->
              <!-- <p *ngIf="gridItems[onResizeWidth]" [style.left]="onResizeWidth+'%'" class="center"></p> -->
              <div *ngFor="let row of metaDataGroup[group.groupName];index as i" cdkDrag>
                <span id="container" cdkDropList [cdkDropListData]="row.items" cdkDropListOrientation="horizontal"
                  (cdkDropListDropped)="drop11($event)" class="row {{isForm ?'example-box':'example-permission'}} "
                  [ngStyle]="{'grid-template-columns':row.grid}">
                  <!-- Row Move -->
                  <span class="row-change-hand" cdkDragHandle>
                    <mat-icon>drag_indicator</mat-icon>
                  </span>
                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                  <!-- Single row -->
                  <!-- <div #exDiv  cdkDragBoundary=".example-box" *ngFor="let item of row.items;index as j"
                  class="field-container field-view row-hover" mwlResizable [enableGhostResize]="true"
                  [resizeEdges]="{right: true}" (resizeEnd)="onResizeEnd($event,i,j,row,item)" cdkDrag> -->
                  <div id="{{item.id}}" #exDiv cdkDragBoundary=".example-box" *ngFor="let item of row.items;index as j"
                    class="field-container field-view row-hover" (rzStop)="onResizeEnd($event,i,j,row,item)" ngResizable
                    (rzResizing)="onSizeEvent(item,$event);" rzContainment="#container" cdkDrag>
                    <div class="edit-delete" *ngIf="isForm && !!item.name">
                      <mat-icon (click)="editField(item)">edit</mat-icon>
                      <!-- row.items.splice(j,1) -->
                      <mat-icon (click)="delete(item.id,i,j,group.groupName);row.items.splice(j,1)">delete_outline
                      </mat-icon>
                    </div>
                    <!-- Filed Map -->
                    <span *ngIf="!!item.name" cdkDragHandle (mouseover)='isHover=item.id'>
                      <app-fields-map
                        [data]="{isCreate: true,data:item,fieldViewType:dataTable.fieldViewType,inputValue:inputValue}">
                      </app-fields-map>
                    </span>

                    <div *ngIf="isPermission && isHover==item.id" class="option toogle-btn">
                      <mat-button-toggle-group>
                        <mat-button-toggle (click)="accessLevel=1" [matMenuTriggerFor]="menu">Read only
                        </mat-button-toggle>
                        <mat-button-toggle (click)="accessLevel=2" [matMenuTriggerFor]="menu">Editable
                        </mat-button-toggle>
                        <mat-button-toggle (click)="accessLevel=0" [matMenuTriggerFor]="menu">Hidden</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>

                    <mat-menu #menu="matMenu">
                      <div *ngFor="let desig of designationList" (click)="$event.stopPropagation()" class="menu-item">
                        <mat-checkbox color="primary" (change)="addPermission(desig.id,item,$event.checked);"
                          [checked]="accessLevel==item[desig.id+'Access']">
                          {{desig.designation}}
                        </mat-checkbox>
                      </div>
                    </mat-menu>
                    <span *ngIf="!item.name">
                      <div class="drag-here-row" (click)="addItemDrag(i,j,group,groupIndex)"> + Drag and drop (or) Click
                        me
                      </div>
                    </span>
                    <!-- Side size drag -->
                    <span class="resize-hand"></span>
                  </div>
                </span>
              </div>
              <div class="drag-here"
                (click)="dataType[1].rowNo=rowListArray.length;EditView(dataType[1],0,group,groupIndex)"> + Click me
              </div>
              <div class="add-group">
                <span (click)="createGroup((groupList[groupList.length-1].groupName)+'1')">Add group </span> <span>Add
                  table </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- </div> -->
      <!-- </div> -->
    </div>
    <div>
      <div class="group-container">
        <div *ngIf="isProcessEdit">
          <app-createflow-model [data]='dataTable' (eventEmit)='isProcessEdit=false;'></app-createflow-model>
        </div>
        <div *ngIf="!isProcessEdit">
          <div class="add-btn full-width">
            <button mat-stroked-button color="primary" (click)="isaddGroup=!isaddGroup">Add New Group +</button>
            <div *ngIf="isaddGroup">
              <mat-form-field appearance="outline" class="full-width group">
                <mat-label>Enter the Group Name..</mat-label>
                <input matInput [(ngModel)]="groupName">
              </mat-form-field>
              <button mat-flat-button color="primary"
                (click)="createGroup(groupName);isaddGroup=!isaddGroup">Submit</button>
            </div>
          </div>
          <div cdkDropList (cdkDropListDropped)="groupPositionChange($event)">
            <div cdkDrag class="group-list" *ngFor="let item of groupList;index as indexAs">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <p>{{item.groupName}}</p>
              <button mat-icon-button color="warn" class="delete-group"
                (click)="isdeleteGroup=!isdeleteGroup;isdeleteId=indexAs;isMoveGroupView=false;">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <div *ngIf="!!isdeleteGroup && isdeleteId==indexAs">
                <label></label>
                <mat-radio-group [(ngModel)]="isMoveGroup" color='primary'>
                  <mat-radio-button [value]="0" color='primary' (change)="isMoveGroupView=false;" class="radio-margin">
                    delete data
                  </mat-radio-button>
                  <mat-radio-button [value]="1" color='primary' (change)="isMoveGroupView=true;">
                    move and delete
                  </mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="outline" *ngIf='((groupList.length)-1) && isMoveGroupView'
                  class="form-field">
                  <mat-label>select group to move</mat-label>
                  <mat-select [(ngModel)]="groupName">
                    <div *ngFor="let i of groupList">
                      <mat-option *ngIf="i.groupName!=item.groupName" [value]="i.groupName">{{i.groupName}}
                      </mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
                <div class="bottom-btn">
                  <button mat-raised-button color="primary" class="btn-pad"
                    (click)="deleteGroup(isMoveGroup,groupName,item)">delete</button>
                  <button mat-raised-button (click)="isdeleteGroup=false;">cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isWorkFlow" class="work-flow-container">
  <app-create-work-flow [inputData]='dataTable'></app-create-work-flow>
</div>
