.form-buildercontainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 20px;
  margin-top: 10px;
}

.info {
  border-radius: 2px;
  background-color: #ffffff;
  margin: 0px 10px;
  border: 1px solid #efefef;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.button-toggle-group {
  margin-top: 10px;
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 34px !important;
  font-size: 13px !important;
}

.datatype-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  border: .1px solid #fafafa;
  font-size: 12px;
}

.preview-container {
  overflow: auto;
  height: 81vh;
}

.datatype-container:hover {
  color: var(--color-primary);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
}

.datatype-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: auto;
  height: 78vh;
  padding: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #8b8787;
  color: var(--color-primary);
}


.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.datatype-name {
  display: flex;
  align-items: center;
}

.drag-empty {
  /* border: 1px solid #ccc; */
  height: 80px;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: 50% 50%; */
}

.drag-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.field-container {
  opacity: 0.9;
  background-color: #fff;
  padding: 0px 5px;
  position: relative;
  margin: 0px 5px;
  min-height: 64px;
  padding-top: 4px;
}

/* .example-box:hover .field-container {
  display: grid;
  grid-template-columns: 75% 25%;
} */

/* .example-permission:hover {
  background: #a5a5a5;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
} */


.isHover:hover .option-access {
  display: flex;
}

.isHover {
  /* background: #a5a5a5; */
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
}

/* .example-permission:hover .field-container {
  display: grid;
  grid-template-rows: 70% 30%;
}

.example-permission:hover .option {
  display: flex;
} */

.example-box:hover .option {
  display: flex;
}


.p-icon {
  display: flex;
  align-items: center;
}

.attach-file {
  background: var(--color-primary);
  padding: 7px 10px;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  display: block;
  text-align: center;
}

img {
  width: 70px;
  height: 70px;
}

.image-algin {
  text-align: center;
  background: #f7f4f4;
  margin: 0px;
}

.image-container {
  width: 50%;
}

#attach-file {
  display: none;
}

.attach-container {
  display: grid;
  grid-template-columns: 10% 80%;
}

.file-attach-p {
  display: flex;
}



.option-access {
  cursor: pointer;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;

}

.selected-btn {
  background: red;
}

.menu-item {
  margin: 10px;
}

.toogle-btn {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}

.menu-container {
  /* width: max-content; */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5px;
}

.delete-btn {
  color: var(--color-warn);
  padding: 3px;
}

.delete-btn:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.edit-btn {
  color: var(--color-primary);
  padding: 3px;
}

.edit-btn:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.group-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: auto;
  height: 78vh;
  padding: 10px;
  margin: 0px 10px;
}

.add-btn {
  display: grid;
  text-align: center;
  justify-content: center;
  /* font-size: 12px; */
}

.group {
  margin: 12px 0px;
}

.group-list {
  border: 1px solid #e5e5e5;
  margin: 10px 0px;
  padding: 0px 20px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 85% 15%;

}

.example-list {
  display: block;
  background: white;
  border-radius: 4px;
  position: relative;
}

.example-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #f9f8f8;
  border: 1px dashed #2f2e2e;
  min-height: 65px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.drag-here {
  border: 1px dashed #aaa2a2;
  text-align: center;
  padding: 5px;
  color: #7d7c7c;
  font-size: 11px;
  cursor: pointer;
  margin: 0px 21px;
}

.row {
  display: grid;
  position: relative;
  margin: 10px 0px;
  padding: 0px 10px;
}

.row-change-hand {
  display: none;
  position: absolute;
  padding: 11px 0px;
  left: 0px;
  z-index: 9999999999999999999;
  cursor: move;
  border: 1px dashed #918f8f;
}

.row-change-hand .mat-icon {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 13px;
}

.row:hover .row-change-hand {
  display: block;
}

.row-hover {
  border: 1px dashed transparent;
}

.row-hover:hover {
  border-color: #aaa2a2;
}


.drag-here-row {
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
  color: #7d7c7c;
  font-size: 11px;
  cursor: pointer;
  display: none;
}

.row-hover:hover .drag-here-row {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resize-hand {
  background: #b3abab;
  position: absolute;
  right: -4px;
  bottom: 34%;
  padding: 10px 3px;
  display: none;
  cursor: e-resize;
}

.row-hover:hover .drag-here-row {
  display: block;
}

.drag-here-row:hover {
  display: block;
}

.row-hover:hover .resize-hand {
  display: block;
}

.group-name {
  color: #676464;
  font-size: 18px;
  font-weight: 400;
  margin: 17px 19px;
}

.edit-delete {
  position: absolute;
  top: -33px;
  right: -1px;
  border-color: red;
  border-top: 1px dashed #b3abab;
  border-right: 1px dashed #b3abab;
  border-left: 1px dashed #b3abab;
  z-index: 99;
  background: #fff;
  padding: 4px 6px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  display: none;
  transition: height 500ms;
  cursor: pointer;
}

.edit-delete .mat-icon {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .row-hover:hover {
  margin-top: 10px;
} */
.row-hover:hover .edit-delete {
  display: grid;
}

.delete-group {
  top: 3px;
}

.setting-btn {
  float: right;
  margin-right: 20px;
}

.radio-margin {
  margin: 10px;
}

.bottom-btn {
  display: flex;
  justify-content: center;
}

.btn-pad {
  margin-right: 10px;
}

.form-field {
  width: 100%;
  margin: 10px;
}

.width {
  width: auto !important;
}

.width-not {
  width: auto;
}

.ng-resizable-diagonal {
  border-bottom: 0px solid;
}

.center {
  position: absolute;
  border: .2px solid var(--color-primary);
  height: 68%;
  z-index: 999999;
}

.position-33 {
  position: absolute;
  left: 33%;
  right: 67%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-primary);
  height: 68%;
  z-index: 999999;
}

.group-name-input {
  color: #676464;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0px 0px 19px;
  border: 1px dashed #fff;
  padding-bottom: 7px;
}

.group-name-input:hover {
  border-bottom: 1px dashed #b3abab;
}

.add-group {
  text-align: center;
  font-size: 12px;
  color: #0061ff;
  cursor: pointer;
  margin-top: 10px;
}

.add-group span {
  padding: 0px 10px;
}

.group-hover:hover {}

.group-hover {
  position: relative;
}

.group-hover:hover .group-permission {
  display: block;
}


.group-permission:hover {
  display: block;
}

.group-permission {
  position: absolute;
  right: 23px;
  top: 16px;
  /* display: none; */
}

.work-flow-container {
  margin-bottom: 10%;
  height: 80vh;
  overflow: scroll;
}
