<div class="container">
  <div class="grid-container" *ngIf="!!classList.length">
    <div class="side-bar">
      <div class="handling-class-list">
        <div class="handling-class-group-title"> Handling Class</div>
        <div *ngFor="let item of classList">
          <div class="class-list {{selectedClass===item?'active':''}}"
            (click)="selectedClass=item;getAssessementInfo();">
            <span class="pad-right">{{item?.degree[0].degree}} {{item?.department[0].shortName}}</span>
            <span>{{item?.subjectName[0].subject}} {{item?.semester}} {{item?.section | titlecase}}</span>
          </div>
        </div>
      </div>
      <div class="assessment-list">
        <div class="handling-class-group-title">Assessment List</div>
        <div *ngFor="let item of AssessementList">
          <div class="class-list {{selectedAssessment===item?'active':''}}"
            (click)="selectedAssessment=item;getStudentMarkInfo();">
            <span class="pad-right">{{item?.assessmentType[0].shortName}}</span>
            <!-- <span class="pad-right">{{item?.semester | titlecase}}</span>
            <span>{{item?.subject[0].subject}}</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div *ngIf="!!studentMarkList.length">
        <table>
          <thead>
            <tr>
              <!-- <th></th> -->
              <th *ngFor="let item of tempMetaData" class="{{item.name!='studentName'?'width':'width-50'}}">
                {{item.displayValue}}
              </th>
            </tr>
          </thead>
          <tr *ngFor="let row of studentMarkList" class="data-container">
            <td *ngFor="let item of tempMetaData">
              <span class="align-center">
                <app-fields-map
                  [data]="{isTableView:true,data: item,value:row[item?.name],rowId:row,rowData:row,inputValue:row}"
                  (eventEmit)="eventListen($event)">
                </app-fields-map>
              </span>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>