.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 15rem calc(100% - calc(15% + 15rem + 10px)) 15%;
  grid-gap: 10px;
}

table,
td,
th {
  border: 1px solid #e0e0e0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background: #fafafa;
  z-index: 99999;
  color: rgba(0, 0, 0, 0.72);
  font-weight: 500;
  background: #f0f0f0;
}

.side-bar {
  border: 1px solid #c5c5c5;
  height: 90vh;
}

.handling-class-group-title {
  text-align: center;
  background: var(--color-primary);
  color: #fff;
  padding: 10px;
  font-weight: 500;
}

.active {
  background: var(--color-primary-opacity-25);
  color: var(--color-primary);
}

.class-list {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 13px; */
  cursor: pointer;
  padding: 10px;
  text-align: center;
  user-select: none;
}

.pad-right {
  padding-right: 10px;
}

.width {
  min-width: max-content;
}

.width-50 {
  width: 30%;
}

.data-container {
  height: 40px;
}

.align-center {
  display: flex;
  justify-content: center;
}