<div class="container-head">
    <div class="header-top">
        <mat-checkbox></mat-checkbox> <span class="header-text">Match <span>
                <mat-select class="select-match" [(ngModel)]="selected">
                    <mat-option class="option-select" *ngFor="let item of matchType" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </span><span class="half-text">of the following rules</span></span>
    </div>
    <div class="item-container">
        <div class="list">
            <div class="list-item active-list">
                Filter 1
            </div>
            <div class="row-1">
                <div class="view-list">

                    <app-filter-field [metaData]="metaData"></app-filter-field>
                </div>
                <div class="view-list">
                    <app-filter-oper-type></app-filter-oper-type>
                </div>
                <div class="view-list">
                    <div class="label-text">Value</div>
                    <div class="input-text-select">
                        <mat-select placeholder="Search Field">
                            <mat-option *ngFor="let item of metaData" [value]="item.displayValue">
                                {{item.displayValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <span class="button-add"> + Add Criteria</span>
        </div>
        <!-- <div class="list">
            <div class="list-item active-list">
                Filter 2
            </div>
            <div class="row-1">
                <div class="view-list">
                    <div class="label-text">Field</div>
                    <div>
                        <input class="input-text" type="text" matInput placeholder="Search Field">
                    </div>
                </div>
                <div class="view-list">
                    <div class="label-text">Operation</div>
                    <div>
                        <input class="input-text" type="text" matInput placeholder="Search Operator">
                    </div>
                </div>
                <div class="view-list">
                    <div class="label-text">Type</div>
                    <div>
                        <input class="input-text" type="text" matInput placeholder="Search Type">
                    </div>
                </div>
                <div class="view-list">
                    <div class="label-text">Value</div>
                    <div>
                        <input class="input-text" type="text" matInput placeholder="Search Value">
                    </div>
                </div>
                <span class="button-add1"> + Add Criteria</span>
            </div>
        </div> -->
    </div>
    <div class="footer-functions">
        <div class="button-left">
            <button mat-button class="button-basic"><i class="material-icons icon-look">clear</i>Clear All</button>
            <button mat-button class="button-basic2">Cancel</button>
        </div>
        <div class="button-right">
            <button mat-button color="primary" class="button-pri1"><i class="material-icons icon-look">save_alt</i>Save
                Filter</button>
            <button mat-button color="primary" class="button-pri2">Apply</button>
        </div>

    </div>