.container {
    display: flex;
    justify-content: center;
    background-color: #ededed;
    height: 100%;
}

.container-head {
    position: absolute;
    /* position: relative; */
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    /* Remove below line later */
    top: 35px;
    height: 645px;
    z-index: 999;
    left: 90px;
    width: 1000px;
    box-shadow: 0px 0px 0px #000;
}

.list {
    border: 1.5px solid #e4e4e4ad;
    padding: 25px;
    margin: 40px 20px;
    position: relative;
    border-radius: 4px;
    padding-top: 35px;
}

.list-item {
    position: absolute;
    top: -15px;
    left: 20px;
    height: 30px;
    border: 1.5px solid #ededed;
    border-radius: 4px;
    padding: 0px 6px;
    background: #fff;
    color: #414040;
    font-weight: 450;
}


/* .active-list {
    border-color: var(--color-primary);
} */

.row-1 {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 25% 50% 25%;
    padding: 15px 0px;
}

.view-list {
    min-height: 5rem;
    /* max-height: 5rem; */
    display: grid;
    grid-template-rows: 20% 40% max-content;
    grid-gap: 10px;
    text-align: left;
}

.label-text {
    font-size: 15px;
    padding-bottom: 8px;
    color: #545353;
}

.input-text {
    border: 0px solid #cecece;
    padding: 8px 10px;
    font-size: 14px;
    width: 84%;
    border-radius: 4px;
    height: 22px;
    background-color: #f5f5f5;
}

.header-top {
    margin-top: 40px;
    text-align: left;
    margin-left: 33px;
    margin-bottom: 54px;
}

.header-text {
    margin-left: 26px;
    width: 97px;
    height: 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.19px;
    text-align: left;
    color: #4b4b4b;
}

.button-add {
    color: var(--color-primary);
    /* margin-left: 7px; */
    text-align: left;
    display: flex;
    margin-top: -23px;
}

.button-add1 {
    color: var(--color-primary);
    /* margin-left: 7px; */
    text-align: left;
    display: flex;
    margin-top: -9px;
}

.footer-functions {
    width: 100%;
    background-color: #fff;
    margin-top: 1px;
    height: 10%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.button-basic {
    background-color: #f5f5f5;
    color: #4b4b4b;
    border: 1px solid #9b9fa4;
    height: 35px;
}

.button-left {
    margin-left: 28px;
    text-align: left;
}

.button-basic2 {
    background-color: #f5f5f5;
    color: #4b4b4b;
    border: 1px solid #9b9fa4;
    height: 35px;
    margin-left: 10px;
}

.button-pri1 {
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid var(--color-primary);
    height: 35px;
}

.button-pri2 {
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid var(--color-primary);
    height: 35px;
    margin-left: 9px;
}

.icon-look {
    font-size: 20px;
    margin-top: -3px;
}

.input-text-select {
    border: 0px solid #cecece;
    padding: 3px 0px;
    font-size: 14px;
    width: 86%;
    border-radius: 4px;
    text-align: left!important;
    /* margin-left: 31px; */
    padding-left: 12px!important;
    background-color: #f5f5f5;
}

::ng-deep .mat-select-arrow {
    margin: 0px 12px!important;
}

.select-match {
    width: 72px;
    height: 33px;
    opacity: 1;
    border-radius: 2px;
    background-color: #e7e7f6;
    position: absolute;
    vertical-align: middle;
    text-align: end;
}

.mat-select-trigger {
    margin-top: 4px;
    padding: 5px 5px;
}

.half-text {
    margin-left: 80px;
}


/* ::ng-deep .mat-select-trigger {
    margin-top: 9px;
} */