.table-section-container {
  /* margin: 2% 0%; */
  background-color: #FFF;
  padding: 0px;
  box-shadow: 6px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(63, 81, 181, 0.09);
  overflow: scroll;
  /* width: 100vh; */
}

table {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
  width: 100%;
  border-spacing: 0px;
  text-align: center;
  border-collapse: collapse;
}

.select-item {
  display: flex;
  align-items: center;
}

th {
  height: 34px;
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  min-width: 120px;
  padding: 0px 10px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

td {
  /* border: .5px solid #e0e0e0; */
  height: 44px;
  text-align: left;
  /* padding:0% 1%; */
}

.s-no {
  width: 7%;
  height: 50px;
}

.addField {
  min-width: 10px;
}

.td-input {
  position: relative;
  height: 34px;
  border-width: 1px;
  border: 1px solid #bcc;
  font-size: 16px;
  resize: none;
  display: flex;
}

.action {
  min-width: 10px;
  width: .5%;
  text-align: center;
  position: sticky;
  right: 0;
  background: #fff;
}

.td-input:hover {
  border: 1px solid #bcc;
}

.add-row-container {
  margin: 14px 0px;
  display: flex;
}

.mat-column-addField {
  width: 10px !important;
  padding-right: 0px !important;
}

.empty-record {
  text-align: center;
  margin: 16px;
  color: #919090;
}

.select-column-list {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-item {
  /* justify-content: flex-start; */
}

.selectCheckBox {
  width: 1%;
  min-width: 70px;
  position: sticky;
  left: 2;
  background: #fff !important;
  z-index: 9;
  /* vertical-align: top; */
  border: 1px solid #efefef;
  padding-left: 10px;
}

.selectCheckBox-head {
  vertical-align: inherit;
  padding-left: 10px;
  width: 1%;
  min-width: 70px;
  position: sticky;
  left: 2;
  background: #fff !important;
  z-index: 9;
  /* vertical-align: top; */
  border-bottom: 1px solid #efefef;
  padding-left: 10px;
}

.launch-btn {
  font-size: 16px;
}

.add-btn {
  font-weight: 400;
  line-height: 2;
  padding: 0px 10px;
  font-size: 12px;
  border-radius: 0;
}


/* ::ng-deep .mat-dialog-container {
width: auto;
} */

.add-btn-drop {
  padding: 0;
  margin: 0px 2px;
  min-width: 20px;
  min-height: 9px;
}

.td-hover:hover {
  /* border: 1px solid var(--color-primary); */
}

th:hover .table-edit-delete {
  display: block;
}

th:hover {
  /* border: 1px dashed #909090; */
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
}


/* .th-head:hover {
border: 1px dashed var(--color-primary);
} */

.table-edit-delete:hover {
  display: block;
}

.table-edit-delete {
  display: none;
  position: absolute;
  z-index: 9999999999999999999999;
  top: 40px;
  border: 1px dashed var(--color-primary);
  right: -1px;
  padding-left: 6px;
  padding-top: 3px;
  border-top: 0;
  background: #fff;
}

.edit-btn {
  font-size: 17px;
  color: #000;
}

.table-select-delete-container {
  margin: 1% 0%;
  text-align: right;
}

.table-select-delete-btn {
  font-weight: 400;
  line-height: 0px;
  padding: 13px 16px;
  border-radius: 0;
  margin-left: 10px;
}

::ng-deep .menu-update {
  max-width: 478px !important;
  width: 478px !important;
  min-height: 56px;
  padding: 10px;
}

.permission {
  position: absolute;
  z-index: 9999999999999999999999;
  top: 40px;
  border: 1px dashed var(--color-primary);
  right: -12%;
  padding-left: 6px;
  padding-top: 3px;
  border-top: 0;
  background: #fff;
}

.menu-item {
  margin: 10px;
}

.example-list {
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/* Resize event */

.ng-resizable-diagonal {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent !important;
  border-left: 12px solid transparent;
}

.select-column-container {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}


/* TABLE SECTION SUB VIEW */

.view-subprocess-head {
  width: 96.7%;
}

.table-section-pop-container {
  display: grid;
  grid-template-rows: 8% 92%;
  height: auto;
}

.current-view-container {
  display: flex;
  align-items: center;
}

.current-view-title {
  padding: 0px 13px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #6c6a6a;
  letter-spacing: .3px;
  box-sizing: border-box;
}

.description {
  color: #7b7b7b;
  font-size: small;
}

.close-btn {
  float: right;
  text-align: right;
}

.view-subprocess-content {
  /* position: absolute; */
  width: 100%;
  overflow: hidden;
  background: #fff;
}


/* VIEW TEST  */

.popup-container {
  /* display: grid;
grid-template-rows: auto auto; */
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 4rem calc(100% - 4rem);
  grid-template-columns: 100%;
}

.dialog-container {
  background: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 6px;
  box-sizing: border-box;
  padding: 12px 7px 12px 12px;
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.12), 0px 0px 2px 1px rgba(0, 0, 0, 0.26), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.view-subprocess-head {
  width: 100%;
}

.current-view-container {
  display: flex;
  align-items: center;
}

.current-view-title {
  padding: 0px 13px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #6c6a6a;
  letter-spacing: .3px;
  box-sizing: border-box;
}

.description {
  color: #7b7b7b;
  font-size: small;
}

.close-btn {
  float: right;
  text-align: right;
}

.view-subprocess-content {
  width: 100%;
  overflow: auto;
  background: #fff;
}

.hide-block {
  display: none;
}

.is-active-link {
  color: var(--color-primary);
}

.td-tag {
  padding: 5px 10px;
  border: 1px solid #efefef;
}