<div class="table-select-delete-container">
  <!-- {{currentUser?.designationId+'Access'==2}} -->
  <div *ngIf="inputData.data[currentUser?.designationId+'Access']==2">
    <span>
      <!-- <app-mass-update></app-mass-update> -->
    </span>
    <button class="table-select-delete-btn" *ngIf="!!selectedList.length" mat-raised-button color="primary">
      Mass Mail
    </button>

    <button class="table-select-delete-btn" [disabled]="!selectedItemCount" mat-flat-button color="warn"
      (click)="deleteRow('', '', 1)">
      Delete <span *ngIf="selectedItemCount">({{selectedItemCount}})</span>
    </button>
  </div>
</div>
<div class="table-section-container" (mousewheel)="isHover=0;">
  <table matSort>
    <tr cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">

      <!-- select Button -->
      <!-- That column is hide only customer  -->
      <th class="selectCheckBox-head">
        <div class="select-column-container">
          <mat-checkbox [checked]="isAllSelected" color="primary" (change)="isSelectAllCheck($event);selectedData();">
          </mat-checkbox>
        </div>
      </th>
      <!-- Only for create form -->
      <th cdkDrag ngResizable (rzStop)="widthSizeUpdated(column,$event);column.width=$event.size.width"
        (rzResizing)="onSizeEvent(column,$event);" [hidden]="!(isForm && inputData.isCreate!=2)"
        [ngStyle]="{'min-width':column.tableFieldWidth+'px'}" id="{{column.name+column.dataTableName}}"
        class="s-no th-head example-box th" *ngFor="let column of metaData;index as i;" (mouseover)='isHover=column.id'>
        {{column.displayValue}}
        <!-- it's for with data -->
        <span class="table-edit-delete" *ngIf="isForm && isHover===column.id && inputData.isCreate!=2">
          <mat-icon class="edit-btn" (click)="EditField(column);">edit</mat-icon>
          <mat-icon class="edit-btn" (click)="deleteField(column,i);">delete_outline</mat-icon>
        </span>
      <th [ngStyle]="{'min-width':column.tableFieldWidth+'px'}" mat-sort-header='{{column.name}}'
        [hidden]="(isForm && inputData.isCreate!=2)" class="s-no th-head th" *ngFor="let column of metaData;index as i;"
        (mouseover)='isHover=column.id'>
        {{column.displayValue}}
        <!-- Only for create form -->
        <span *ngIf="isForm && isHover===column.id">
          <mat-icon class="edit-btn" (click)="EditField(column);">edit</mat-icon>
          <mat-icon class="edit-btn" (click)="deleteField(column,i);">delete_outline</mat-icon>
        </span>
        <span *ngIf="isPermission && isHover==column.id" class="permission">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="accessLevel=1" [matMenuTriggerFor]="menu">Read only
            </mat-button-toggle>
            <mat-button-toggle (click)="accessLevel=2" [matMenuTriggerFor]="menu">Editable
            </mat-button-toggle>
            <mat-button-toggle (click)="accessLevel=0" [matMenuTriggerFor]="menu">Hidden</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-menu #menu="matMenu">
            <div *ngFor="let desig of designationList" (click)="$event.stopPropagation();" class="menu-item">
              <mat-checkbox color="primary" [checked]="accessLevel==column[desig.designation]"
                (change)="addPermission(desig.designation, column, $event.checked);">{{desig.designation}}
              </mat-checkbox>
            </div>
          </mat-menu>
        </span>
      </th>

      <!-- Add new Meta data field  -->
      <th class="s-no addField" *ngIf="inputData.isCreate===true">
        <button mat-icon-button color="primary" (click)="addField()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </th>
      <th style="min-width: 10px;" class="action"
        *ngIf="!(inputData.isCreate===true) && inputData.data[currentUser?.designationId+'Access']==2">

      </th>
    </tr>
    <tr>
      <!-- Not record -->
    <tr *ngIf="!(!!data[0]) && !!metaData?.length">
      <td [attr.colspan]="metaData.length+2">
        <p class="text-center">No results found</p>
      </td>
    </tr>
    <!-- Row data -->
    <tr *ngFor="let row of data;index as indexNo">
      <!-- Select  -->
      <!-- This column hide only customer -->
      <td class="selectCheckBox" (mouseover)="selectHover=row.id" (mouseleave)="selectHover=-1">
        <div class="select-column-container">
          <span class="select-column-list select-item" *ngIf="!(row.id==selectHover) && !row.checked">
            {{indexNo+1}}</span>
          <mat-checkbox (change)="row.checked=$event.checked;isSelectCheck($event.checked);selectedData()"
            color="primary" class="select-column-list select-item" *ngIf="row.id==selectHover || row.checked"
            [checked]="row.checked">
          </mat-checkbox>
          <button mat-icon-button color="primary">
            <mat-icon class="launch-btn" (click)="viewSelected(viewItem,row,row.id)" matTooltip="click to view">launch
            </mat-icon>
          </button>
        </div>
      </td>
      <!-- (keyup)="keyEvent($event,indexNo+row[column.name])" -->
      <td id="{{(indexNo+1)+'_'+column.name+'td'}}" (keydown.Tab)="keyEvent($event,indexNo+1,metaIndex)"
        *ngFor="let column of metaData;index as metaIndex" class="td-hover td-tag "
        (click)="onClickFieldName=column.name;inputValue=row;">
        <!-- {{metaIndex==0 ?  'is-active-link':'' }} -->
        <!-- metaIndex==0 ? viewSelected(viewItem,row,row.id):'' -->
        <!-- {{!!row[column.name]? row[column.name] :column.defaultValue}} -->
        <app-fields-map
          [data]="{isTableCreate:true,data: column,value:!!row[column.name]? row[column.name] :column.defaultValue,indexNo:indexNo+1,rowData:row,inputValue:row}"
          (eventEmit)="eventHandle($event)">
        </app-fields-map>
      </td>
      <td *ngIf="isAddField">

      </td>
      <td class="action" *ngIf="inputData.data[currentUser?.designationId+'Access']==2">
        <button mat-icon-button color="warn" (click)="deleteRow(row.id,indexNo,0)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>


</div>
<div class="add-row-container">
  <div *ngIf="inputData.data[currentUser?.designationId+'Access']==2">
    <button class="add-btn" mat-flat-button color="primary" (click)="addRow(1)">Add New Row + </button>
    <button class="add-btn add-btn-drop" mat-flat-button color="primary" [matMenuTriggerFor]="addMoreRow">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
  <mat-menu #addMoreRow="matMenu">
    <button mat-menu-item (click)="addRow(5)">Add 5 rows</button>
    <button mat-menu-item (click)="addRow(10)">Add 10 rows</button>
  </mat-menu>
</div>


<ng-template #viewItem>
  <div class="popup-container">
    <div class="dialog-container view-subprocess-head">
      <div class="current-view-container">
        <span class="current-view-title"><span>{{tableInfo?.name}}</span>
        </span>
        <span class="description" *ngIf="!!currentView?.description">( {{tableInfo?.description | titlecase}}
          )</span>
      </div>

      <div class="close-btn">
        <button mat-icon-button (click)="dialogRef.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-subprocess-content">

      <!-- [infoData]='infoData' -->
    </div>
  </div>
</ng-template>