.head-row {
  display: grid;
  grid-template-columns: 20% 40% 40%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em;
}

.container {
  padding: 25px;
}

.list-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #f5f5f5;
  padding: 20px;

}

.card-list {
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 10px 10px;
  background: #fff;
  position: relative;
}

.loader {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 20px;
}

.delete-icon {
  visibility: hidden;
  margin: 0px;
  position: absolute;
  right: 10px;
  top: 10px;

}

.card-list:hover .delete-icon {
  visibility: visible;
}

.form-builder-head {
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.form-builder-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px 21px 10px 0px;
  box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2), 0px 10px 64px 2px rgba(0, 0, 0, 0.1);
}

img {
  width: 40px;
}
