<div class="container">
  <div class="head-row">
    <p></p>
    <p class="margin-0">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Search process...</mat-label>
        <input matInput (input)='searchProcess($event.target.value)'>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <!-- List  -->
  <div *ngFor="let group of groupList" [hidden]="!Infodata[group.name]?.length">
    <h4>{{group.displayValue}}</h4>
    <!-- Card list -->
    <div class="list-grid">
      <div class="card-list" *ngFor="let item of Infodata[group.name];index as i">
        <a (click)="test(item.dataTableName,item)">
          <div>
            <p class=" text-center">
              <img src="../../../assets/img/database.svg">
            </p>
            <p class="text-center">{{item.name}}</p>
          </div>
        </a>
      </div>
      <!-- Loader -->
      <div class="loader">
        <app-loader [size]="25" [font]="16" *ngIf="!data?.length"></app-loader>
      </div>
    </div>
  </div>
