<div class="container">
  <div class="sub-allocation-header-container">
    <div class="title-container">Subject Allocation</div>
    <div class="add-btn-container">
      <span class="add-btn" (click)="addRow(subjectAllocationTemplate)">
        Add Row
      </span>
    </div>
  </div>
  <div class="table-content">
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th *ngFor="let item of metaData" class="{{item.name!='studentName'?'width':'width-50'}}">
            {{item.displayValue}}
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tr *ngFor="let row of data" class="data-container">
        <td *ngFor="let item of metaData">
          <span class="align-center" *ngIf="item.type!='table'">
            <app-fields-map
              [data]="{isTableView:true,data: item,value:row[this.commonService.toCamelCase(item?.name)],rowId:row,rowData:row,inputValue:row}"
              (eventEmit)="eventListen($event)">
            </app-fields-map>
          </span>
          <span *ngIf="item.type==='table'">
            <button mat-icon-button color="primary" (click)="splitAllocation(row,splitAllocationTemplate)">
              <mat-icon>list</mat-icon>
            </button>
          </span>
        </td>
        <td>
          <mat-icon color="warn" (click)="deleteAllocation(row.id);" class="delete-icon">delete</mat-icon>
        </td>
      </tr>
    </table>
  </div>

</div>

<ng-template #subjectAllocationTemplate>
  <div class="split-allocation-container">
    <div class="header-container">
      <div class="header-name">
        Subject Allocation
      </div>
      <div class="close-btn">
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
      </div>
    </div>
    <div class="split-main-container">
      <div *ngFor="let item of metaData" [hidden]="item.type=='table'">
        <app-fields-map [data]="{isCreate:2,data: item,fieldViewType:currentView.fieldViewType,inputValue:inputValue}"
          (eventEmit)="eventListenForCreate($event)">
        </app-fields-map>
      </div>
    </div>
    <div class="bottom-btn-container">
      <div></div>
      <div class="bottom-btn">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #splitAllocationTemplate>
  <div class="split-allocation-container">
    <div class="header-container">
      <div class="header-name">
        Split Allocation
      </div>
      <div class="close-btn">
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
      </div>
    </div>
    <div class="split-main-container">
      <!-- STUDENT LIST -->
      <div>
        <div class="sub-title">Student List</div>
        <div cdkDropList #originalstudentList="cdkDropList" [cdkDropListData]="studentList" class="example-list"
          [cdkDropListConnectedTo]="[splitedList]" (cdkDropListDropped)="drop($event,'non-allocate')">
          <div *ngFor="let item of studentList;index as i" class="example-box" cdkDrag cdkDragLockAxis="x"
            [hidden]="item['checked']">
            <div class="student-grid">
              <div class="checkbox">
                <mat-checkbox (change)="updateList($event.checked,item,i)" [checked]="item.checked"></mat-checkbox>
              </div>
              <div class="student-info-grid">
                <div>{{item.firstName | titlecase}}</div>
                <div class="register-no">{{item.registerNumber}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="sub-title">Allocated Student</div>
        <div cdkDropList #splitedList="cdkDropList" [cdkDropListData]="splitedStudentList"
          [cdkDropListConnectedTo]="[originalstudentList]" class="example-list"
          (cdkDropListDropped)="drop($event,'allocate')">
          <div *ngFor="let item of splitedStudentList;index as i " class="example-box" cdkDrag cdkDragLockAxis="x">
            <div class="student-grid ">
              <div class="checkbox">
                <mat-checkbox (change)="updateList($event.checked,item,i)" [checked]="item.checked"></mat-checkbox>
              </div>
              <div class="student-info-grid">
                <div>{{item.firstName | titlecase}}</div>
                <div class="register-no">{{item.registerNumber}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>