.sub-allocation-header-container {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 10px;
    height: 45px;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /* height: 22px; */
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 500;
}

table,
td,
th {
    border: 1px solid #e0e0e0;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    background: #fafafa;
    z-index: 99999;
    color: rgba(0, 0, 0, 0.72);
    font-weight: 500;
    background: #f0f0f0;
}

tr {
    height: 50px;
}

.container {
    padding: 20px;
}

.add-btn {
    font-size: 12px;
    padding: 4px 5px;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    border-radius: 1px;
    user-select: none;
}

.split-allocation-container {
    position: relative;
}


.header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #abadad4f;
    position: fixed;
    width: 780px;
    background: #fff;
    z-index: 9999999;
    font-size: 22px;
    padding: 10px;
}

.bottom-btn-container {

    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid #abadad4f;
    position: fixed;
    bottom: 50px;
    width: 780px;
    background: #fff;
    z-index: 9999999;
    padding: 10px;
}

.bottom-btn {
    display: flex;
    justify-content: flex-end;
}

.split-main-container {
    padding: 20px;
    position: absolute;
    width: 95%;
    top: 36px;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;
}


.close-btn {
    display: flex;
    justify-content: flex-end;
    color: #656565;
    cursor: pointer;
    user-select: none;
}

.student-grid {
    display: grid;
    grid-template-columns: 40px calc(100% - 44px);
    grid-gap: 4px;
    border-radius: 3px;
    /* margin: 8px 0px; */
    padding: 10px 0px;
}

.student-info-grid {
    display: grid;
    grid-template-rows: 50% calc(50% - 4px);
    grid-gap: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-no {
    color: #777575;
    font-size: 12px;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.delete-icon {
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* DRAG DROP */

.example-list {
    border: solid 1px #ccc;
    min-height: 337px;
    height: 78vh;
    background: white;
    border-radius: 4px;
    overflow: scroll;
    display: block;
    margin-top: 10px;
}

.example-box {
    box-sizing: border-box;
    cursor: move;
    background: white;
    border-bottom: solid 1px #ccc;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}