<div *ngFor="let item of validateSelctorData.validationArray;index as i">
  <div class="list-valid">
    <div>{{item?.displayValue}}
      <a (click)="isCustomErrorId=i;isVisibleError=!isVisibleError">( Customize error message )</a><br><br>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of validateSelctorData.validationArray[i]['rule']" [removable]=true
          (removed)="remove(item,i)" color="primary" selected>
          {{item}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div>
      <mat-form-field appearance="outline" *ngIf="setContainsvalid.includes(item.name)">
        <mat-label>{{item.displayValue}} ...</mat-label>
        <input matInput (blur)="eventEmit.emit(validateSelctorData.validationArray)" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event,i)"
          class="full-width">
      </mat-form-field>
      <mat-form-field *ngIf="file.includes(item.name)" appearance='outline'>
        <mat-label>{{item.displayValue}} ...</mat-label>
        <input matInput placeholder="" [matAutocomplete]="auto" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event,i)" placeholder="Eg: 2Mb">
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let type of fileTypeList[item.name]" [value]="type" (optionSelected)="selected($event,i)">
            {{type}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline"
        *ngIf="!autoRule.includes(item.name) && !setContainsvalid.includes(item.name) && !file.includes(item.name)">
        <mat-label>{{item.displayValue}}</mat-label>
        <input matInput type="number" class="half-width" [(ngModel)]="item.value"
          (blur)="eventEmit.emit(validateSelctorData.validationArray)" placeholder="{{item.name == 'max_size' ? 'Eg:2':'' }}">
      </mat-form-field>
    </div>
    <div class="icon-align"><button mat-button color="warn" (click)="removeValidation(item);">
        <mat-icon color='warn'>delete_outline</mat-icon>
      </button></div>

  </div>
  <div *ngIf="i==isCustomErrorId && isVisibleError" class="custom-error">
    <mat-form-field appearance="outline">
      <mat-label>custom error message</mat-label>
      <input matInput [(ngModel)]="item.error" (blur)="eventEmit.emit(validateSelctorData.validationArray)">
    </mat-form-field>
    <button mat-button color="warn" (click)="item.error='';isCustomErrorId=null"
      (blur)="eventEmit.emit(validateSelctorData.validationArray)">remove</button>
  </div>
</div>

<button mat-stroked-button color="primary" [matMenuTriggerFor]="menu" class="add-valid-btn">Add Validations Rule
  +</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of validation[validateSelctorData?.data?.type]"
    (click)="addValidation(item)"
    (blur)="eventEmit.emit(validateSelctorData.validationArray)">{{item.displayValue}}</button>
</mat-menu>
