.validation-container {
  margin: 10px 0px;
}

.list-valid {
  border: 1.5px solid #ababab1f;
  padding: 10px;
  border-radius: 6px;
  margin-top: 6px;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  background: #fcfcfc;
}

.icon-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 12px;
  color: var(--color-primary);
  cursor: pointer;
  margin: 14px;
}

.custom-error {
  border: 1.5px solid #ababab1f;
  border-top: none;
  padding: 10px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 6px;
}

.add-valid-btn {
  margin-top: 6px;
}

.table-section-container {
  overflow: scroll;
}
