<div class="container">
  <div class="main-container">
    <div class="calendar-group-container">
      <div class="group-title">
        Calendar Group
      </div>
      <div *ngFor="let item of calendarList">
        <div (click)="getData(item)" class="group-list {{item===selectedCalendarGroup?'selected-group':''}}"
          (click)="selectedCalendarGroup=item;getData()">
          {{item?.academicCalendarCode}}</div>
      </div>
    </div>
    <div class="table-container">
      <div class="table-content">
        <table>
          <thead>
            <tr>
              <th class="selectCheckBox">
                <mat-checkbox></mat-checkbox>
              </th>
              <th *ngFor="let column of displayColumn" class="{{column.name!='description'?'width-20':'width-70'}}">
                <span> {{column.displayValue}}</span>
              </th>
              <th class="action">
              </th>
            </tr>
          </thead>
          <tr *ngFor="let row of data;index as i">
            <td class="select">
              <span class="select-no">{{i+1}}</span>
              <span class="select-checkbox">
                <mat-checkbox [checked]="row?.selected" (change)="row['selected']=$event.checked"></mat-checkbox>
              </span>
            </td>
            <td *ngFor="let column of displayColumn">
              <div *ngIf="column.type=='date'" (click)="isEdit=row.id;opendate();" class="date-container">
                <span *ngIf="isEdit!=row.id" class="date-pad">{{row[column.name] | date : 'mediumDate'}}
                  ({{row[column.name] | date :'EE'}})</span>
                <span *ngIf="isEdit==row.id">
                  <input id="date" [matDatepicker]="datepicker" (click)="datepicker.open()"
                    [(ngModel)]="row[column.name]" class="input-view"
                    (dateChange)="datepicker.close();isEdit=0;update(row.id,row[column.name],column.name,row);">
                  <mat-datepicker #datepicker></mat-datepicker>
                </span>
              </div>
              <div *ngIf="column.type=='select'" class="select-pad">
                <span>
                  <mat-select [(ngModel)]="row[column.name]"
                    (selectionChange)="update(row.id,row[column.name],column.name,row)">
                    <mat-option *ngFor="let item of column?.optionValue.split(',')" [value]="item">
                      {{item | titlecase}}
                    </mat-option>
                  </mat-select>
                </span>
              </div>
              <div *ngIf="column.name=='description'">
                <input class="input-view" [(ngModel)]="row[column.name]"
                  (blur)="update(row.id,row[column.name],column.name,row)">
              </div>
            </td>
            <td class="action">
              <mat-icon color="warn" (click)="delete(row)">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
      <div class="add-row-container">
        <button class="add-btn" mat-flat-button color="primary" (click)="addRow(1)">Add New Row + </button>
        <button class="add-btn add-more-btn" mat-flat-button color="primary" [matMenuTriggerFor]="addMoreRow">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #addMoreRow="matMenu">
          <button mat-menu-item (click)="addRow(5)">5 Rows</button>
          <button mat-menu-item (click)="addRow(10)">10 Rows</button>
          <button mat-menu-item (click)="addRow('forMonth')">this Month</button>
          <div mat-menu-item class="add-count-grid" (click)="$event.stopPropagation();">
            No of Rows :<input class="count-input" [(ngModel)]="countManual" (click)="$event.stopPropagation();">
            <span class="add-btn1" (click)="addRow(countManual)">Add</span>
          </div>
          <div (click)="$event.stopPropagation();" class="date-grid">
            <div class="value">Except these date:</div>
            <div class="input-view-container">
              <div *ngFor="let item of selectedDates;index as i" class="selected-item">
                <span class="value">{{item}}</span>
                <span>
                  <mat-icon class="close-icon" color="warn" (click)="removeDate(i)">close</mat-icon>
                </span>
              </div>
              <input class="input-value" [matDatepicker]="datepicker" [(ngModel)]="dateInput"
                (dateChange)="addDate($event.value);" (click)="datepicker.open();">
              <mat-datepicker #datepicker></mat-datepicker>
            </div>
            <div class="value">
              <span class="add-btn1" (click)="addRow('exceptSelected')">Add</span>
            </div>
          </div>
        </mat-menu>
      </div>
    </div>
    <div></div>
  </div>
</div>
