table,
td,
th {
  border: 1px solid #e0e0e0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
  background: #fafafa;
  z-index: 99999;

}

.input-view {
  background: transparent;
  font-size: 16px;
  padding-left: 16px;
}

.container {
  padding: 20px;
  /* user-select: none; */
}

.add-row-container {
  margin: 14px 0px;
  display: flex;
}

.add-btn {
  font-weight: 400;
  line-height: 2;
  padding: 0px 10px;
  font-size: 12px;
  border-radius: 0;

}

.add-more-btn {
  padding: 0;
  margin: 0px 1px;
  min-width: 20px;
  min-height: 9px;
}

.action {
  text-align: center;
  width: 5%;
  cursor: pointer;
  user-select: none;
}

.select {
  text-align: center;
  width: 5%;
  cursor: pointer;
  user-select: none;
}

.select:hover .select-no {
  display: none;
}

.select:hover .select-checkbox {
  display: block;
}

.select-checkbox {
  display: none;
}


.selectCheckBox {
  /* width: 1.5%; */
  min-width: 40px;
  text-align: center;
  position: sticky;
  left: 0;
  /* background: #fff !important; */
  z-index: 9;
}

.width-20 {
  width: max-content;
}

.width-50 {
  width: 50%;
}

.select-pad {
  padding: 0px 10px;
  /* width: max-content; */
}

.date-pad {
  padding: 0px 10px;
}


.main-container {
  display: grid;
  grid-template-columns: 15% 80% 5%;
  grid-gap: 10px;
}


.table-content {
  display: inline-block;
  height: 85vh;
  width: 100%;
  overflow: auto
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.group-list {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.calendar-group-container {
  /* padding: 10px; */
  text-align: center;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.group-title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  color: #fff;
  background: var(--color-primary);
}


.selected-group {
  color: var(--color-primary);
  background: var(--color-primary-opacity-25);
}

.count-input {
  border: 1px solid #e0e0e0;
  padding: 5px;
  width: 10%;
  border-radius: 2px;
  height: 17px;
  margin: 10px;
}

.add-btn1 {
  background: var(--color-primary);
  color: #fff;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}


.input-view-container {
  box-sizing: border-box;
  border: 1px solid #9b9b9b69;
  border-radius: 4px;
  width: 92%;
}

.selected-item {
  background: var(--color-primary-opacity-25);
  color: var(--color-primary);
  border-radius: 2px;
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  margin: 4px;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
}

.date-grid {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 10px;

}

.input-value {
  border: 0px;
  padding: 10px;
  width: 60%;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
}
