.container-list {
  border-top: 1px solid #e0e0e0;
  padding-top: 11px;
}

.preview-filed-container {
  padding: 20px;
}

.grid-1 {
  background: #bcbcbc0d;
}

.attach-file {
  background: var(--color-primary);
  padding: 7px 10px;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  display: block;
  text-align: center;
}


img {
  width: 70px;
  height: 70px;
}

.image-algin {
  text-align: center;
  background: #f7f4f4;
  margin: 0px;
}

.image-container {
  width: 50%;
}

#attach-file {
  display: none;
}

.attach-container {
  display: grid;
  grid-template-columns: 10% 80%;
}

.file-attach-p {
  display: flex;
}

::ng-deep div.mat-form-field-wrapper {
  padding-bottom: 0em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px !important;
}

.example-button-row {
  padding: 0px 0px 20px 0px;
}

.cancel-btn {
  margin-right: 10px;
}

.field-list-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.select-list-p {
  margin: 0px;
}

.delete-icon {
  justify-content: center;
  vertical-align: middle;
  padding: 0px 11px;
  font-size: 17px;
  cursor: pointer;
  color: var(--color-warn)
}

.input {
  height: 20px;
  width: 70%;
  margin: 4px 0px;
}

.add-item {
  color: blue;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 10px;
}

.slider {
  border: 1px solid #e0e0e0;
  height: 57px !important;
  border-radius: 4px;
  padding: 0px 9px;
  display: flex;
  align-items: center;
}

.close {
  float: right;
  display: flex;
  margin-top: -18px;
  margin-right: -15px;
  background: white;
  text-align: right;
}

.preview-field {
  /* padding-bottom: 15px; */
}

.input-color {
  width: 14px;
  border: 0px;
  margin-left: 14px;
  cursor: pointer;
}

.defualt-p {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0px;
}

.defualt-date {
  padding: 5px;
  margin-left: 9px;
  width: 70px;
}

.field-width {
  width: 94%;
}

.slider-btn {
  padding: 0px 22px;
}

/* Images and Preview page Attaachment*/
#image-file1 {
  display: none;
}


.image-algin {
  text-align: center;
  background: #f7f4f4;
  margin: 0px;
}

.image-container {
  width: 50%;
}

.p-icon {
  display: flex;
  align-items: center;
}

.attach-file {
  background: var(--color-primary);
  padding: 7px 0px;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.defualt-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.defualt-priview {
  padding: 5px 0px;
  font-size: 11px;
  width: 85px;
  cursor: pointer;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

.duplicate-container {
  margin: 10px;
}

.warning {
  padding: 10px 0px;
  color: #757475eb;
}

.delete-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0px 10px;
}

.table-container {
  padding: 26px 8px;
}

.mat-radio-button {
  padding-right: 10%;
}

.depended-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autofill-list {
  padding: 10px;
  display: grid;
  grid-template-columns: 5% 30% 30% 20%;
  grid-gap: 5%;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 10px;
}


.select {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 3px;
  width: 70%;
}

.auto-fill-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
