<!-- Preview Field -->
<div *ngIf="isLoading">
  <app-loader [progressBarType]="'progressBar'" [mode]="'indeterminate'"></app-loader>
</div>
<div class="preview-filed-container">

  <div class="close">
    <button mat-icon-button (click)="closeModel()">
      <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="half-width preview-field">
      <div *ngIf="selector.type=='number'">
        <app-number [data]="componentValueInput"></app-number>
      </div>
      <div *ngIf="selector.type=='text'">
        <app-text [data]="componentValueInput"></app-text>
      </div>
      <div *ngIf="selector.type=='tel'">
        <app-tel [data]="componentValueInput"></app-tel>
      </div>
      <div *ngIf="selector.type=='email'">
        <app-email [data]="componentValueInput"></app-email>
      </div>
      <div *ngIf="selector.type=='url'">
        <app-url [data]="componentValueInput"></app-url>
      </div>
      <div *ngIf="selector.type=='password'">
        <app-password [data]="componentValueInput"></app-password>
      </div>
      <div *ngIf="selector.type=='textarea'">
        <app-textarea [data]="componentValueInput"></app-textarea>
      </div>
      <div *ngIf="selector.type=='date'">
        <app-date [data]="componentValueInput"></app-date>
      </div>
      <div *ngIf="selector.type=='time'">
        <app-time [data]="componentValueInput"></app-time>
      </div>
      <div *ngIf="selector.type=='select'">
        <app-select [data]="componentValueInput"></app-select>
      </div>
      <div *ngIf="selector.type=='checklist'">
        <app-checklist [data]="componentValueInput"></app-checklist>
      </div>
      <div *ngIf="selector.type=='checkbox'">
        <app-checkbox [data]="componentValueInput"></app-checkbox>
      </div>
      <div *ngIf="selector.type=='toggle'">
        <app-toggle [data]="componentValueInput"></app-toggle>
      </div>
      <div *ngIf="selector.type=='image'">
        <app-image (eventEmit)="attachments=$event;" [data]="componentValueInput"></app-image>
      </div>
      <div *ngIf="selector.type=='attachment'">
        <app-attachment (eventEmit)="attachments=$event;" [data]="componentValueInput"></app-attachment>
      </div>
      <div *ngIf="selector.type=='slider'">
        <app-slider [data]="componentValueInput"></app-slider>
      </div>
      <div *ngIf="selector.type=='datetime'">
        <app-datetime [data]="componentValueInput"></app-datetime>
      </div>
      <div *ngIf="selector.type=='user'">
        <app-user [data]="componentValueInput"></app-user>
      </div>
    </div>
  </div>
  <div class="container-list">
    <div class="edit-container">
      <div class="grid-1">
        <mat-action-list>
          <button mat-list-item (click)="ValidationView('settings')" cdkFocusInitial>Settings</button>
          <button mat-list-item (click)="ValidationView('validation')" *ngIf="!!validation[selector.type]">Validations
          </button>
          <button mat-list-item (click)="ValidationView('advanced')"
            *ngIf="selector.type=='select' || selector.type=='checklist'|| selector.type =='checkbox'">Advanced
          </button>
          <button mat-list-item *ngIf="selector.type!='table' " (click)="ValidationView('computational')">Computational
          </button>
          <button mat-list-item
            *ngIf="selector.type=='select' || selector.type=='checklist' || selector.type=='toggle' || selector.type =='checkbox'"
            (click)="ValidationView('showHide')">Show Hide
          </button>
        </mat-action-list>
      </div>
      <div class="field-list-grid"
        *ngIf="(!isValidate && !isAdvance && !isShowHide) && !isComputational && selector.type!='table'">
        <mat-form-field appearance="outline" class="form-fields">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selector.displayValue" (input)="isRequiredCheck()"
            (click)="selector.displayValue=(selector.displayValue==dataType[selectItemIndex]?.displayValue ? '' : selector?.displayValue)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-fields" *ngIf="!isUpdate">
          <mat-label>Field Type</mat-label>
          <mat-select placeholder="Field Type" [(ngModel)]="dataType[selectItemIndex].displayValue"
            (valueChange)="feildIndex($event)">
            <mat-option *ngFor="let Type of dataType" [value]="Type.displayValue">
              {{Type.displayValue}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>{{dataType[selectItemIndex].icon}}</mat-icon>
        </mat-form-field>
        <span class="form-fields slider ">
          <mat-slide-toggle [disabled]="!selector.displayValue.length || !!selector.isunique"
            [(ngModel)]="selector.required" (change)="isRequire($event.checked)" color='primary' class="slider-btn">Is
            required
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="selector.isunique" color='primary' class="slider-btn"
            (change)="isRequire($event.checked);selector.required=$event.checked;checkIsEmpty($event.checked);">Is
            Unique
          </mat-slide-toggle>
        </span>


        <mat-form-field appearance="outline" class="form-fields">
          <mat-label>Help Text</mat-label>
          <input (input)="dataShareService.updatedDataSelection({name:'dadsda'})" matInput placeholder="Help Text"
            [(ngModel)]="selector.hint">
        </mat-form-field>
        <!--Default Value -->
        <div>
          <!--  String Based Values -->
          <mat-form-field appearance="outline" class="form-fields field-width"
            *ngIf="stringBased.includes(selector.type)">
            <mat-label>Default Value</mat-label>
            <input matInput placeholder="Default Value" type="{{selector.type}}" [(ngModel)]="selector.defaultValue">
          </mat-form-field>
          <!-- Check List based Values  -->
          <div class="form-fields" *ngIf="selector.type=='checkbox' && checkListBased.includes(selector.type)">
            <app-checkbox [data]="{'isMethod':'default-priveiw','data':selector}"></app-checkbox>
          </div>
          <div class="form-fields" *ngIf="selector.type=='select' && checkListBased.includes(selector.type)">
            <app-select [data]="{'isMethod':'default-priveiw','data':selector}"></app-select>
          </div>
          <div class="form-fields" *ngIf="selector.type=='checklist' && checkListBased.includes(selector.type)">
            <app-checklist [data]="{'isMethod':'default-priveiw','data':selector}"></app-checklist>
          </div>

          <!-- Toggle Based Values -->
          <div class="form-fields" *ngIf="selector.type=='toggle' && toggleBased.includes(selector.type)">
            <mat-label>Defualt : </mat-label>
            <mat-slide-toggle [checked]="selector.defaultValue" (change)="selector.defaultValue=$event.checked">
            </mat-slide-toggle>
          </div>
          <div class="form-fields" *ngIf="selector.type=='date'">
            <button mat-button [matMenuTriggerFor]="menu">Defualt
              date</button>{{selector.defaultValue.date | date:'MM/dd/yyy'}}
            <mat-menu #menu="matMenu">
              <p *ngIf="!after && !before" class="defualt-p" mat-menu-item (click)="setDefaultDate('current',0)">
                <span> Current Date</span>
              </p>
              <p *ngIf="!after" class="defualt-p" (click)="$event.stopPropagation();" mat-menu-item
                (change)="setDefaultDate('before',before);"><span> Before:</span> <span><input class="defualt-date"
                    type="number" [(ngModel)]="before" /></span>
              </p>
              <p *ngIf="!before" class="defualt-p" (click)="$event.stopPropagation();" mat-menu-item
                (change)="setDefaultDate('after',after);"><span>After:</span><span><input class="defualt-date"
                    type="number" [(ngModel)]="after" /></span></p>
            </mat-menu>
          </div>
          <div class="form-fields" *ngIf="selector.type=='datetime'">
            <button mat-button [matMenuTriggerFor]="menu">Defualt date and
              time</button>{{selector.defaultValue.datetime | date:'MMM d, y, h:mm:ss'}}
            <mat-menu #menu="matMenu">
              <p class="defualt-p" mat-menu-item (click)="setDefaultDateTime('currentTimeStamp')">
                <span> Current Timestamp</span>
              </p>
              <p class="defualt-p" mat-menu-item (click)="setDefaultDateTime('onUpdate')">
                <span> On Update</span>
              </p>
            </mat-menu>
          </div>
          <div class="form-fields" *ngIf="selector.type=='user'">
            <mat-radio-group [(ngModel)]="multiUserSelect">
              <mat-radio-button value="0" color='primary' (change)="changeType($event.value)">Single User
              </mat-radio-button>
              <br>
              <mat-radio-button value="1" color='primary' (change)="changeType($event.value)">Multi Users
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- <div class="form-fields" *ngIf="selector.type=='toggle' && toggleBased.includes(selector.type)">
          <mat-label>Defualt : </mat-label>
          <mat-slider class="full-width" color="primary" [disabled]="false" [max]="max" [min]="min" [thumbLabel]="true"
            [(ngModel)]="inputData.data.value"></mat-slider>
        </div> -->

          <!-- File Based Values -->
          <div class="form-fields" *ngIf="selector.type=='attachment' && fileBased.includes(selector.type)">
            <app-attachment (eventEmit)="attachments=$event;" [data]="{'isMethod':'default-priveiw','data':selector}">
            </app-attachment>
          </div>

          <div class="form-fields" *ngIf="selector.type=='image' && fileBased.includes(selector.type)">
            <app-image (eventEmit)="attachments=$event" [data]="{'isMethod':'default-priveiw','data':selector}">
            </app-image>
          </div>

          <!-- Slider Range Limit -->
          <div *ngIf="selector.type=='slider'">
            <mat-form-field appearance='outline' class="form-fields field-width">
              <mat-label>Mension Range Limit</mat-label>
              <input matInput (blur)='selector.validationArray={value:$event.target.value}'>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!!groupList">
          <mat-form-field appearance='outline' class="form-fields field-width">
            <mat-label>Select Group</mat-label>
            <mat-select [(ngModel)]="selector['groupName']">
              <mat-option *ngFor="let item of groupList" [value]='item.groupName'
                (click)="selector['groupName']=item.groupName">{{item.groupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <!-- Icon select -->
          <!-- <mat-form-field appearance="outline" class="form-fields field-width mat-form-field-infix">
            <mat-label>Select Icon</mat-label>
            <input matInput aria-label="State" [matAutocomplete]="auto" (input)="iconsFilter($event.target.value)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let icon of filterIconList" [value]="icon" (click)="selector.icon=icon">
                <mat-icon>{{icon}}</mat-icon> <span>{{icon | titlecase}}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>image_search</mat-icon>
          </mat-form-field> -->
        </div>

        <div class="form-fields"
          *ngIf="checkListBased.includes(selector.type) && ( (!(selector.isAdvanced && (selector.isAdvanced.length>1) ) && !isAdvance ))">
          <p class="select-list-p form-fields">List of Items</p>
          <div>
            <ul>
              <li *ngFor="let item of selector.optionValue;index as i;">
                <input class="input" type="text" [(ngModel)]="item" (blur)="selector.optionValue[i]=item;"
                  [disabled]="!!tempOptionValue?(tempOptionValue.split(',').includes(selector.optionValue[i])):false" />
                <input type="color" class="input-color" [(ngModel)]="optionColor[i]"
                  (change)="selector.colorCodes=optionColor;" />
                <mat-icon class="delete-icon"
                  *ngIf="!!tempOptionValue?(!tempOptionValue.split(',').includes(selector.optionValue[i])):true"
                  (click)="selector.optionValue.splice(i,1)">
                  delete_outline</mat-icon>
              </li>
              <span class="add-item" (click)="selector.optionValue.push('')">Add item +</span>
            </ul>
          </div>
        </div>
        <!-- Advance methods -->
        <div
          *ngIf=" !!selector.isAdvanced && (selector.type =='select' || selector.type =='checklist' || selector.type =='checkbox' )">
        </div>
      </div>
      <div *ngIf="selector.type=='table'">
        <mat-radio-group [(ngModel)]="sectionTableType">
          <mat-radio-button [value]="1">Import from Existing Table</mat-radio-button>
          <mat-radio-button [value]="2">Create New Table</mat-radio-button>
        </mat-radio-group>
        <div class="table-container">
          <mat-form-field appearance="outline" *ngIf="sectionTableType==1">
            <mat-label>select existing table</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]='sectionTableInfo'
              (input)="getTableInfo($event.target.value);">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]='displayValue'>
              <mat-option *ngFor="let option of tableInfo" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" *ngIf="sectionTableType==1">
            <mat-label>New table name</mat-label>
            <input matInput>
          </mat-form-field> -->
        </div>
      </div>
      <div *ngIf="isShowHide">
        <div>
          <app-advanced [inputData]='componentValueInput' (eventEmit)=" selector['showHideFields']=$event">
          </app-advanced>
        </div>
      </div>
      <div *ngIf="isAdvance">
        <mat-tab-group>
          <mat-tab label="Non Dependable">
            <div class="field-list-grid"
              *ngIf="(selector.type =='select' || selector.type =='checklist' || selector.type =='checkbox')">
              <mat-form-field appearance='outline' class="form-fields">
                <mat-label>Select TableName</mat-label>
                <!-- {{selector['isAdvanced']}} -->
                <mat-select [(ngModel)]="componentValueInput['data']['isAdvanced']['dataTableName']">
                  <mat-option *ngFor="let item of dataTableName" (click)="selectTableName(item.dataTableName)"
                    [value]='item.dataTableName'>
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="isTableFieldView" appearance='outline' class="form-fields">
                <mat-label>Select Fields for options</mat-label>
                <mat-select [(ngModel)]="componentValueInput['data']['isAdvanced']['fieldName']">
                  <mat-option *ngFor="let item of tableFields" (blur)="selectOption(item.dataTableName,item.name)"
                    [value]='item.displayValue'>{{item.displayValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-tab>
          <mat-tab label="Dependable">
            <div *ngIf="(selector.type =='select' || selector.type =='checklist' || selector.type =='checkbox')"
              class="depended-container">
              <div class="align-center">
                <mat-form-field appearance='outline' class="form-fields">
                  <mat-label>select depended field</mat-label>
                  <mat-select [(ngModel)]="filterAdvanced.dependedField" (click)="getMetaData();">
                    <mat-option *ngFor="let item of fieldList" [value]='item.name'>
                      {{item.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="align-center">
                <mat-form-field appearance='outline' class="form-fields">
                  <mat-label>select Filter</mat-label>
                  <mat-select [(ngModel)]="filterAdvanced.filterType">
                    <mat-option *ngFor="let item of filterList" [value]='item'>
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance='outline' class="form-fields">
                  <mat-label>select Table </mat-label>
                  <mat-select [(ngModel)]="filterAdvanced.dataTableName">
                    <mat-option *ngFor="let item of dataTableName" (click)="selectTableName(item.dataTableName)"
                      [value]='item.dataTableName'>
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance='outline' class="form-fields">
                  <mat-label>{{filterAdvanced.filterType}}</mat-label>
                  <mat-select [(ngModel)]="filterAdvanced.filterValue">
                    <mat-option *ngFor="let item of tableFields" [value]='item.name'>{{item.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance='outline' class="form-fields">
                  <mat-label>select field for option</mat-label>
                  <mat-select [(ngModel)]="filterAdvanced.fieldName">
                    <mat-option *ngFor="let item of tableFields" (blur)="selectOption2()" [value]='item.name'>
                      {{item.displayValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Auto Fill">
            <div>
              <mat-form-field appearance="outline" class="form-fields">
                <mat-label>Select data Table</mat-label>
                <input matInput [matAutocomplete]="autoTableName" (input)="getTableInfo($event.target.value)">
                <mat-autocomplete #autoTableName="matAutocomplete"
                  (optionSelected)="filterAdvanced.dataTableName=$event.option.value.dataTableName;selectTableName(filterAdvanced.dataTableName)"
                  [displayWith]="displayTableName">
                  <mat-option *ngFor="let item of tableInfo" [value]="item">
                    {{item.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance='outline' class="form-fields">
                <mat-label>Select Field for option</mat-label>
                <mat-select [(ngModel)]="filterAdvanced.fieldName" (valueChange)="addAutoFillList();getMetaData();">
                  <mat-option *ngFor="let item of tableFields" [value]='item.name'>{{item.displayValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngFor="let list of filterAdvanced['autoFillFields'];index as i" class="autofill-list">
                <span class="auto-fill-count">{{i+1}} . </span>
                <mat-select class="select" [(ngModel)]="list.masterField" (valueChange)="setautoFillFilter()">
                  <mat-option *ngFor="let item of tableFields" [value]='item.name'>{{item.displayValue}}
                  </mat-option>
                </mat-select>
                <mat-select class="select" [(ngModel)]="list.referedField" (openedChange)="setautoFillFilter();">
                  <mat-option *ngFor="let item of fieldList" [value]='item.name' (onSelectionChange)="test(item,i)">
                    {{item.displayValue}}
                  </mat-option>
                </mat-select>
                <span>
                  <button mat-icon-button color="primary" (click)="addAutoFillList()">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="removeItem(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </mat-tab>



        </mat-tab-group>



      </div>
      <div *ngIf="isValidate">
        <div>
          <app-validations [validateSelector]='componentValueInput' (eventEmit)="selector['validationArray']=$event">
          </app-validations>
        </div>
      </div>
      <div *ngIf="isComputational">
        <div>
          <app-computation-field [computationalSelector]='componentValueInput'
            (event)="selector['computational']=$event;"></app-computation-field>
        </div>
      </div>
    </div>
    <div class="example-button-row float-right">
      <button class="cancel-btn" mat-raised-button (click)="closeModel()">cancel</button>
      <button mat-raised-button color="primary" (click)="save()">
        {{ isUpdate? 'Update': 'Save'}}</button>
    </div>
  </div>
</div>

<ng-template #duplicate>
  <div class="duplicate-container">
    <div class="warning">
      To make any field unique <br>
      1.Table should be empty <br>
      please click "delete" button to make empty table or ingore
    </div>
    <div class="delete-btn">
      <button mat-raised-button color="primary" (click)="deleteTableData()" class="btn">Delete</button>
      <button mat-raised-button
        (click)="dialogisUnique.close();selector.isunique=0;selector.required=0;selector.displayValue = selector.displayValue.replace('*', '');"
        class="btn">Ignore</button>
    </div>
  </div>
</ng-template>
