<div class="preview">
    <!-- Number -->
    <mat-form-field *ngIf="item.type=='number'">
      <input matInput type="number">
    </mat-form-field>
    <!-- Text -->
    <mat-form-field *ngIf="item.type=='text'">
      <input matInput type="text">
    </mat-form-field>
    <!-- Telephone number -->
    <mat-form-field *ngIf="item.type=='tel'">
      <input matInput type="tel">
    </mat-form-field>
    <!-- Check Box -->
    <section class="example-section" *ngIf="item.type=='checkbox'">
      <mat-radio-group>
        <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
        <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
      </mat-radio-group>
    </section>
    <!-- mail -->
    <mat-form-field *ngIf="item.type=='email'">
      <input matInput type="mail">
    </mat-form-field>
    <!-- URl -->
    <mat-form-field *ngIf="item.type=='url'">
      <input matInput type="url">
    </mat-form-field>
    <!-- Password -->
    <mat-form-field *ngIf="item.type=='password'">
      <input matInput type="password">
    </mat-form-field>
    <!-- TextArea -->
    <mat-form-field *ngIf="item.type=='textarea'">
      <textarea matInput></textarea>
    </mat-form-field>
    <!-- Date -->
    <mat-form-field *ngIf="item.type=='date'">
      <input matInput [matDatepicker]="dp">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <!-- Time -->
    <mat-form-field *ngIf="item.type=='time'">
      <input matInput type="time">
    </mat-form-field>
    <!-- Drop Down -->
    <mat-form-field *ngIf="item.type=='select'">
      <mat-select placeholder="">
        <mat-option value="option"></mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Check list -->
    <section *ngIf="item.type=='checklist'">
      <mat-checkbox class="example-margin">Checked</mat-checkbox>
      <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
    </section>
    <!-- Yes / NO -->
    <section *ngIf="item.type=='toggle'">
      <mat-slide-toggle>
        Slide me!
      </mat-slide-toggle>
    </section>

    <!-- Slider -->
    <mat-slider [thumbLabel]="true" color="primary" *ngIf="item.type=='slider'">
    </mat-slider>
    <!-- image -->
    <label for="image-file" *ngIf="item.type=='image'">
      <div class="image-container">
        <p class="image-algin"><img [src]="imageUrl ? imageUrl : 'https://image.flaticon.com/icons/svg/149/149092.svg'">
        </p>
        <span class="attach-file">Attach Image</span>
      </div>
      <!-- <input type="file" id="image-file" (change)="changeProfilePic($event)" accept="image/*" /> -->
    </label>


    <label for="attach-file" *ngIf="item.type=='attachment'">
      <div class="image-container attach-container">
        <p>
          <mat-icon>attach_file</mat-icon>
        </p>
        <p>Attach File</p>
        <!-- <span class="attach-file"> Attach File</span> -->
      </div>
    </label>
  </div>

  <div class="edit-container">
    <div>
      <mat-action-list>
        <button mat-list-item>Settings</button>
        <button mat-list-item> Validations </button>
      </mat-action-list>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Field Type</mat-label>
        <mat-select placeholder="Field Type">
          <mat-option *ngFor="let Type of dataType" [value]="Type.displayValue">
            <mat-icon>{{Type.icon}}</mat-icon> {{Type.displayValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Field Id</mat-label>
        <input matInput placeholder="Field Id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Help Text</mat-label>
        <input matInput placeholder="Help Text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Default Value</mat-label>
        <input matInput placeholder="Default Value">
      </mat-form-field>

      <mat-slide-toggle>Is required</mat-slide-toggle>
    </div>
  </div>
