<div class="main-container">
  <div class="handling-class-list">
    <div class="handling-class-title">Handling Classess</div>
    <div *ngFor="let item of classList" class="list-item {{selectedClass===item?'list-item-active':''}}"
      (click)="selectedClass=item;getStudentInfo(item)">
      <div>
        {{item.degree[0].degree}}
        {{item.batch[0].batch}}
        {{item.semester}}
        {{item.section | titlecase}}
      </div>
    </div>
  </div>
  <div class="student-list-container">
    <div class="list-grid">
      <div *ngFor="let student of studentList" class="student-list" (click)="selectedView(student)">
        <div><img src="../../../../../../Downloads/ERP/photo/{{student?.registerNumber}}.JPG"></div>
        <div class="content-value">{{student?.firstName}}</div>
        <div class="content-value reg-no">{{student?.registerNumber}}</div>
      </div>
    </div>
  </div>
</div>