.main-container {
  display: grid;
  grid-template-columns: 250px calc(100% - 260px);
  grid-gap: 10px;
  padding: 20px;
}

.list-grid {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px 130px;
  grid-gap: 10px;
  box-sizing: border-box;
  /* justify-content: center; */
}

.handling-class-list {
  border: 1px solid #e0e0e0;
  height: 90vh;
  overflow: hidden;
}

.handling-class-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: var(--color-primary);
  color: #fff;
  font-size: 17px;
  border-radius: 3px;
}

.list-item {
  display: flex;
  justify-content: center;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.list-item-active {

  background: var(--color-primary-opacity-25);
  color: var(--color-primary);
}

.content-value {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.student-list-container {
  border: 1px solid #e0e0e0;
  height: 90vh;
  overflow: scroll;
  padding: 10px 20px;
}

.student-list {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.student-list:hover {
  background: var(--color-primary-opacity-25);
  border: 1px solid var(--color-primary);
}

.reg-no {
  font-size: 12px;
}