<p class="margin-0" *ngIf="!inputData.no_photo">
  <img class="avator" src="{{'https://api.myairliftusa.com/uploads/'+(inputData?.photo || inputData?.Photo)}}"
    (error)="inputData.no_photo=true" [ngStyle]="{'width':size,'height':size}" alt="profile picture">
</p>
<p class="margin-0 avator" [style.backgroundColor]="!!inputData?.avatorBgColor ? inputData?.avatorBgColor :''"
  *ngIf="inputData.no_photo"  [ngStyle]="{'width':size,'height':size,'font-size':fontSize}">
  {{( (!!inputData?.user_name ? inputData?.user_name[0] :false) || inputData?.userName[0]) | titlecase }} </p>
