<div>
  <div *ngIf="inputData.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
    <!-- Check list -->
    <label>{{inputData.data.displayValue}} : </label>
    <mat-radio-group (change)="this.inputData.data.defaultValue=$event.value;emitChangeData();">
      <mat-radio-button *ngFor="let item of (inputData.data.optionValue+'').split(',')" color="primary" [value]="item">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
    <span align="end" class="hint">{{inputData.data.hint}}</span>

  </div>

  <div class="input-view-2-grid"
    *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
      <mat-radio-group (change)="this.inputData.data.defaultValue=$event.value;emitChangeData();">
        <mat-radio-button class="radio-btn" *ngFor="let item of (inputData.data.optionValue+'').split(',')"
          color="primary" [value]="item">
          {{item}}
        </mat-radio-button>
      </mat-radio-group>
      <!-- <input type="{{inputData.data.type}}" class="input-view-2" [(ngModel)]="inputData.data.defaultValue"
          (input)="validationCallBack($event.target.value)" (blur)="isUnique();emitChangeData();"
          (focus)="validationCallBack($event.target.value)"> -->

    </div>
    <div class="hint">
      {{inputData.data.hint}}
    </div>
  </div>



  <div *ngIf="inputData.isMethod=='default-priveiw'">
    <!-- Check list -->
    <label>Default Value : </label>
    <mat-radio-group>
      <mat-radio-button *ngFor="let item of (inputData.data.optionValue+'').split(',')" [value]="item"
        (click)="inputData.data.defaultValue=item">{{item}}
      </mat-radio-button>
    </mat-radio-group>

  </div>
  <!-- <div *ngIf="inputData.isMethod=='validation'" class="validation-container">
  <app-validations [validateSelector]='inputData'></app-validations>
</div> -->

  <!-- Table section created -->
  <ng-container>
    <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
      <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
        class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
        (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:''">
        {{inputData?.value}}
      </span>
      <mat-radio-group *ngIf="inputData?.indexNo==isEdit" class="input-view"
        (change)="this.inputData.data.defaultValue=$event.value;emitChangeData();isEdit=0;">
        <mat-radio-button *ngFor="let item of (inputData.data.optionValue+'').split(',')" [value]="item"
          [checked]="inputData?.value===item" color="primary">{{item}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-container>

  <ng-container>
    <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
      <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
        *ngIf="!(isEdit==inputData?.rowId?.id)"
        (dblclick)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
        {{inputData?.value}}
      </span>
      <mat-radio-group *ngIf="inputData?.rowId.id==isEdit" class="input-view"
        (change)="this.inputData.data.defaultValue=$event.value;emitChangeData();isEdit=0;">
        <mat-radio-button *ngFor="let item of (inputData.data.optionValue+'').split(',')" [value]="item"
          [checked]="inputData?.value===item" color="primary">{{item}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-container>


  <!-- view and Edit -->
  <div *ngIf="inputData?.isView" class="view-container">
    <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
    <div class="content {{isEdit? 'edit-field':''}}">
      <span *ngIf="!isEdit">{{inputData.data?.defaultValue}}</span>
      <mat-radio-group *ngIf="isEdit" class="input-view"
        (change)="this.inputData.data.defaultValue=$event.value;emitChangeData();">
        <mat-radio-button *ngFor="let item of (inputData.data.optionValue+'').split(',')" color='primary' [value]="item"
          color="primary" [checked]="inputData.data?.defaultValue===item">{{item}}
        </mat-radio-button>
      </mat-radio-group>
      <span class="edit-btn">
        <mat-icon (click)="isEdit=true;" *ngIf="!isEdit" color="primary">edit_outline</mat-icon>
        <mat-icon *ngIf="(inputData.data[currentUser.designationId+'Access']==2)?isEdit:''" class="done-btn"
          (click)="isEdit=false;">check_circle_outline</mat-icon>
      </span>
    </div>
  </div>
