.container {
    /* margin: 10px; */
    height: 100%;
  }
  
  .container-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    position: relative;
  }
  
  .subprocess-container {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: #f7fdfd;
    position: absolute;
    height: 100%;
    width: 20%;
  }
  
  .main-container {
    margin: 0px 0px 0px 20px;
    position: absolute;
    left: 20%;
    height: 100%;
    overflow: auto;
    width: 78%;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); */
  }
  
  .item-list {
    border: 1.5px solid #e4e4e4ad;
    padding: 20px;
    margin: 40px 20px;
    position: relative;
    border-radius: 4px;
    padding-top: 35px;
  }
  
  .group-name {
    position: absolute;
    top: -22px;
    left: 20px;
    border: 1.5px solid #ededed;
    border-radius: 4px;
    padding: 10px 9px;
    background: #fff;
    color: #414040;
    font-weight: 450;
  }
  
  .row {
    display: grid;
    /* background:red; */
  }
  
  
  /* Sub process */
  
  .subprocess-item {
    /* padding: 4px 24px; */
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
  }
  
  .selected-process {
    background: var(--color-primary);
    color: #fff;
  }
  
  .selected-process-p {
    padding: 16px 24px;
    margin: 0px;
  }
  
  .expend {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0) !important;
    background: transparent !important;
  }
  
  .main-process-groups {
    background: #FFF;
    color: #5f5d5d;
    padding-left: 46px;
  }
  
  .main-process-groups-p {
    margin: 0;
    padding: 8px 0px;
    font-size: 12px;
  }
  
  .main-process-groups-p-active {
    color: var(--color-primary);
  }
  
  .icon-arrow {
    font-size: 18px;
    float: right;
  }
  
  .selected-group {
    border-color: var(--color-primary);
  }
  