<div class="item-list " *ngFor="let group of groupList ">
  <div class="group-name {{groupSelect==group.groupName ? 'selected-group': ''}} " id="{{group.groupName}} ">
    {{group.groupName | titlecase}}
  </div>
  <div class="row " *ngFor="let row of metaDataByGroup[group.groupName];index as i "
    [ngStyle]="{ 'grid-template-columns':row.grid} ">
    <div *ngFor="let item of row.items;index as j; ">
      <app-fields-map
        [data]="{isView:true,data: item, value: value[commonService.toCamelCase(item.name)],rowInfo:value,inputValue:value} "
        (eventEmit)='eventListen($event)'>
      </app-fields-map>
    </div>
  </div>
</div>
