.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    height: 100%;
}

.mat-toolbar-single-row {
    height: 48px;
    padding: 0px 12px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.mat-list-base {
    padding-top: 0px;
    overflow: hidden;
}

.bottom-list {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-arrow {
    border-top: 1px solid #e0e0e0;
}

.mat-list-base .mat-icon {
    color: rgba(86, 84, 84, 0.87);
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 40px;
}

.mat-list-base span {
    padding-left: 20px;
    font-size: 13px;
}

.bottom-list .mat-icon {
    font-size: 16px;
}

.bottom-button-open {
    overflow: hidden;
    width: 50px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.bottom-button-open:hover {
    width: 200px;
}

.menu-btn {
    margin-left: -6px;
}

.menu-btn .mat-icon {
    font-size: 20px;
}

.menu-select {
    border-left: 3px solid var(--color-primary);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: var(--color-primary);
}

.isactive-list-icon {
    color: var(--color-primary) !important;
}


/* Model  */

::ng-deep .cdk-overlay-pane {
    max-width: 99vw !important;
}

.closeBtn {
    margin: 0px;
    margin-top: -12px;
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
    border-radius: 2px !important;
}

.view-more {
    color: var(--color-primary);
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mat-toolbar-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
    background: #fff;
}

.toolbar-secound {
    display: grid;
    grid-template-columns: 90% 10%;
}

.toolbar-avator {
    margin: auto;
}

.mat-menu-list-custom {
    line-height: 12px;
    height: 35px;
}

.toolbar-secound-child-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img-logo {
    height: 32px;
    display: flex;
}

.notification-icon {
    display: flex;
    justify-content: flex-end;
    margin: 0% 0%;
    cursor: pointer;
}

.notification-icon .mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    user-select: none;
}

.notification-container {
    height: 31vh;
    overflow: scroll;
    padding: 10px 0px;
    overflow-x: hidden;
}

.notification-head {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 50% 50%;
}

.notification-title {
    font-size: 16px;
    font-weight: 500;
    color: #6c6a6a;
}

.mark-as-read {
    padding-top: 9px;
    font-size: 88%;
    font-weight: 400;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
    /* font-family: 'Roboto', sans-serif; */
}

.notification-list {
    padding: 10px;
    /* border-bottom: 1px solid #dddddd; */
}

.list-notify {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 17px;
}

.avator {
    background: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.message {
    font-size: 14px
}

.un-read-message {
    background: #eef7ff;
}

.timestamp {
    padding-top: 8px;
    font-size: 10px;
    color: #3e3e3e;
}

::ng-deep .mat-menu-panel {
    min-width: 112px;
    max-width: 320px;
}

.notification-icon {
    font-size: 23px;
}


/* mat-tab-color */

::ng-deep .mat-tab-label-active {
    color: var(--color-primary) !important;
    opacity: 1 !important;
}

.mat-tab-header {
    padding-top: 0px;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-bottom: 0px !important;
}

.mat-badge.hide-text .mat-badge-content {
    top: -9px;
    right: -29px;
    width: 20px;
    height: 17px;
    border-radius: 15px;
    width: max-content;
    padding: 0px 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 6px;
}

/* .mat-badge-medium.mat-badge-after .mat-badge-content {
      top: -9px;
      right: -29px;
      width: 20px;
      height: 20px;
      font-size: 11px;
  } */

::ng-deep .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    /* width: max-content;
    padding: 0px 4px;
    border-radius: 15px;
    font-size: 10px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500; */
}

.badge {
    color: #fff !important;
    background: var(--color-warn);
    z-index: 999;
    position: absolute;
    top: 2px;
    padding: 3px 4px;
    border-radius: 20px;
    min-width: 10px;
    max-width: max-content;
    font-size: 17px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 10px;
    font-weight: 400;
}

.badge-single-digit {
    padding: 1px 2px;
}

::ng-deep .mat-menu-panel-custom-class {
    min-width: 450px !important;
    min-width: 450px !important;

}

/* height: calc(100% - 90px);
      overflow-y: auto; */

.toast-container {
    position: relative;
}