<!-- *ngIf="!isLoginPage" -->
<div class="container">
  <mat-toolbar *ngIf="!!user">
    <button mat-icon-button class="menu-btn" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-toolbar-container">
      <div class="logo">
        <a href="https://aametals.com/" target='_blank'><img class="img-logo"
            src="../../assets/img/AA_Metals_Logo.png"></a>
      </div>
      <div class="toolbar-secound">
        <!-- Notifications -->
        <div class="toolbar-secound-child-1">
          <!-- <audio #notification_audio src="../../assets/audio/notification.mp3" autostart=true id="notification_audio"></audio> -->
          <p class="margin-0 notification-icon" [matMenuTriggerFor]="notification" (click)="getNotifyCount();isNotify=!isNotify;
        notificationOnClick=!notificationOnClick">
            <mat-icon class="outline" class="notification-icon">
              notifications_none
            </mat-icon>
            <!-- <span *ngIf="!!notificationInputData.notification"
              class="badge {{  notificationInputData.notification < 10  ? 'badge-single-digit' :''}}">
              {{ notificationInputData.notification >= 100 ? '99+' : notificationInputData.notification }}
            </span> -->
          </p>
        </div>
        <p class="toolbar-avator" [matMenuTriggerFor]="profile">
          <app-user-avator [inputData]="user"></app-user-avator>
          <!-- <app-use -->
        </p>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" *ngIf="!isLoginPage">
    <mat-sidenav (mouseover)="test('over')" (mouseout)="test('out')" #sidenav mode="side" opened
      class="bottom-button-open" [style.width]="(isNavOnClickOpen || isNavOpen) ? '200px' : '50px'">
      <!-- Static Menu menu -->
      <mat-nav-list>
        <a mat-list-item routerLink="{{item.link}}" *ngFor="let item of sideMenu;index as i"
          [ngClass]="isSelectMenu==item.label ? 'menu-select' :''" (click)="isSelectMenu=item.label;">
          <mat-icon [ngClass]="isSelectMenu==item.label ? 'isactive-list-icon' :''">{{item.icon}}</mat-icon>
          <span>{{item.label | titlecase}} </span>
        </a>
      </mat-nav-list>

      <!-- API menus -->
      <mat-nav-list *ngIf="sideMenuListForAPI.length">

        <a mat-list-item routerLink="{{item.link}}" *ngFor="let item of sideMenuListForAPI;index as i"
          [ngClass]="isSelectMenu==item.name ? 'menu-select' :''"
          (click)="isSelectMenu=item.name;storeCurrentProcess(item);">
          <mat-icon [ngClass]="isSelectMenu==item.name ? 'isactive-list-icon' :''">{{item.icon}}</mat-icon>
          <span>{{item.name | titlecase}}</span>
        </a>
      </mat-nav-list>

      <!-- Bottom of list -->
      <mat-nav-list class="bottom-list">
        <a mat-list-item class="view-more" [routerLink]='"general-process"'>
          <mat-icon style="color:var(--color-primary)"> select_all</mat-icon><span>View All Process</span>
        </a>
        <a mat-list-item (click)="sideNavbtn(sidenav);" class="bottom-arrow">
          <mat-icon> {{ isNavOnClickOpen ? 'arrow_back_ios' : 'arrow_forward_ios' }}</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Open dialog -->
      <ng-template #openModelContainer>
        <div>
          <p class="float-right closeBtn">
            <button mat-icon-button (click)="closeDialog()">
              <mat-icon>close</mat-icon>
            </button>
          </p>
        </div>
        <!-- Router  -->
        <router-outlet></router-outlet>
      </ng-template>
      <!-- Router  -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
<!-- <div *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</div> -->


<!-- Avator -->
<mat-menu #profile="matMenu">
  <button class="mat-menu-list-custom" mat-menu-item>My profile</button>
  <button class="mat-menu-list-custom" mat-menu-item (click)="signOut()">Sign out</button>
</mat-menu>

<!-- Notification -->
<mat-menu #notification="matMenu" (closed)="notificationOnClick=false" [class]="'mat-menu-panel-custom-class'">
  <!-- <div *ngIf="notificationOnClick">
    <app-notification-main-view [inputData]="notificationInputData"></app-notification-main-view>
  </div> -->
</mat-menu>

<!-- <div class="toast-container">
  <app-toast></app-toast>
</div> -->