<div class="loader-container" *ngIf="!progressBarType">
  <mat-progress-spinner [strokeWidth]="3" [mode]="'indeterminate'" [diameter]="rsize"></mat-progress-spinner>
  <span class="loading" [style.font-size.px]="fsize">Loading...</span>
</div>

<div *ngIf="!!progressBarType">
  <mat-progress-bar class="example-margin" color='primary' [mode]="mode"></mat-progress-bar>
</div>
