.loader-container {
  display: flex;
}

.loading {
  font-size: 10px;
  margin: 0px 9px;
  display: flex;
  align-items: center
}

.loader {
  font-size: 10px;
  display: flex;
  justify-content: center;
}