::ng-deep .not-valid .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-warn);
}
::ng-deep .not-valid .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-warn)!important;
}

::ng-deep .valid .mat-form-field-appearance-outline .mat-form-field-outline {
color:#e0e0e0;
}
::ng-deep .valid .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color:var(--color-primary)!important;
}
