/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
    margin: 0px;
    font-family: 'Roboto', serif !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.margin-0 {
    margin: 0px;
}

.float-right {
    float: right;
    text-align: right;
}

.text-center {
    text-align: center;
}


/* Table Style */

::ng-deep tbody tr:nth-child(odd) {
    background: #f7f7f7;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.2em !important;
}

::ng-deep .mat-form-field-infix {
    padding: .5em 0 .5em 0 !important;
}


/* Scroll */

*::-webkit-scrollbar {
    width: 10px !important;
    height: 7px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(224, 224, 224);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

textarea:focus,
input:focus {
    outline: none;
}

.loader {
    display: flex;
    justify-content: center;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--color-primary) !important;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--color-primary) !important;
}

.mat-pseudo-checkbox-checked {
    background: var(--color-primary)!important;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

::ng-deep .mat-tooltip {
  font-size:15px!important;
  background: white!important;
  color: black!important;
}
