@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue, 500);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-success: mat-palette($mat-green, A700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-success, $my-app-warn);
@include angular-material-theme($my-app-theme);
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);

:root {
  --color-primary: #{mat-color($my-app-primary)};
  --color-accent: #{mat-color($my-app-accent)};
  --color-warn: #{mat-color($my-app-warn)};
  --color-success: #{mat-color($my-app-success)};
  --color-primary-opacity-25: #{mat-color($my-app-primary)}26;

}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 1em 0 1em 0;
//   border-top: 0em solid transparent;
// }