.contianer {
  position: relative;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.stage {
    display: flex;
    overflow: auto;
    position: relative;
    /* margin: 3% 0px; */
    justify-content: center;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-0 {
    margin: 0px;
}

.head-step {
    background: #d5ecf75e;
}

.process-start-container {
    padding: 5% 7%;
    min-height: max-content;
    border-radius: 4px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    width: 45%
}

.process-start-container:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.work-flow-stages {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 8px 0px;
    cursor: pointer;
}

.description {
    font-size: 14px;
    color: #6e6e6e;
}

.stage-title {
    font-size: 20px;
}

.change-btn-container {
    text-align: right;
    padding-top: 11px;
}

.change-head-container {
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid #c6c6c6;
    /* box-shadow: 0px 0px 0px -18px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2), 0px 10px 64px 2px rgba(0, 0, 0, 0.1); */
    padding: 6px 10px 5px 19px;
}

.conatiner {
  /* position: relative;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto; */
    /* padding: 0px 20px; */
}

.header {
    color: #4f4b4b;
    font-size: 16px;
    font-weight: 400;
}

.form-field {
    width: 100%;
    border-top: 1px solid #c6c6c6;
    padding: 11px 14px;
}

.cancel-btn {
    margin-right: 20px;
}

.margin-10 {
    margin: 10px 0px;
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
    border-radius: 0px !important;
    overflow: hidden !important;
}

.wrapper {
    position: relative;
    width: 250px;
    height: 100px;
    /* border: 1px dashed #ccc; */
    /* margin: 10px; */
}

.background-white {
    background: #fff;
}


/* LINE  */

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--color-primary);
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    padding: 3px;
    background: #fff;
}

.add-icon {
    color: var(--color-primary);
    cursor: pointer;
}

.stage-container {
    font-size: 14px;
    color: #6e6e6e;
}

.stage-width {
    width: 55%;
}

.user-icon {
    color: #aba9a9;
}


/* .user-avatar {
  background: black;

} */

.assign-close-btn {
    display: flex;
    justify-content: flex-end;
}
