<div class="contianer">
    <div class="stage margin-top-3">
        <div class="work-flow-stages">
            <div class="process-start-container head-step">
                <div class="stage-title"> {{dataTable.name | titlecase}}</div><br>
                <div class="description">
                    Choose who can initiate items. You can also configure this from then share settings page.
                </div>
                <div class="hr-line change-btn-container">
                    <button mat-stroked-button color="primary" (click)="openDialog(assignOwnerTemplate)">Change</button>
                </div>
            </div><br>
        </div>
    </div>
    <div class="stage">
        <div class="wrapper">
            <div class="line"></div>
            <div class="wordwrapper">
                <div class="word">
                    <mat-icon class='add-icon' [matMenuTriggerFor]="menu">add_circle_outline</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="assginTo(addStageTemplate,'')">Add New Step</button>
                        <button mat-menu-item (click)="assginTo(addStageTemplate,'')">Add goto</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor='let item of steps;index as i'>
            <div class="stage" cdkDrag>
                <div class="work-flow-stages stage-width">
                    <div class="process-start-container background-white">
                        <div class="stage-title"> {{item.name | titlecase}}</div><br>
                        <div class="stage-container">
                            <span>Assgined To:</span>
                            <span *ngFor='let user of item["assginedTo"]'>
              <!-- {{user.userName}} -->
              <span class="user-avatar">
                <mat-icon class="user-icon">person_outline</mat-icon>
              </span>
                            </span>
                        </div>
                        <div class="hr-line change-btn-container">
                            <button mat-stroked-button color="primary" (click)="assginTo(addStageTemplate,item)">Change</button>
                        </div>
                    </div><br>
                </div>
            </div>
            <div class="stage">
                <div class="wrapper">
                    <div class="line"></div>
                    <div class="wordwrapper">
                        <div class="word">
                            <mat-icon class='add-icon' [matMenuTriggerFor]="menu">add_circle_outline</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="assginTo(addStageTemplate,'')">Add New Step</button>
                                <button mat-menu-item (click)="assginTo(addStageTemplate,'')">Add goto</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="stage">
        <button mat-raised-button color="primary">compelete</button>
    </div>
</div>


<ng-template #assignOwnerTemplate>
    <div>
        <div class="change-head-container">
            <h4 class="margin-0 margin-10 header"> Share Settings</h4>
            <div class="assign-close-btn">
                <button mat-icon-button (click)="dialogRef.close();">
        <mat-icon>close</mat-icon>
      </button>
            </div>
        </div>

        <div class="conatiner">
            <app-assign-owner (event)="assginOwnerEvent($event)" [inputData]="dataTable"></app-assign-owner>
        </div>
    </div>
</ng-template>

<ng-template #addStageTemplate>
    <div>
        <div class="change-head-container">
            <h4 class="margin-0 margin-10 header"> </h4>
            <button mat-icon-button (click)="dialogRef.close();">
      <mat-icon>close</mat-icon>
    </button>
        </div>

        <div class="conatiner">
            <app-add-stage (emitInfo)='tempStep=$event;' [inputData]="stepInfo"></app-add-stage>
            <!-- Actions -->
            <div class="form-field float-right">
                <button mat-raised-button class="cancel-btn" (click)="dialogRef.close();">Cancel</button>
                <button mat-raised-button color="primary" (click)="setStepInfo();">Save</button>
            </div>
        </div>
    </div>
</ng-template>
