.user-small-view-container {
  display: grid;
  grid-template-columns: 20% calc(80% - 5px);
  grid-gap: 5px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 1px 2px 4px rgba(188, 186, 186, 0.11), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px 10px;
  background: #fff;
}

.user-details-container {
  display: grid;
  grid-template-rows: 20px 15px 15px;
  grid-gap: 3px;
  color: black;
}

.display-center {
  display: flex;
  align-items: center;
}

.user-name {
  color: #363636;
  font-size: 16px;
}

.user-email-des {
  color: #787575;
  font-size: 12px;
  display: grid;
  grid-template-columns: 20px calc(100% - 30px);
  grid-gap: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.email{
  cursor: pointer;

}
.email:hover{
  text-decoration: underline;
  color: var(--color-primary);
}
.user-email-des .mat-icon {
  font-size: 15px;
  width: 15px;
  height:15px;
}

.avator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
