<!-- the user details is small view -->
<div class="user-small-view-container">
  <div class="avator-container">
      <app-user-avator [inputData]="inputData"></app-user-avator>
  </div>

  <div class="user-details-container">
    <p class="margin-0 user-name display-center">{{(inputData?.user_name || inputData?.userName) | titlecase }}</p>
    <p class="margin-0 user-email-des">
      <mat-icon>email</mat-icon>
      <span class="display-center email">{{inputData?.email }}</span>
    </p>
    <p class="margin-0 user-email-des">
      <mat-icon>person</mat-icon>
      <span class="display-center">
        {{ (inputData?.designation_value || inputData?.designationValue) | titlecase }}
      </span>
    </p>
  </div>
</div>

