<div class="row" *ngIf="inputData?.isCreate && (inputData.fieldViewType=='3'|| inputData.fieldViewType=='4')">
  <div class="preview ">
    <mat-form-field appearance="{{ inputData.fieldViewType=='4'?'outline':''}}" class="full-width container">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <input matInput id='datetime' (focus)='true' [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        (input)="validationCallBack($event.target.value)" [(ngModel)]="inputData.data.defaultValue.datetime"
        (change)="emitChangeData($event);"
        [disabled]="(inputData.data?.name=='created_on') || (inputData.data?.name=='last_modified')">
      <owl-date-time #dt></owl-date-time>
      <mat-hint align="end" [style.color]="errorMessage ? 'red' : ''">
        {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
      </mat-hint>
    </mat-form-field>

  </div>
</div>



<div class="input-view-2-grid"
  *ngIf="inputData?.isCreate  && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
  <div class="label-2">{{inputData.data.displayValue}}</div>
  <div class="grid-container">
    <input class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}" (focus)='true'
      [owlDateTimeTrigger]="dt" [owlDateTime]="dt" (input)="validationCallBack($event.target.value)"
      [(ngModel)]="inputData.data.defaultValue.datetime" (change)="emitChangeData($event);"
      [disabled]="(inputData.data?.name=='created_on') || (inputData.data?.name=='last_modified')">
    <!-- <img class="clock-cal" src="../../../../assets/img/clock_cal_icon.svg"> -->
    <mat-icon class="clock-cal" (click)="dt.open()">access_time</mat-icon>
  </div>
  <owl-date-time #dt></owl-date-time>
  <div [style.color]="errorMessage ? 'red' : ''">
    {{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}
  </div>
</div>

<!-- SECTION Table Create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo">
    <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
      class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
      (click)="inputData?.data.defaultValue.datetime=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';opendatetime()">
      <span *ngIf="!!inputData?.value.length">
        {{inputData.value | date : 'medium'}}
      </span>
    </span>
    <span *ngIf="inputData?.indexNo==isEdit">
      <input (focus)="true" id="datetime" #myInput class="input-view" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        [(ngModel)]="inputData.data.defaultValue.datetime" (input)="validationCallBack($event.target.value)">
      <owl-date-time #dt (afterPickerClosed)='emitChangeData();isEdit=0'></owl-date-time>
    </span>
  </div>
</ng-container>


<!-- Table View -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId">
    <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
      *ngIf="!(isEdit==inputData?.rowId?.id)" (dblclick)="inputData?.data.defaultValue.datetime=inputData?.value;opendatetime();
      (inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
      {{inputData?.value}}
    </span>
    <span *ngIf="inputData?.rowId.id===isEdit">
      <input (focus)="true" id="datetime" class="input-view" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
        [(ngModel)]="inputData.data.defaultValue.datetime" (input)="validationCallBack($event.target.value)">
      <owl-date-time #dt (afterPickerClosed)='emitChangeData();isEdit=0'></owl-date-time>

    </span>
  </div>
</ng-container>



<!-- View and Edit  -->
<div *ngIf="inputData?.isView" class="view-container">
  <div class="content-name">{{inputData.data?.displayValue | titlecase}}</div>
  <div class="content {{isEdit? 'edit-field':''}} {{errorMessage? 'invalid':''}}">
    <span *ngIf="!isEdit">{{inputData.data?.defaultValue.datetime | date : 'medium'}}</span>
    <span *ngIf="isEdit">
      <input (focus)="true" id='datetime' [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="input-view"
        [(ngModel)]="inputData.data.defaultValue.datetime" (input)="validationCallBack($event.target.value)">
      <owl-date-time #dt (afterPickerClosed)='emitChangeData();isEdit=0'></owl-date-time>
    </span>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;opendatetime();"
        *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)" color="primary">edit_outline
      </mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;emitChangeData();">check_circle_outline
      </mat-icon>
    </span>
  </div>
  <span [style.color]="errorMessage ? 'red' : ''"
    style="font-size:8px;">{{errorMessage ? (errorMessage | titlecase) :inputData.data.hint}}</span>
</div>
