.container {
  position: relative;
}

.time-container {
  z-index: 9999;
  position: absolute;
  left: 284px;
  top: 53px;
  background: #fff;
  width: 57%;
  height: 690%;
  justify-content: center;
  /* display: flex; */
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.item-container {
  display: inline-grid;
  display: inline-grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  justify-content: center;
  grid-gap: 7px;
}

.item-in-container {
  height: 100%;
}

.input {
  width: 80%;
  border-radius: 2px;
  border: 1px solid #b8b8b8;
  text-align: center;
  height: 35%;
}

.item-btn {
  text-align: center;
}

.bottom-btn {
  position: absolute;
  right: 0;
  bottom: 12px;
}


/* .content .edit-btn{
  top: -28px;
} */

.grid-container {
  position: relative;
}


/* .input-view-2-grid {
    position: relative;
} */

.clock-cal {
  position: absolute;
  text-align: right;
  float: right;
  right: 15%;
  color: #6b6666;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2%;
  top: 4%;
  font-size: 18px;
}
