<div class="search-container">
  <div>
    <input matInput class="btn search {{!!selectedSearchField?.name ? 'search-input-selected':''}}"
      [matMenuTriggerFor]="search" #menuTrigger="matMenuTrigger" [matAutocomplete]="auto"
      (click)="!selectedSearchField.name ?  menuTrigger.openMenu(): menuTrigger.closeMenu()" placeholder="Search"
      (input)="searchFunc($event.target.value);"
      [value]="!!apiObj?.search[selectedSearchField.name] ? apiObj?.search[selectedSearchField['name']] : '' ">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectEventEmit($event)">
      <!-- With out Advance -->
      <span *ngIf="(selectedSearchField['isAdvanced']=='0')">
        <mat-option *ngFor="let item of data" [value]="item">
          <span>{{item[selectedSearchField['name']]}}</span>
        </mat-option>
      </span>
      <!-- With advance -->
      <span *ngIf="(selectedSearchField['isAdvanced']!='0')">
        <mat-option *ngFor="let item of data" [value]="item">
          <span>{{item[isAdvanceField]}}</span>
        </mat-option>
      </span>
    </mat-autocomplete>
    <mat-icon class="search-icon btn-icon">search</mat-icon>

    <mat-icon *ngIf="apiObj?.search[selectedSearchField['name']]"
      (click)="apiObj?.search[selectedSearchField?.name]='';event.emit();" class="search-icon btn-icon search-clear">
      close
    </mat-icon>


  </div>

  <!-- Selected Search Item -->
  <div class="search-select-item-container">
    <span class="selected-search-item" *ngIf="!!selectedSearchField?.displayValue">
      <span> {{selectedSearchField['displayValue']}}</span>
      <mat-icon class="selected-search-close" (click)="selectedSearchField={};clearSearch();">close</mat-icon>
    </span>
  </div>
</div>
<!-- Search menu item list -->
<mat-menu #search="matMenu">
  <p class="search-select-hint">Select the field, for searching on it</p>
  <span *ngFor="let item of inputData">
    <button mat-menu-item (click)="searchFieldSelected(item)" *ngIf="!!item?.name">{{item?.displayValue}}
    </button>
  </span>
</mat-menu>
