.btn {
  margin-right: 10px;
  color: #706d6d;
  font-weight: 400;

}

.btn-icon {
  font-size: 20px;
}
.search-container{
  display: grid;
  grid-template-columns: 66% 35%;
}

.search-select-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
}

.search {
  width: 200px;
  height: 34px;
  transition: width .4s;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 0px 10px;
  margin-right: 10px;
}

.search-input-selected {
  border: 1px solid var(--color-primary);
}

.search-select-colunm-th {
  border: 1px solid var(--color-primary);
  border-bottom: 0px;
}

.search-select-colunm-td {
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.search-icon {
  margin: 8px -42px;
  padding-top: 0px;
  position: absolute;
  color: #797979;
}

.search-clear {
  font-size: 12px;
  margin: 12px -51px;
  cursor: pointer;
  color: var(--color-warn);
}

.selected-search-item {
  font-size: 12px;
  background: var(--color-primary);
  padding: 3px 8px;
  border-radius: 18px;
  color: #fff;
  display: grid;
  grid-template-columns: 80% 20%;
  width: max-content;
}

.selected-search-close {
  font-size: 13px;
  height: 0px;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
}

.search-select-hint {
  margin: 0;
  font-size: 10px;
  padding: 2px 21px 0px 12px;
  color: red;
}
