::ng-deep .content .mat-select-trigger {
  padding: 6px 0px;
}

.input-height {
  height: 39px;
}


/* select input */

.input-select {
  /* background: #d2d2d247; */
  padding: 8px 10px;
  font-size: 14px;
  width: 95%;
  border-radius: 4px;
  height: 100%;
  border: 1px solid #cecece;
  box-sizing: border-box;
  /* border: none; */
}

.input-select2 {
  background: #d2d2d247;
  padding: 8px 10px;
  font-size: 14px;
  width: 95%;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid #cecece; */
  border: none;
}

.input-select:hover {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.input-view-2:hover {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}
