<div>
  <div
    *ngIf="inputData?.isCreate && ((inputData.fieldViewType=='3'|| inputData.fieldViewType=='4') || !inputData?.fieldViewType )">
    <!-- Drop Down -->
    <mat-form-field appearance="{{inputData.fieldViewType=='3'?'':'outline'}}" class="full-width"
      (click)="getOption('');">
      <mat-label>{{inputData.data.displayValue}}</mat-label>
      <!-- <mat-label> {{inputData.data.optionValue}}</mat-label> -->
      <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData($event)" *ngIf="!isAdvanced">
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
        </mat-option>
      </mat-select>
      <span *ngIf="isAdvanced">
        <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
          (input)="getOption($event.target.value)" [(ngModel)]='displayName'>
        <mat-autocomplete #auto="matAutocomplete"
          (optionSelected)='selectedValue($event.option.value);emitChangeData()'>
          <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
            {{item[commonService.toCamelCase(advanced.fieldName)]}}
          </mat-option>
        </mat-autocomplete>
      </span>
      <!-- <mat-hint align="end">{{inputData.data.hint}}</mat-hint> -->
    </mat-form-field>
  </div>


  <div class="input-view-2-grid"
    *ngIf="inputData?.isCreate && (inputData.fieldViewType=='1'|| inputData.fieldViewType=='2')">
    <div class="label-2">{{inputData.data.displayValue}}</div>
    <div>
      <div class="input-select" *ngIf="!isAdvanced && inputData.fieldViewType=='1'">
        <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData($event)">
          <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
            *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
          </mat-option>
        </mat-select>
      </div>
      <div class="input-select2" *ngIf="!isAdvanced &&  inputData.fieldViewType=='2'">
        <mat-select (valueChange)="inputData.data.defaultValue=$event;emitChangeData($event)">
          <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
            *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">{{item}}
          </mat-option>
        </mat-select>
      </div>
      <span *ngIf="isAdvanced" (click)="getOption('')">
        <input type="{{inputData.data.type}}" class="{{inputData.fieldViewType=='1'?'input-view-2-1':'input-view-2-2'}}"
          [matAutocomplete]="auto" (input)="getOption($event.target.value)" [(ngModel)]='displayName'>
        <mat-autocomplete #auto="matAutocomplete"
          (optionSelected)='selectedValue($event.option.value);emitChangeData();selectedItem=$event.option.value'>
          <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
            {{item[commonService.toCamelCase(advanced.fieldName)]}}
          </mat-option>
        </mat-autocomplete>
      </span>
    </div>
    <div class="error-2">
      {{inputData.data.hint}}
    </div>
  </div>

</div>
<div *ngIf="inputData?.isMethod=='default-priveiw'">
  <!-- Default -->
  <mat-form-field appearance="outline" class="full-width" (click)="getOption('');">
    <mat-label>Default Value </mat-label>

    <!-- NON ADVANCED OPTIONS -->
    <mat-select placeholder="Default Value :" *ngIf="!isAdvanced">
      <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
        *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item.split('::')[0]"
        (click)="inputData.data.defaultValue=item.split('::')[0]">{{item.split('::')[0]}}</mat-option>
    </mat-select>
    <!-- ADVANCED OPTIONS -->
    <input type="text" placeholder="search..." matInput [matAutocomplete]="auto"
      (input)="getOption($event.target.value)" *ngIf="isAdvanced">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='emitChangeData($event.option.value)'>
      <mat-option *ngFor="let item of (inputData.data.optionValue+'').split(',')" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<!-- Section table create -->
<ng-container>
  <div *ngIf="inputData?.isTableCreate && !!inputData?.indexNo" (click)="getOption('');">
    <span *ngIf="!isAdvanced">
      <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
        class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}" *ngIf="!(isEdit==inputData?.indexNo)"
        (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';isOpenSectionSelect()">
        {{inputData?.value | titlecase}}
      </span>
      <mat-select #myInputSectionTable *ngIf="inputData?.indexNo==isEdit " class="input-view"
        [(ngModel)]="inputData.data.defaultValue" (valueChange)="emitChangeData($event);isEdit=0;"
        value="{{inputData.data.defaultValue}}" (scroll)="scroll($event)">
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">
          {{item | titlecase}}</mat-option>
      </mat-select>
    </span>
    <span *ngIf="isAdvanced">

      <span id="{{inputData?.indexNo+'_'+inputData?.data.name}}"
        class="table-view {{ !inputData?.value.length ? 'no-content-padding-table' :''}}"
        *ngIf="!(isEdit==inputData?.indexNo)"
        (click)="inputData?.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.indexNo:'';isOpenSectionSelect()">
        <span *ngFor="let item of inputData.value">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </span>
      </span>

      <span *ngIf="inputData?.indexNo==isEdit">
        <input type="text" placeholder="search..." id="advancedSelect" matInput [matAutocomplete]="auto"
          (input)="getOption($event.target.value)" [(ngModel)]='displayName'>
      </span>
      <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)='selectedValue($event.option.value);emitChangeData($event.option.value)'>
        <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </mat-option>
      </mat-autocomplete>
    </span>
  </div>
</ng-container>


<!-- Table view edit -->
<ng-container>
  <div *ngIf="inputData?.isTableView && !!inputData?.rowId" (click)="getOption('');">
    <!-- NON ADVANCED-->
    <span *ngIf="!isAdvanced">

      <span class="table-view {{ !inputData?.value ? 'no-content-padding-table' :''}}"
        *ngIf="!(isEdit==inputData?.rowId?.id) "
        (dblclick)="inputData.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
        {{inputData?.value | titlecase}}
      </span>
      <mat-select #myInput *ngIf="inputData?.rowId.id==isEdit" class="input-view" (click)="getOption('');"
        [(ngModel)]="inputData.data.defaultValue" (valueChange)=" emitChangeData($event);isEdit=0;"
        (scroll)="scroll($event)">
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item">
          {{item}}</mat-option>
      </mat-select>
    </span>
    <!--ADVANCED  -->
    <span *ngIf="isAdvanced">
      <span class="table-view {{ !inputData?.value.length ? 'no-content-padding-table' :''}}"
        *ngIf="!(isEdit==inputData?.rowId?.id) "
        (dblclick)="inputData.data.defaultValue=inputData?.value;(inputData.data[currentUser.designationId+'Access']==2)?isEdit=inputData?.rowId?.id:''">
        <span *ngFor="let item of inputData.value">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </span>
      </span>
      <span *ngIf="inputData?.rowId.id==isEdit">
        <input type="text" placeholder="search..." id="advancedSelect" class="input-view" matInput
          [matAutocomplete]="auto" (input)="getOption($event.target.value)" [(ngModel)]='displayName'>
      </span>
      <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)='selectedValue($event.option.value);emitChangeData($event.option.value);'>
        <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </mat-option>
      </mat-autocomplete>
    </span>
  </div>
</ng-container>


<!-- View or Edit -->
<div *ngIf="inputData?.isView" class="view-container" (click)="getOption('');">
  <div class="content-name">{{inputData.data?.displayValue}}</div>
  <div class="content {{isEdit? 'edit-field':''}}">
    <span *ngIf="!isAdvanced">
      <span *ngIf="!isEdit">{{inputData.data?.defaultValue}}</span>
      <!-- NON ADVANCED OPTION -->
      <mat-select #myInput *ngIf='isEdit ' class="input-view" [(ngModel)]="inputData.data.defaultValue"
        (valueChange)="emitChangeData($event);" value="{{inputData.data.defaultValue}}" (scroll)="scroll($event)">
        <mat-option [style.color]="(inputData.data.colorCodes+'').split(',')[i]"
          *ngFor="let item of (inputData.data.optionValue+'').split(',');index as i" [value]="item.split('::')[0]">
          {{item.split('::')[0] | titlecase}}</mat-option>
      </mat-select>
    </span>
    <!--ADVANCED OPTION -->
    <span *ngIf="isAdvanced">
      <span *ngIf="!isEdit">
        <span *ngFor="let item of inputData.data?.defaultValue ">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </span>
      </span>
      <span *ngIf="isEdit">
        <input type="text" placeholder="search..." id="advancedSelect" class="input-view input-height" matInput
          [matAutocomplete]="auto" (input)="getOption($event.target.value)" [(ngModel)]='displayName'>
      </span>
      <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)='selectedValue($event.option.value);emitChangeData($event.option.value)'>
        <mat-option *ngFor="let item of inputData.data.optionValue" [value]="item">
          {{item[commonService.toCamelCase(advanced.fieldName)]}}
        </mat-option>
      </mat-autocomplete>
    </span>
    <span class="edit-btn">
      <mat-icon (click)="isEdit=true;" *ngIf="!isEdit && (inputData.data[currentUser.designationId+'Access']==2)"
        color="primary">
        edit_outline</mat-icon>
      <mat-icon *ngIf="isEdit" class="done-btn" (click)="isEdit=false;fieldIsOpen=false;">check_circle_outline
      </mat-icon>
    </span>
  </div>
</div>
