.edit-process-row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.edit-input-container {
  display: grid;
  grid-template-rows: 20px auto;
  grid-gap: 7px;
  box-sizing: border-box;
  font-size: 13px;
  color: #585858;
}

.edit-process-input {
  background: transparent;
  border: 1px solid #c8c8c8a3;
  border-radius: 3px;
  padding: 7px 4px;
  font-size: 14px;
  width: 80%;
  height: 20px;
}

.edit-process-input:hover {
  border: 1px solid #989191;
}

.edit-process-input:focus {
  border: 1px solid var(--color-primary);
}

.cate-row {
  box-sizing: border-box;
  font-size: 13px;
  color: #585858;
}

.cate-row-p {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
}

.span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.span-clear {
  font-size: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.span-clear-head {
  display: flex;
  justify-content: flex-end;
}

.span-clear:hover {
  background: #ededed;
}

.add-cat {
  color: var(--color-primary);
  cursor: pointer;
  margin-top: 5px;
  width: max-content;
  padding: 4px 4px;
}

.add-cat:hover {
  background: #ededed;
}

.add-input {
  background: transparent;
  border: 1px solid #dadada;
  border-radius: 2px;
  height: 18px;
  display: flex;
  align-items: center;
}

.process {
  margin: 11px 0px;
  width: max-content;
  display: grid;
  grid-template-columns: auto auto;
}

.layout-row {
  display: grid;
  grid-template-columns: 20% 20% 20% auto;
}

.preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-container {
  display: grid;
  grid-template-rows: max-content calc(100% - 60px);
  position: relative;
  height: 100%;
}

.preview-container-row-head {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 10px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .2), 0 3px 3px -2px rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);

}

.disply-flex {
  display: flex;
  align-items: center;
}

.preview-clear {
  justify-content: flex-end;
}

.preview-colunm-contaainer {
  display: grid;
  grid-template-columns: 20% 80%;
  height: calc(100% - 60px);
  top: 60px;
  position: absolute;
  width: 100%;
}

.preview-sidebar {
  border-right: 1px solid #d2d2d2;
}

.preview-sidebar-p {
  background: var(--color-primary);
  margin: 0;
  padding: 13px;
  color: #fff;
  cursor: pointer;
}
.togle{
  width: max-content;
}

.p-appearance{
  font-size: 13px;
  margin-left: 3%;
  color: var(--color-accent);
}
