<div *ngIf="!!data">
  <div>
    <p class="process">Process </p>
    <div class="edit-process-row">

      <div class="edit-input-container">
        <label>Name</label>
        <input class="edit-process-input" (change)="updateDataTable()" [(ngModel)]="data.name" type="text">
      </div>

      <div class="edit-input-container">
        <label>Description</label>
        <input class="edit-process-input" (change)="updateDataTable()" [(ngModel)]="data.description" type="text">
      </div>

      <div class="edit-input-container">
        <label>Group</label>
        <span>
          <input matInput [matAutocomplete]="Group" class="edit-process-input"
            (click)="getAllGroup($event.target.value)" (input)="getAllGroup($event.target.value);"
            (change)="updateDataTable()" [(ngModel)]="data.groupName" type="text">
          <mat-autocomplete #Group="matAutocomplete" (optionSelected)="groupOptionSelect($event);">
            <mat-option *ngFor="let option of groupList" [value]="option">{{option.name}}</mat-option>
          </mat-autocomplete>
        </span>
      </div>

      <div class="edit-input-container">
        <label>Icon</label>
        <input matInput [matAutocomplete]="icon" class="edit-process-input" (change)="updateDataTable()"
          [(ngModel)]="data.icon" type="text" (input)="iconsFilter($event.target.value)">
        <mat-autocomplete #icon="matAutocomplete" (optionSelected)="iconOptionSelect($event);">
          <mat-option *ngFor="let icon of filterIconList" [value]="icon">
            <mat-icon>{{icon}}</mat-icon> <span>{{icon | titlecase}}</span>
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="edit-input-container">
        <label>Categories</label>
        <div>
          <p class="cate-row-p" *ngFor="let item of data?.categoriesList;index as indexNo">
            <span class="span" *ngIf="item?.name?.length">
              {{item.name}}
            </span>
            <span class="span" *ngIf="!item?.name?.length">
              <input id="{{indexNo}}input" matInput (click)="getAllDataTable($event.target.value)"
                (input)="getAllDataTable($event.target.value);" [matAutocomplete]="dataTableAuto" class="add-input" />
              <mat-autocomplete #dataTableAuto="matAutocomplete" (optionSelected)="addCategoriesListObject($event);">
                <mat-option *ngFor="let option of dataTableList" [value]="option">{{option.name}}</mat-option>
              </mat-autocomplete>
            </span>

            <span class="span-clear-head" (click)="removeCategoriesListObject(indexNo)">
              <mat-icon class="span span-clear">clear</mat-icon>
            </span>
          </p>
          <p class="cate-row-p add-cat" (click)="addCategoriesList()">
            Add categories +
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Layout design -->
  <div>
    <p class="process">Layout</p>
    <div class="layout-row">
      <div class="edit-input-container">
        <label>Width</label>
        <input class="edit-process-input" min="20" max="98" (change)="widthAndHeight();" [(ngModel)]="data.width"
          type="number">
      </div>

      <div class="edit-input-container">
        <label>Height</label>
        <input class="edit-process-input" min="20" max="98" (change)="widthAndHeight(); " [(ngModel)]="data.height"
          type="number">
      </div>

      <div class="edit-input-container">
        <label>Hide side-bar?</label>
        <mat-slide-toggle class="togle" [checked]="!!(data.sideBarVisible)" color="primary"
          (change)="data.sideBarVisible=+($event.checked);updateDataTable()"></mat-slide-toggle>
        <!-- <input class="edit-process-input" min="20" max="98" (change)="widthAndHeight(); " [(ngModel)]="data.height"
          type="number"> -->
      </div>
      <div class="preview-btn">
        <button mat-button (click)="previewLayout(preview)">Preview</button>
      </div>
    </div>
  </div>

  <!-- Notification  -->
  <div>
    <p class="process"> Notification </p>
    <app-notification-config [inputData]="dataTable"></app-notification-config>
  </div>

  <!-- Appearance -->
  <div>
    <p class="process"> <span>Appearance</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </p>
    <mat-tab-group>
      <mat-tab label="Field">
        <div class="">
          <p class="p-appearance">Field appearance</p>
          <app-appearance [inputData]="data?.fieldViewType" (event)="data.fieldViewType=$event;updateDataTable()">
          </app-appearance>
        </div>
      </mat-tab>
      <mat-tab label="Table">
        <div>
          <p class="p-appearance">Table appearance</p>
          <app-table-appearance [inputData]="data?.tableViewType" (event)="data.tableViewType=$event;updateDataTable()">
          </app-table-appearance>
        </div>
      </mat-tab>
      <mat-tab label="Table Field View Order">
        <div>
          <app-table-field-order [inputData]="dataTable"></app-table-field-order>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>












<!-- Preview -->
<ng-template #preview>
  <div class="preview-container">
    <!-- Head -->
    <div class="preview-container-row-head">
      <div class="disply-flex">
        {{data.name}}
      </div>
      <div class="disply-flex preview-clear">
        <button mat-icon-button (click)="dialogRef.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <div class="preview-colunm-contaainer">
      <!-- side bar -->
      <div class="preview-sidebar" *ngIf="!data.sideBarVisible">
        <p class="preview-sidebar-p">General Info</p>
      </div>

      <div>
        <p>General Info</p>
      </div>
    </div>

  </div>
</ng-template>
